@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 광고/제휴 문의
############################## */

/*--------------------------------------------------------------------------------
	# 광고상품
---------------------------------------------------------------------------------*/
.cont_ad[class*="img"] {padding-left:584px;}
.cont_ad.img1 {height:974px; background:url("../img/adver/visual_adver1.png") no-repeat;}
.cont_ad.img2 {height:823px; background:url("../img/adver/visual_adver2.png") no-repeat;}
.cont_ad.img3 {height:474px; background:url("../img/adver/visual_adver3.png") no-repeat;}
.cont_ad .tbl_type1 > tbody > tr > * {padding:7px 10px; height:36px;}
.tit_type + .cont_ad {margin-top:14px;}