@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 회사소개 
############################## */

/*--------------------------------------------------------------------------------
	# 레이아웃
---------------------------------------------------------------------------------*/
body {overflow-y:scroll;}

/*** HEADER ***/
.header {width:100%; border-bottom:1px solid #cdd0d3; overflow:hidden;}
.header > .inner {width:1100px; height:66px; margin:0 auto; position:relative;}
.header > .inner:after {content:''; display:block; clear:both;}
.header > .inner > h1 {border-left:1px solid #cdd0d3; border-right:1px solid #cdd0d3; display:inline-block;}
.header > .inner > h1 > a {display:block;}
.header > .inner > ul {position:absolute; top:50%; margin-top:-9.5px; right:-10px;}
.header > .inner > ul:after {content:''; display:block; clear:both;}
.header > .inner > ul > li {padding:0 10px; float:left; position:relative;}
.header > .inner > ul > li + li:before {content:''; width:1px; height:10px; background-color:#dee0e2; position:absolute; top:5px; left:0;}
.header > .inner > ul > li > a {font-size:12px; letter-spacing:-0.04em; color:#020219;}

/*** content ***/
.content {width:1100px; margin:0 auto; overflow:hidden;}
.inner {position:relative; overflow:hidden;}

/*** LNB ***/
.content .lnb {width:184px; min-height:750px; height:100%; border-left:1px solid #cdd0d3; border-right:1px solid #cdd0d3; position:absolute; top:0; left:0;}
.content .lnb .menu > ul li {position:relative;}
.content .lnb .menu > ul li a {padding:13px 20px; border-bottom:1px solid #cdd0d3; font-weight:700; font-size:16px; line-height:1.4; color:#020219; position:relative; display:block;}
.content .lnb .menu > ul li a.on {font-weight:700; color:#fff; background-color:#24aae1;}
.content .lnb .menu > ul li a.on:before {content:""; position:absolute; left:-1px; top:0; right:-1px; bottom:0; border:1px solid #24aae1;}
.content .lnb .menu > ul > li > ul {overflow:hidden;opacity:0;height:0;padding-bottom:2px;}
.content .lnb .menu > ul > li > ul > li > a {border-bottom:0; padding:12px 30px; font-weight:400; font-size:14px;}
.content .lnb .menu > ul > li > ul > li:last-child a {border-bottom:1px solid #cdd0d3;}
.content .lnb .menu > ul > li > a:nth-last-child(2):first-child {padding-right:30px;}
.content .lnb .menu > ul > li > a:nth-last-child(2):first-child:after {content:'';display:block;position:absolute;top:50%;right:17px;width:11px;height:7px;background:url('../img/company/icon_set.png') no-repeat -40px -69px;}
.content .lnb .menu > ul > li > a.open {font-weight:700;}
.content .lnb .menu > ul > li > a.open:nth-last-child(2):first-child:after {background-position:-40px -58px;}
.content .lnb .menu > ul > li > a.open + ul {opacity:1;height:auto;padding-bottom:2px;}

/*** article ***/
article {width:884px; margin:43px 0 40px 30px; float:right;}

/*** FOOTER ***/
footer {width:100%; background-color:#fff; border-top:0; border-top:1px solid #ccccd1; overflow:hidden;}
footer > .inner {width:1100px; margin:0 auto; padding:25px 0; position:relative;}
footer > .inner dl:after {content:''; display:block; clear:both;}
footer > .inner dl > * {float:left;}
footer > .inner dd {padding-left:40px; color:#8d8d92; letter-spacing:-0.07em;}
footer > .inner dd li {margin-right:5px; color:#020219; display:inline-block; vertical-align:middle;}
footer > .inner dd li:before, footer > .inner dd address b:nth-child(2):before {content:""; width:1px; height:11px; margin:-2px 8px 0 3px; background-color:#bdc1c5; vertical-align:middle; display:inline-block;}
footer > .inner dd li:first-child:before {content:none;}
footer > .inner dd address b {font-weight:700;}
footer > .inner dd address b:nth-child(2) {padding-left:5px;}
footer > .inner dd small {margin-top:8px; letter-spacing:-0.01em; display:block;}

footer address b + b:before {content:''; width:1px; height:11px; background-color:#c1c5c8; display:inline-block; vertical-align:middle;  margin:0 8px;}


/*** footer : partner 슬라이드 ***/
.slide1.partner {height:60px;background:#f3f4f5;}
.slide1.partner .slide_area {overflow:hidden;position:relative;margin:0 auto;padding:0 45px;width:1100px;box-sizing:border-box;}
.slide1.partner .slide_area:before,.slide1.partner .slide_area:after {content:'';display:block;position:absolute;top:0;bottom:0;z-index:1;width:40px;background:#f3f4f5;}
.slide1.partner li {width:202px;}
.slide1.partner li img {width:100%;}
.slide1.partner .box .btn_prev, .slide1.partner .box .btn_next {top:50%; margin:-13px 0;}
.slide1.partner .box .btn_prev, .slide1.partner .slide_area:before {left:0;}
.slide1.partner .box .btn_next, .slide1.partner .slide_area:after {right:0;}


/*--------------------------------------------------------------------------------
	# 공통
---------------------------------------------------------------------------------*/
/*** 슬라이드 ***/
.slide1 {overflow:hidden; position:relative;}
.slide1 .list {display:-webkit-box; display:-ms-flexbox; display:flex;}
.slide1 .list > li {position:relative; -ms-flex-shrink:0 !important; flex-shrink:0 !important;flex-basis:auto !important;}
.slide1 .list > li .group {display:inline-block; vertical-align:middle;}
.slide1 .list a.btn {display:block; margin:20px auto 0; width:108px; height:32px;  font-weight:700; font-size:14px; line-height:32px; color:#fff; text-align:center; border:1px solid #fff; border-radius:3px;}
.slide1 .list a.btn:hover {color:#020219; background-color:#fff;}
.slide1 .list .hide + a.btn,
.slide1 .list img + a.btn {position:absolute; left:50%; bottom:112px; margin-top:0; margin-left:-55px;}
.slide1 .indicator {position:absolute; left:0; right:0; bottom:30px; padding-left:40px; height:8px; text-align:left;}
.slide1 .indicator li {width:8px; height:100%; display:inline-block;}
.slide1 .indicator li + li {margin-left:4px;}
.slide1 .indicator button {width:100%; height:100%; line-height:999px; border-radius:10px; border:1px solid #fff; vertical-align:top; overflow:hidden;}
.slide1 .indicator li.on button {background-color:#fff;}
.slide1 .indicator2 {display:table; table-layout:fixed; width:100%;}
.slide1 .indicator2:after {display:none;}
.slide1 .indicator2 > li {display:table-cell; text-align:center;}
.slide1 .indicator2 > li > button {position:relative; height:48px; width:100%; background:#fff; font-size:15px;}
.slide1 .indicator2 > li > button:before {content:''; display:block; position:absolute; top:10px; left:1px; width:1px; height:24px; background:#ccc;}
.slide1 .indicator2 > li.on > button {background:#2096ce; color:#fff;}
.slide1 .indicator2 > li.on > button:before, .slide1 .indicator2 > li.on + li > button:before, .slide1 .indicator2 > li:first-child > button:before {display:none;}
.slide1 .box > button {overflow:hidden; position:absolute; top:12px; width:26px; z-index:3; height:26px; margin-top:0; border:0; border-radius:50%; opacity:1; line-height:999px; background-color:rgba(2,2,25, 0.16);}
.slide1 .box > button:before {content:""; position:absolute; top:50%; width:8px; height:8px; border:solid #fff; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.slide1 .box > button:not(.disabled):hover {background-color:rgba(0,0,0, 1);}
.slide1 .box > button.disabled {opacity:0.5; pointer-events:all;}
.slide1 .box > .btn_prev {left:auto; right:46px; margin-left:0; transform:rotate(0); -webkit-transform:rotate(0);}
.slide1 .box > .btn_next {right:12px; margin-right:0; transform:rotate(0); -webkit-transform:rotate(0);}
.slide1 .box > .btn_prev:before {left:50%; margin:-5px 0 0 -3px; border-width:0 0 2px 2px;}
.slide1 .box > .btn_next:before {right:50%; margin:-5px -3px 0 0; border-width:2px 2px 0 0;}

/* IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	.slide1 .list:after {clear:both; content:""; display:block;}
	.slide1 .list > li {position:relative; float:left;}
} 

/*** 탭 ***/
.tab_type:not([data-tab="uitabinfo"]) {margin-bottom:20px;}
.tab_type {width:100%; border-radius:3px 3px 0 0; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; overflow:hidden;}
.tab_type li {position:relative; text-align:center; border-top:1px solid #cdd0d3; border-bottom:1px solid #2096ce; background-color:#eff2f6; vertical-align:middle; transition:background-color 0.2s ease; -webkit-transition:background-color 0.2s ease; flex:1; justify-content:center;}
.tab_type li:first-child {border-radius:3px 0 0 0; border-left:1px solid #cdd0d3;}
.tab_type li:last-child {border-radius:0 3px 0 0; border-right:1px solid #cdd0d3;}
.tab_type li:after {content:""; position:absolute; right:0; top:50%; width:1px; height:16px; margin-top:-8px; background-color:#cdd0d3;}
.tab_type li:last-child:after {display:none;}
.tab_type li a, .tab_type li button {width:100%; height:100%; font-weight:700; font-size:15px; color:#5b646e; display:block; box-sizing:border-box;}
.tab_type li a:before, .tab_type li button:before {content:""; width:1px; height:100%; min-height:48px; margin-right:-1px; vertical-align:middle; display:inline-block;}
.tab_type li a:after, .tab_type li button:after {content:""; position:absolute; left:-1px; right:0; top:-1px; bottom:0; border:0 solid #2096ce;}
.tab_type li a span {margin:13px 0;vertical-align:middle; display:inline-block;}
.tab_type li.on {padding-bottom:1px; border-bottom:0; background-color:#fff; z-index:5;}
.tab_type li.on:after {display:none;}
.tab_type li.on a, .tab_type li.on button {color:#2096ce;}
.tab_type li.on a:after, .tab_type li.on button:after {border-width:1px 1px 0 1px; background-color:#fff; z-index:-1;}
.tab_type li.on:first-child a:after, .tab_type li.on:first-child button:after {border-radius:3px 0 0 0;}
.tab_type li.on:last-child a:after, .tab_type li.on:last-child button:after {right:-1px; border-radius:0 3px 0 0;}
.tab_type.ico {margin-bottom:20px;}
.tab_type.ico li:after {height:56px; margin-top:-28px;}
.tab_type.ico li a {padding-top:20px; font-size:13px; line-height:15px;}
.tab_type.ico li a:before {min-height:76px; vertical-align:top;}
.tab_type.ico li a > span {margin:0;}
.tab_type.ico li a > span:before {content:""; width:40px; height:32px; margin:0 auto; background-image:url("../img/common/icon_set1.png"); display:block;}
.form_search2 + .tab_type {margin-top:30px;}

/* IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {	.tab_type {display:table; table-layout:fixed;}
	.tab_type li {display:table-cell;}
	.tab_type li:after {position:static; margin:0 0 0 -1px; vertical-align:middle; display:inline-block;}
	.tab_type li a {vertical-align:middle; display:inline-block;}
	.tab_type li a:after {padding-top:200%;}
	.tab_type.ico li {vertical-align:top;}
	.tab_type.ico li:after {margin:0 0 0 -1px;}
}

/*** 테이블 ***/
[class*="tbl_type"] {position:relative; table-layout:fixed; width:100%;}
[class*="tbl_type"] > thead > tr > th,[class*="tbl_type"] > tbody > tr > th, [class*="tbl_type"] > tbody > tr > td, [class*="tbl_type"] > tfoot > tr > td {padding:14px 10px 14px; height:49px; border-top:1px solid #dee0e2; font-size:14px; line-height:1.4; text-align:center; box-sizing:border-box; letter-spacing:-0.07em}
[class*="tbl_type"] > thead th {background:#eff2f6; font-weight:700;}
[class*="tbl_type"] > thead th button.arr3 {position:relative; padding-right:15px; margin-right:-9px; font-weight:700; font-size:14px; color:#020219;}
[class*="tbl_type"] > thead th button.arr3:after {position:absolute; top:50%; right:0;}
[class*="tbl_type"] > thead th button.arr3 > span {display:block; font-weight:400;}
[class*="tbl_type"] > thead th > span {color:#5b646e;}
[class*="tbl_type"] > tbody > tr:first-child > th, 
[class*="tbl_type"] > tbody > tr:first-child > td {border-top-color:#adb1b6 !important;}
[class*="tbl_type"] td img {max-width:100%; height:auto !important;}
[class*="tbl_type"] + [class*="tbl_type"] {margin-top:20px;}
.txt_type1 + [class*="tbl_type"] {margin-top:16px;}
.tit_type + fieldset > [class*="tbl_type"]:nth-child(2) {margin-top:4px;}

[class*="tbl_type"] tr.align_left > th, [class*="tbl_type"] tr.align_left > td, 
[class*="tbl_type"] tbody.align_left > tr > th, [class*="tbl_type"] tbody.align_left > tr > td, 
[class*="tbl_type"] th.align_left, [class*="tbl_type"] td.align_left {text-align:left;}
[class*="tbl_type"] tr.align_right > th, [class*="tbl_type"] tr.align_right > td, 
[class*="tbl_type"] th.align_right, [class*="tbl_type"] td.align_right {text-align:right;}
[class*="tbl_type"] td.align_right > .txt_info2 dt {display:inline-block; min-width:100px; float:none;}
[class*="tbl_type"] td.align_right > .txt_info2 dd {display:inline-block;}
[class*="tbl_type"] tr.align_center > th, [class*="tbl_type"] tr.align_center > td {text-align:center;}
[class*="tbl_type"] th.align_center, [class*="tbl_type"] td.align_center {text-align:center !important;}


/*** 페이징 ***/
.paging {margin:16px 0; text-align:center;font-size:0;}
.paging a {color:#020219;}
.paging a:not(.btn_img2), .paging strong {display:inline-block; padding:6px 11px 5px; vertical-align:middle; font-size:14px;}
.paging strong {color:#2096ce;text-decoration:underline; text-underline-position:under;}
.paging .btn_img.btn_prev {margin-right:13px;}
.paging .btn_img.btn_next {margin-left:13px;}
.paging .btn_img2 + .btn_img2 {margin-left:5px;}

/* 버튼 | 화살표 */
[class*="arr"]:after,.arr3:before,.arr4:before {content:''; display:inline-block; margin:-2px 0 0 5px; background:url("../img/company/icon_set.png") no-repeat 0 0; vertical-align:middle;}
.arr1:after, .arr3:before, .arr3:after {width:6px; height:10px; background-position:-20px -10px;}
.arr2:after, .arr4:before, .arr4:after {width:6px; height:10px; background-position:-30px -10px;}

[class*="btn_type"], [class*="btn_small"], [class*="btn_txt"], [class*="btn_img"] {display:inline-block; border-radius:3px; box-sizing:border-box;}
[class*="btn"]:disabled,.disabled {opacity:0.3; cursor:default; pointer-events:none;}
[class*="btn"]:disabled:hover,.disabled:hover {cursor:default;}
[class*="btn_type"] {font-weight:700;}
label[class*="btn_type"].choice_type2:not([class*="btn_white"]) {padding-left:24px;}
label[class*="btn_type"].choice_type2 > em:before {left:10px;}
label[class*="btn_type"].choice_type2 > em:after {left:14px;}
label[class*="btn_type"].choice_type2:not([class*="btn_white"]) > em {color:#fff; font-size:inherit;}

[class*="btn_img"] {position:relative; overflow:hidden; width:0; white-space:nowrap;}
.btn_img2 {padding-left:30px; height:32px; border:1px solid #dee0e2; border-radius:3px; background-color:#fff; vertical-align:middle; box-sizing:border-box;}
.btn_img2 {border-radius:50% !important;}

.btn_img2[class*="arr"] {border-color:#adb1b6;}
.btn_img2[class*="arr"]:not(:disabled):not(.disabled):hover {border-color:#24aae1;}
.btn_img2[class*="arr"]:before, .btn_img2[class*="arr"]:after {position:absolute;top:50%;left:50%;}
.btn_img2.arr1:after, .btn_img2.arr4:after {margin:-5px -2px;}
.btn_img2.arr2:after, .btn_img2.arr3:after {margin:-5px -4px;}
.btn_img2.arr3:before {margin:-5px 1px}
.btn_img2.arr4:before {margin:-5px -7px}
.btn_img2.arr1:not(:disabled):not(.disabled):hover:after,.btn_img2.arr3:not(:disabled):not(.disabled):hover:before, .btn_img2.arr3:not(:disabled):not(.disabled):hover:after {background-position:-40px -10px;}
.btn_img2.arr2:not(:disabled):not(.disabled):hover:after,.btn_img2.arr4:not(:disabled):not(.disabled):hover:before, .btn_img2.arr4:not(:disabled):not(.disabled):hover:after {background-position:-50px -10px;}

/*** 텍스트 ***/
p {font-size: 14px; line-height: 1.64;}
[class*="tit_type"] {position:relative; line-height:1.33; letter-spacing:-0.05em; font-weight:700;}
[class*="txt_type"] {letter-spacing:-0.05em;}
.tit_type2 {margin:27px 0 12px; font-size:18px;}
.tit_type3 {margin:26px 0 6px; font-size:16px;}
.tit_type3:first-child {margin-top:-4px;}
.txt_type1 {position:relative; margin:8px 0; font-size:14px; line-height:1.65; color:#020219; text-align:left;}
.txt_type1.t1, dl.txt_type1 {font-size:13px; line-height:1.6; color:#5b646e;}
.txt_type1 > dt {margin:3px 0; color:#020219; font-weight:700;}
.txt_type1.t1 > li:before, .txt_type1 > dd:before, p.txt_type1.t1:before, .txt_type1.t1 > p:before {content:""; display:block; position:absolute; top:10px; left:0; width:2px; height:2px; border-left:1px solid #dbddde; border-right:1px solid #a9acb1; border-radius:0; background:#5b646e;}
.txt_type1 > li, .txt_type1 > dd, p.txt_type1, .txt_type1 > p {position:relative; padding-left:8px;}


/*--------------------------------------------------------------------------------
	# HOME
---------------------------------------------------------------------------------*/
/* white - 레이아웃 */
body.home {overflow:visible;}
.float_layout {width:100%; height:100%; position:absolute; top:0; left:0; z-index:100;}
.float_layout .header, .float_layout .content .lnb .menu > ul li a, .float_layout .content .lnb, .float_layout .header > .inner > h1 {border-color:rgba(255, 255, 255, 0.3);}
.float_layout .header > .inner > ul > li + li:before {background-color:rgba(255, 255, 255, 0.3);}
.float_layout .header > .inner > ul > li > a, .float_layout .lnb .menu > ul li a {color:#fff;}
.float_layout .lnb .menu > ul > li > ul > li:last-child a {border-bottom:1px solid rgba(255, 255, 255, 0.3);}
.float_layout .lnb .menu > ul > li > a:nth-last-child(2):first-child:after {background-position:-55px -69px;}
.float_layout .lnb .menu > ul > li > a.open:nth-last-child(2):first-child:after {background-position:-55px -58px;}

.float_layout article {min-height:800px; max-height:1980px; margin:43px 30px 80px 0px; letter-spacing:-0.05em; text-align:center; position:relative;}
.float_layout article > img {padding-top:90px; font-weight:800; font-size:50px; display:inline-block;}

.home .container:before {content:''; width:950px; height:539px; background:url("../img/company/top_pattern.png") no-repeat; position:absolute; top:-57px; left:50%; margin-left:-380px; z-index:-1;}

/* slide */
.slide1[class*="slide_visual"] .box > button {position:absolute; top:50%; width:29px; height:29px; margin-top:-18px; border-radius:0; border:solid #fff; background:none; border-width:0 0 3px 3px; opacity:0.65; z-index:10;}
.slide1[class*="slide_visual"] .box > button:hover {opacity:1; background:none;}
.slide1[class*="slide_visual"] .box > button:before {display:none;}
.slide1[class*="slide_visual"] .btn_prev {left:50%; margin-left:-600px; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
.slide1[class*="slide_visual"] .btn_next {right:50%; margin-right:-600px; transform:rotate(-135deg); -webkit-transform:rotate(-135deg);}
.slide1[class*="slide_visual"] .indicator {padding:0; bottom:72px; text-align:center;}
.slide1.slide_visual {height:350px;}
.slide1.slide_visual .slide_area {overflow:hidden; position:absolute; left:0; width:100%; height:100%;}
.slide1.slide_visual .slide_area .box {height:100%;}
.slide1.slide_visual .list {height:100%;}
.slide1.slide_visual .list > li {width:1920px; height:100%; text-align:center; background-position:50% 50%; background-size:cover;}
.slide1.slide_visual .list > li:before {content:''; display:inline-block; margin-right:-4px; width:0; height:300px; vertical-align:middle;}
.slide1.slide_visual .list > li .group {width:1100px; color:#fff;}
.slide1.slide_visual .list > li strong, .slide1.slide_visual .list > li span {text-shadow:0 0 5px rgba(0,0,0,0.5)}
.slide1.slide_visual .list > li strong {display:block; font-size:40px;}
.slide1.slide_visual .list > li span {display:block; font-size:16px;}

.home .slide_visual {height:952px;}
.home .slide1.slide_visual .slide_area .box {height:100%;}
.home .slide1.slide_visual .list {counter-reset:ctn 0;}
.home .slide1.slide_visual .indicator, .home .slide1.slide_visual .total_page, .home .slide1.slide_visual .indicator .total_page:before {position:absolute; top:91.5%;}
.home .slide1.slide_visual .indicator {width:0; left:50%; margin-left:476px; line-height:20px; display:none;}
.home .slide1.slide_visual .indicator li {width:10px; position:absolute; opacity:0;}
.home .slide1.slide_visual .indicator li.on {opacity:1;}
.home .slide1.slide_visual .indicator li button {height:20px; border:0; border-radius:0; background-color:transparent; font-family:"SpoqaHanSans Bold"; font-size:20px; color:#fff;}
.home .slide1.slide_visual .indicator li:before {content:'0' counter(ctn); counter-increment:ctn 1; font-family:"SpoqaHanSans Bold"; font-size:21px; color:#fff; display:inline-block; vertical-align:middle;}
.home .slide1.slide_visual .indicator li.on button {background-color:transparent;}
.home .slide1.slide_visual .indicator:before, .home .slide1.slide_visual .indicator:after {opacity:0.5; position:absolute;}
.home .slide1.slide_visual .indicator:before {content:'04'; font-size:13px; color:#fff;  top:4px; left:42px;}
.home .slide1.slide_visual .indicator:after {content:''; width:1px; height:13px; background-color:#fff; transform:rotate(33deg); -webkit-transform:rotate(33deg); top:8px; left:32px;}


/*--------------------------------------------------------------------------------
	# article : 회사소개 > 회사개요
---------------------------------------------------------------------------------*/
article > h1, article .panel_center h2 {font-weight:700; font-size:23px;}
article [class^="panel"] {padding-top:35px;}
article .panel_center {text-align:center;}
article .panel1 {padding:35px 0 0 20px;}
article .panel2 {padding:35px 20px 0;}
cite {font-weight:700; font-size:28px; color:#4b4bac; line-height:38px; letter-spacing:-0.04em; text-align:center; display:inline-block;}
cite em {color:#0092ce;}
cite:before, cite:after {content:''; width:24px; height:24px; background:url("../img/company/company_set.png") no-repeat; display:inline-block;}
cite:before {background-position:0 -199px; margin:0 11px 11px 0;}
cite:after {background-position:-75px -278px; margin:0 0 -15px 13px;}
cite + .txt_type1 {padding:20px 0 30px;}
.panel_center .txt_type1 {font-size:15px; line-height:1.7; text-align:center;}
.txt_type1 .gap {padding-top:12px; display:block;}
.txt_type1 u {text-decoration:none; border-bottom:1px solid #020219;}
.txt_type1 i {font-weight:700; color:#0092ce;}

/* 테이블 */ 
.intro .tbl_type1 {border-bottom:1px solid #dee0e2;}
.intro .tbl_type1 tr > * {text-align:left !important;}
.intro .tbl_type1 tr > th {padding-left:34px;}
.intro .tbl_type1 tr > td {color:#5b646e;}

/* 사업영역 */
.intro .panel_center h2 {margin-top:8px;}
.intro .panel_center ul {margin:6px -8px -8px; counter-reset:ctn 0;}
.intro .panel_center ul li {width:270px; height:155px; padding:28px 0; margin:8px 4px 8px 8px; box-sizing:border-box; border:1px solid #dee0e2; font-weight:700; font-size:17px; line-height:23px; text-align:center; display:inline-block;}
.intro .panel_center ul li:hover {border-color:#24aae1;}
.intro .panel_center ul li:before {content:'0' counter(ctn); counter-increment:ctn 1; font-weight:700; font-size:14px; color:#0092ce; display:block;}
.intro .panel_center ul li a {margin-top:11px; padding:5px 14px; border:1px solid #adb1b6; border-radius:30px; font-weight:700; font-size:12px; display:inline-block;}
.intro .panel_center ul li:hover a {background-color:#24aae1; border-color:#24aae1; color:#fff;}


/*--------------------------------------------------------------------------------
	# article : 회사소개 > CEO 인사말
---------------------------------------------------------------------------------*/
.phrase {background:485px 97px url("../img/company/ceo.png") no-repeat;}
cite.cite_type {padding-top:13px; text-align:left; position:relative;}
/* cite.cite_type:before {position:absolute; top:-12px; left:0;} */
cite + strong {padding-top:19px; font-size:15px; line-height:25px; letter-spacing:-0.04em; display:block;}
.phrase .divide {padding:38px 5px 58px;}
.phrase .divide.t1 {padding:15px 5px 58px;}
.phrase .divide:after {content:''; display:block; clear:both;}
.phrase .divide .txt_type1 {width:50%; box-sizing:border-box; margin-left:-4px; font-size:14px; line-height:1.7; letter-spacing:-0.05em; text-align:justify; word-break:break-all; display:inline-block; vertical-align:top; float:left;}
.phrase .divide .txt_type1:first-child {padding-right:24px;}
.phrase .divide .txt_type1:last-child {padding-left:24px;}
.phrase .divide.t1 .txt_type1 {padding-left:0;}
.phrase .divide .txt_type1 .gap {padding-top:10px; display:block;}
.phrase .divide .txt_type1 :not(span) {font-weight:700;}
.phrase .divide .txt_type1 em {padding-top:34px; font-weight:400; font-size:14px; color:#a9acb1; letter-spacing:-0.05em; display:block;}
.phrase .divide .txt_type1 em > b {padding-left:8px; font-weight:700; font-size:28px; color:#020219; display:inline;}
.phrase .divide .txt_type1 dl {margin-top:55px; font-size:13px; line-height:1.6; color:#020219; position:relative;}
.phrase .divide .txt_type1 dl:after {content:''; width:100%; height:1px; background-color:#e6e7e9; position:absolute; bottom:87px; left:0;}
.phrase .divide .txt_type1 dl:before {content:''; display:block; clear:both;}
.phrase .divide .txt_type1 dl > * {font-weight:400; font-size:13px;}
.phrase .divide .txt_type1 dl dt {width:65px; height:70px; color:#8d8d92; float:left;}
.phrase .divide .txt_type1 dl dd {width:300px;}


/*--------------------------------------------------------------------------------
	# article : 회사소개 > 연혁
---------------------------------------------------------------------------------*/
.tab_history {margin-top:30px; position:relative;}
.tab_history > ul {border-top:0; background-color:transparent; text-align:center; position:absolute; top:-63px; left:50%; margin-left:-175px;}
.tab_history > ul.fixed {width:100%; min-width:1100px; position:fixed; top:0; left:0; margin-left:0; padding:0 0 10px 108px; z-index:10;}
.tab_history > ul.fixed:after {content:""; position:absolute; left:50%; top:0; width:905px; height:100%; margin-left:-418px; background-color:#fff; z-index:-1;}
.tab_history > ul li {border-radius:20px; display:inline-block; vertical-align:middle;}
.tab_history > ul li.on {background-color:#24aae1;}
.tab_history > ul li + li {margin-left:12px;}
.tab_history > ul li a {padding:7px 12px; font-size:14px; color:#020219; display:block;}
.tab_history > ul li.on a {color:#fff;}
.tab_history dl {width:50%; box-sizing:border-box; position:relative;}
.tab_history dl:before {content:''; width:2px; height:100%; position:absolute; top:14px; background-color:#dee2e5;}
.tab_history dl:nth-child(even) {padding-left:27px; margin-left:50%; text-align:left;}
.tab_history dl:nth-child(even):before {left:-1px;}
.tab_history dl:nth-child(odd) {padding-right:27px; margin-right:50%; text-align:right;}
.tab_history dl:nth-child(odd):before {right:-1px;}
.tab_history dl dt {padding-bottom:8px; font-family:'SpoqaHanSans'; font-size:24px;}
.tab_history dl dt:before {content:''; width:12px; height:12px; background-color:#dee2e5; border-radius:50%; position:absolute; top:13px;}
.tab_history dl:nth-child(even) dt:before {left:-6px;}
.tab_history dl:nth-child(odd) dt:before {right:-6px;}
.tab_history dl dd {font-size:13px; line-height:24px; letter-spacing:-0.1em;}

/* active style */
.tab_history [id^="history"].active dt:after {content:''; width:23px; height:4px; background:-300px -500px url("../img/company/company_set.png") no-repeat; position:absolute; top:17px;}
.tab_history #history1.active dt:after, .tab_history #history3.active dt:after {left:13px;}
.tab_history #history2.active dt:after {right:13px;}
.tab_history #history1.active > *, .tab_history #history3.active > * {padding-left:16px;}
.tab_history #history2.active > * {padding-right:16px;}
.tab_history dl.active:before {background-color:#5e5ed7;}
.tab_history dl.active + dl:not([class]) dt:before {background-color:#5e5ed7;}
.tab_history dl.active dt {color:#4b4bac;}
.tab_history dl.active dt:before {background-color:#5e5ed7;}


/*--------------------------------------------------------------------------------
	# article : 회사소개 > 비전
---------------------------------------------------------------------------------*/
.vision h2 {font-weight:700; font-size:23px;}
.vision .panel_center .txt_type1 {padding-bottom:0; margin-bottom:0;}
.vision .panel_center:nth-child(3) cite:before, .vision .panel_center:nth-child(3) cite:after {content:none;}
.vision .panel_center:nth-child(4) {margin-top:45px;}
.vision ul {text-align:center; position:relative;}
.vision ul:after {content:''; width:660px; height:1px; border-top:1px dashed #5b646e; position:absolute; top:50%; left:50%; margin-left:-330px;}
.vision ul li {width:126px; height:126px; margin:22px; background-color:#fff; border:3px solid #24aae1; border-radius:50%; font-weight:700; font-size:15px; position:relative; z-index:1; display:inline-block;}
.vision ul li:first-child {margin-left:0;}
.vision ul li:last-child {margin-right:0;}
.vision ul li:before {content:''; width:1px; height:100%; display:inline-block; vertical-align:middle;}
.vision ul li span {display:inline-block; vertical-align:middle;}
.vision ul li span:before {content:attr(data-txt); color:#2096ce; display:block;}

/*--------------------------------------------------------------------------------
	# article : 회사소개 > CI 소개
---------------------------------------------------------------------------------*/
.panel + .panel {padding-top:45px;}
.tit_type1 {padding-bottom:8px; font-weight:700; font-size:20px; border-bottom:1px solid #cdd0d3;}
h2 + .sign {margin-top:35px;}
.sign dl {width:50%; display:inline-block;}
.sign dl + dl {margin-left:-4px;}
.sign dl, .color {box-sizing:border-box; padding:0 20px; position:relative;}
.sign dt, .color dt {font-weight:700; font-size:18px; line-height:24px; color:#0092ce;}
.sign dt span {font-size:16px; color:#020219; display:block;}
.sign dd:nth-child(2) {margin-top:24px; display:block;}
.sign dd:last-child {position:absolute; top:6px; right:20px;}
.btn_down {padding:7px 11px 6px; border-radius:3px; background-color:#5e5ed7; font-weight:700; font-size:14px; color:#fff; display:block;}
.btn_down:after {content:''; width:18px; height:17px; margin-top:2px; margin-left:6px; background:-482px -183px url("../img/company/company_set.png") no-repeat; display:inline-block; vertical-align:top;}

.sign + .color {margin-top:54px;}
.color {display:block;}
.color dd {width:50%; margin-top:9px; padding:26px 30px 28px; box-sizing:border-box; color:#fff; display:inline-block;}
.color dd:nth-child(2) {background-color:#24aae1;}
.color dd:last-child {margin-left:-4px; background-color:#5b646e;}
.color dd span {width:40%; line-height:18px; display:inline-block; vertical-align:top;}
.color dd span:first-child {font-weight:700; font-size:15px;}
.color dd span:last-child {font-size:12px;}


/*--------------------------------------------------------------------------------
	# article : 회사소개 > 오시는 길
---------------------------------------------------------------------------------*/
.tab_type1 {padding-top:6px;}
.tab_location img {border:1px solid #dee0e2;}
.tab_location [data-tab="utab1"] {/* display:flex; -webkit-display:flex; flex-wrap:wrap; -webkit-flex-wrap:wrap; */}
.tab_location .txt_type1 {width:calc(100% - 8px); margin:0 0 18px; text-align:left; position:relative;}
.tab_location .txt_type1:before {content:none;}
.btn_print {width:97px; height:34px; font-weight:700; color:#020219; border:1px solid #2096ce; border-radius:3px; box-sizing:border-box; position:absolute; right:0; bottom:-5px;} 
.btn_print:before {content:''; width:19px; height:19px; margin:7px 7px 7px 10px; background:-500px -100px url("../img/company/company_set.png") no-repeat; display:inline-block; vertical-align:middle;}
.tab_location div[data-tab="utab1"] dl {width:50%; padding-left:58px; margin-top:23px; box-sizing:border-box; position:relative; display:inline-block; vertical-align:top; margin-right:-4px;}
.tab_location div[data-tab="utab1"] dl:before {content:''; width:47px; height:47px; background:url("../img/company/company_set.png") no-repeat; position:absolute; top:0; left:0;}
.tab_location div[data-tab="utab1"] dl.subway:before {background-position:-0 -50px;}
.tab_location div[data-tab="utab1"] dl.bus:before {background-position:-50px -50px;}
.tab_location div[data-tab="utab1"] dl.car:before {background-position:-100px -50px;}
.tab_location div[data-tab="utab1"] dl.car1 {margin-top:-70px;}
.tab_location div[data-tab="utab1"] dt {height:47px; line-height:47px; font-weight:700; font-size:16px;}
.tab_location div[data-tab="utab1"] dd {font-size:14px; color:#5b646e; line-height:23px;}
.tab_location div[data-tab="utab1"] dd:nth-child(2) {margin-top:-5px;}
.tab_location div[data-tab="utab1"] dd ul {padding-left:65px;}
.tab_location div[data-tab="utab1"] dd ul li + li, .tab_location div[data-tab="utab1"] dl.txt_type1 > dd + dd {margin-top:5px;}
.tab_location div[data-tab="utab1"] dd ul li > b {margin-left:-65px;}
.tab_location div[data-tab="utab1"] dd .c_black {color:#020219;}
.tab_location div[data-tab="utab1"] dd .c_green {color:#33a23d;}
.tab_location div[data-tab="utab1"] dd .c_blue {color:#395cb4;}
.tab_location div[data-tab="utab1"] dd .c_red {color:#eb1c12;}
.tab_location div[data-tab="utab1"] dd .c_orange {color:#fa5f2c;}
.tab_location div[data-tab="utab1"] dl.txt_type1 .txt_sub {color:#8693a0;}

.map_area:after {content:''; display:block; clear:both;}
.map_area li {width:430px; height:590px; border:1px solid #dee0e2; float:left; overflow:hidden;}
.map_area li + li {margin-left:20px;}
.map_area li:last-child img {position:relative;}
.map_area li.seoul img {top:-77px; left:-254px;}
.map_area li.busan img {top:-10px; left:-250px;}
.map_area li.daegu img {top:-42px; left:-290px;}
.map_area #Map {width:100%; height:100%; background-size:100%;}

[data-tab="utab1"] .map_area #Map {background-image:url('../img/company/location_seoul_fail.png');} 
[data-tab="utab2"] .map_area #Map {background-image:url('../img/company/location_busan_fail.png');} 
[data-tab="utab3"] .map_area #Map {background-image:url('../img/company/location_daegu_fail.png');} 
.gm-style .gm-style-iw-t {display:none !important;}

/* 윈도우팝업 : 일반 _ 인쇄하기 */
.pop_body {min-width:855px;}
.pop_print {height:855px; position:relative; margin:0; padding:60px 0 86px; box-sizing:border-box;}
.pop_print .pop_container {width:884px; margin:0; height:709px; box-sizing:border-box; overflow-x:hidden; overflow-y:scroll; float:none;}
.pop_print > header {position:absolute; top:0; left:0; right:0; padding:0 25px; height:60px; border-bottom:1px solid #adb1b6; box-sizing:border-box;}
.pop_print > header h1 {overflow:hidden; margin-top:19px; margin-left:17px; padding-left:124px; width:0; height:23px; white-space:nowrap; background:url("../img/company/print_logo.png") no-repeat}
.pop_print > header .btn_print {bottom:12px; right:25px;}
.pop_print > footer {position:absolute; bottom:0; left:0; right:0; height:86px; border-top:1px solid #dee0e2;}
.pop_print .tit_data {margin-bottom:9px; text-align:center; font-size:18px;}
.pop_print .tit_data b {font-family:'Spoqa Han Sans';}
.pop_print .btn_wrap1 {margin-top:20px; text-align:center;}
.pop_print .btn_wrap1 [class*="btn_"] {width:126px; height:40px; border-radius:4px; box-sizing:border-box; font-weight:700; font-size:15px;}
.pop_print .btn_wrap1 [class*="btn_"] + [class*="btn_"] {margin-left:8px;}
.pop_print .btn_wrap1 .btn_white {background-color:#fff; border:1px solid #adb1b6; color:#020219;}
.pop_print .btn_wrap1 .btn_blue {background-color:#2096ce; border:1px solid #2096ce; color:#fff;}


/*--------------------------------------------------------------------------------
	# article : 경영철학 > 소비자중심경영
---------------------------------------------------------------------------------*/
/* CCM이란? */
div[data-tab="utab1"] .area1 p {padding-top:0; font-size:14px; letter-spacing:-0.05em;}
div[data-tab="utab1"] .area1 + .area1 {padding-top:98px;}
.ccm .tit_type3 {font-size:18px;}
.ccm1 {text-align:center;}
.ccm1 p {text-align:left;}
.ccm1 img {padding-top:37px;}

.ccm2 {padding-top:5px;}
.ccm2 li {height:110px;}
.ccm2 li + li {padding-top:16px;}
.ccm2 li:before {content:''; width:201px; height:110px; border:1px solid #cdd0d3; box-sizing:border-box; display:inline-block; vertical-align:middle;}
.ccm2 li:first-child:before {background:url("../img/company/ccm1_2_1.png");}
.ccm2 li:nth-child(2):before {background:url("../img/company/ccm1_2_2.png");}
.ccm2 li:nth-child(3):before {background:url("../img/company/ccm1_2_3.png");}
.ccm2 li > img {border:1px solid #cdd0d3;}
.ccm2 li > dl {padding-left:20px; line-height:23px; letter-spacing:-0.05em; display:inline-block; vertical-align:middle;}
.ccm2 li > dl dt {font-weight:700; font-size:15px;}
.ccm2 li > dl dd {font-size:14px; color:#5b646e;}
.ccm2 li > dl dt + dd {padding-top:5px;}

.ccm3 {width:691px; margin:10px auto 0;}
.ccm3:after {content:''; display:block; clear:both;}
.ccm3 dl {width:231px; margin-right:-1px; float:left;}
.ccm3 dl dt {height:0; padding-top:260px; background-repeat:no-repeat; overflow:hidden;}
.ccm3 dl:first-child dt {background-image:url("../img/company/ccm1_3_1.png");}
.ccm3 dl:nth-child(2) dt {background-image:url("../img/company/ccm1_3_2.png");}
.ccm3 dl:nth-child(3) dt {background-image:url("../img/company/ccm1_3_3.png");}
.ccm3 dl dd {width:195px; font-size:13px; color:#5b646e; word-break:break-all;}
.ccm3 dl:first-child dd {padding-left:10px;}
.ccm3 dl:nth-child(2) dd {padding-left:20px;}
.ccm3 dl:nth-child(3) dd {padding-left:30px;}

.ccm div[data-tab="utab1"] .area1 .txt_type1 {margin:18px 0; font-size:18px; text-align:center;}
.ccm4:after {content:''; display:block; clear:both;}
.ccm4 li {margin-top:16px; float:left;}
.ccm4 li:first-child, .ccm4 li:nth-child(2) {margin-top:0;}
.ccm4 li:nth-child(odd) + li:nth-child(even) {margin-left:16px;}

/* CCO 인사말 */
div[data-tab="utab1"] .phrase {padding-top:15px; background-image:none; overflow:hidden;}

/* 비전&미션 */
div[data-tab="utab1"] .area3 {position:relative;}
div[data-tab="utab1"] .area3:after, div[data-tab="utab1"] .area3 > dd:after, div[data-tab="utab1"] .area3 > dd ul:after {content:''; display:block; clear:both;}
div[data-tab="utab1"] h3 + .area3 {margin:11px 0;}
div[data-tab="utab1"] .area3 + .area3 {padding-top:50px;}
div[data-tab="utab1"] .area3 > .tit_type3 {margin-top:0;}
div[data-tab="utab1"] .area3 > .tit_type3 b {color:#020219;}
div[data-tab="utab1"] .area3 > .tit_type3:before {content:''; width:100%; height:2px; background-color:#5b646e; display:block; margin-bottom:5px;}
div[data-tab="utab1"] .area3 > dt {width:105px; margin-left:-21px; padding-right:50px; font-weight:400; font-size:16px; float:left;}
div[data-tab="utab1"] .area3 > dd {width:730px; text-align:center; float:left;}
div[data-tab="utab1"] .area3 > dd span {width:447px; margin:0 auto; padding-bottom:10px; font-weight:700; font-size:30px; color:#393992; line-height:35px; display:block;}
div[data-tab="utab1"] .area3 > dd span em {color:#2096ce;}
div[data-tab="utab1"] .area3 > dd span:before {content:''; margin-bottom:-80px; padding-top:247px; background:url("../img/company/ccm3.png") no-repeat; display:block;}
div[data-tab="utab1"] .area3 > dd strong {font-weight:400; font-size:18px;}
div[data-tab="utab1"] .area3:nth-child(3) > dd b {color:#393992;}
div[data-tab="utab1"] .area3:nth-child(4) > dd .strategy {width:242px; height:162px; padding-bottom:24px; background-color:#e9f6fc; border-top:6px solid #50bbe7; display:inline-block; vertical-align:top; margin-right:-4px;}
div[data-tab="utab1"] .area3:nth-child(4) > dd .strategy + .strategy {margin-left:2px;}
div[data-tab="utab1"] .area3:nth-child(4) > dd .strategy strong {font-weight:700; padding:33px 0 10px; display:block;}
div[data-tab="utab1"] .area3:nth-child(4) > dd .strategy .txt_type1 li {margin-left:54px; font-size:13px;}
div[data-tab="utab1"] .area3:nth-child(5) > dd ul {padding:0 57px; text-align:center;}
div[data-tab="utab1"] .area3:nth-child(5) > dd ul li {display:inline-block; margin:0 4px;}
div[data-tab="utab1"] .area3:nth-child(5) > dd ul li:before {content:''; width:111px; height:111px; background:url("../img/company/company_set.png") no-repeat; display:block; margin:24px auto 10px;}
div[data-tab="utab1"] .area3:nth-child(5) > dd ul li:first-child:before {background-position:0 -600px;}
div[data-tab="utab1"] .area3:nth-child(5) > dd ul li:nth-child(2):before {background-position:-200px -600px;}
div[data-tab="utab1"] .area3:nth-child(5) > dd ul li:nth-child(3):before {background-position:-400px -600px;}
div[data-tab="utab1"] .area3:nth-child(5) > dd ul li:nth-child(4):before {background-position:-600px -600px;}
div[data-tab="utab1"] .area3:nth-child(5) > dd ul li:nth-child(5):before {background-position:-800px -600px;}
div[data-tab="utab1"] .area3:nth-child(6) {padding-top:100px;}
div[data-tab="utab1"] .area3:nth-child(6) > dd:before {content:''; width:648px; height:1px; margin:0 auto; background-color:#cdd0d3; position:absolute; top:50px; left:180px;}
div[data-tab="utab1"] .area3:nth-child(6) > dd:after {content:''; width:14px; height:11px; background:-400px -500px url("../img/company/company_set.png") no-repeat; position:absolute; top:49px; left:487px;}

/* 고객 서비스 현장 */
div[data-tab="utab1"] .area4 {padding-top:100px; height:883px; background:url("../img/company/ccm4_bg.png") no-repeat; overflow:hidden; text-align:center;}
div[data-tab="utab1"] .area4 h3 {padding-bottom:30px; font-weight:700; font-size:30px;}
div[data-tab="utab1"] .area4 h3 + .txt_type1 {padding-bottom:383px; background:center bottom url("../img/company/ccm4.png") no-repeat;}
div[data-tab="utab1"] .area4 .txt_type1 {text-align:center;}
div[data-tab="utab1"] .area4 .txt_type1 + .txt_type1 {margin-top:35px; padding-left:180px; text-align:left;}


/*--------------------------------------------------------------------------------
	# article : 경영철학 > 윤리경영
---------------------------------------------------------------------------------*/
.management .phrase {background:536px 250px url("../img/company/management.png") no-repeat;}
.management .txt_type1 dt {padding-bottom:4px; font-size:18px; letter-spacing:-0.05em;}
.management .tit_type3 {padding-bottom:0;}
.management .area {padding-top:8px;}
.management .area + .area {padding-top:46px;}

/* step */
.step {margin:10px -8px 0;}
.step:after {content:''; display:block; clear:both;}
.step li {width:154px; height:129px; margin:0 8px; border:1px solid #cdd0d3; border-radius:7px; float:left; position:relative;}
.step li + li:before {content:''; width:36px; height:36px; background:#fff url("../img/company/company_set.png") no-repeat; background-position:-400px -100px; border-radius:50%; position:absolute; top:50%; margin-top:-17px; left:0; margin-left:-26px; z-index:1;}
.step li:after {content:''; width:43px; height:43px; background:url("../img/company/company_set.png") no-repeat; position:absolute; bottom:15px; right:18px;}
.step li dl {width:100%; height:100%; padding:19px 24px; box-sizing:border-box; position:absolute; top:0; left:0; overflow:hidden;}
.step li dl:before, .step dl:after {content:''; width:34px; height:34px; border:1px solid #cdd0d3; border-radius:50%; position:absolute; top:50%; margin-top:-17px; z-index:1;}
.step li dl:before {left:0; margin-left:-26px;}
.step li dl:after {right:0; margin-right:-26px;}
.step li:first-child dl:before, .step li:last-child dl:after {content:none;}
.step li dt {padding:0 12px; margin-bottom:2px; border:1px solid #d7d7e9; border-radius:20px; font-weight:800; font-size:13px; color:#393992; line-height:20px; display:inline-block;}
.step li dd b {font-weight:700; font-size:14px;}
.step li dd {padding-top:5px; font-size:13px; line-height:21px; letter-spacing:-0.05em;}
.txt_type5 {font-size:14px; letter-spacing:-0.05em; display:block;}

.management .step li:first-child:after {background-position:-57px -458px;}
.management .step li:nth-child(2):after {background-position:-157px -457px;}
.management .step li:nth-child(3):after {background-position:-257px -457px;}
.management .step li:nth-child(4):after {background-position:-357px -457px;}
.management .step li:last-child:after {background-position:-458px -457px;}


/*--------------------------------------------------------------------------------
	# article : 홍보 > 보도자료
---------------------------------------------------------------------------------*/
.tbl_type2 {margin-top:10px; border-top:1px solid #5b646e; border-bottom:1px solid #adb1b6;}
.tbl_type2 td a {width:510px; color:#020219; display:block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.tbl_type2 td a:hover {font-weight:700; text-decoration:underline;}
.tbl_type2 > thead > tr > th {border-top:1px solid #5b646e;}

/* 상세 */
h1 + .detail {margin-top:10px;}
.detail > header:after {content:''; display:block; clear:both;}
.detail > header {height:62px; line-height:62px; padding:0 16px; box-sizing:border-box; background-color:#eff2f6; border-top:1px solid #5b646e; border-bottom:1px solid #dee0e2; font-weight:700; font-size:18px; position:relative;}
.detail > header > time {font-weight:normal; font-size:15px; color:#5b646e; float:right;}
.detail > .cont {padding:30px 70px 30px 16px; box-sizing:border-box; font-size:14px; line-height:22px; table-layout:fixed; overflow:hidden;}
.detail > .cont div, .detail > .cont p {width:100% !important;}
.detail > .cont h1, .detail > .cont h2, .detail > .cont h3, .detail > .cont h4 {width:100% !important; line-height:40px !important;}
.detail > .cont .tit {padding-bottom:20px; line-height:22px;}
.detail > .cont .tit dt {font-weight:700; font-size:15px;}
.detail > .cont .tit dd {font-size:14px;}
.detail > .cont img {display:block;}
.detail > .cont img + p, .detail > .cont p + img {padding-top:15px;}
.detail > .cont p + p {padding-top:25px;}
.detail > .cont .cont-body {width:750px;}
.detail > .page_shift:after {content:''; display:block; clear:both;}
.detail > .page_shift {border-top:1px solid #adb1b6; border-bottom:1px solid #adb1b6;}
.detail > .page_shift > * {float:left;}
.detail > .page_shift dt {width:90px; padding:18px 0 18px 16px; box-sizing:border-box; font-size:13px; line-height:13px; color:#5b646e; position:relative;}
.detail > .page_shift dd {width:794px; padding:18px 20px 18px 24px; box-sizing:border-box;}
.detail > .page_shift dd time {font-size:13px; color:#5b646e; float:right;}
.detail > .page_shift dd + dt, .detail > .page_shift > *:last-child {border-top:1px solid #dee0e2;}
.detail > .page_shift dt:before {content:''; width:9px; height:5px; margin-right:6px; margin-bottom:2px; background:url("../img/company/company_set.png") no-repeat; display:inline-block; vertical-align:middle;}
.detail > .page_shift dt:first-child:before {background-position:-400px -205px;}
.detail > .page_shift dt:nth-child(3):before {background-position:-400px -200px;}
.detail > .page_shift dt:after {content:''; width:1px; height:12px; margin-left:24px; background-color:#cdd0d3; position:absolute; right:0;}
.detail > .page_shift dd a {width:600px; font-size:14px; line-height:14px; color:#020219; display:inline-block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.detail button {width:138px; height:48px; line-height:46px; margin:30px auto 0; box-sizing:border-box; border:1px solid #adb1b6; border-radius:3px; font-weight:700; font-size:17px; color:#020219; text-align:center; display:block;}


/*--------------------------------------------------------------------------------
	# article : 홍보 > 광고자료
---------------------------------------------------------------------------------*/
.advertise div[data-tab="utab1"] {padding-top:34px; position:relative;}
.advertise .tit_type3 {margin-top:85px; font-size:20px;}
.advertise h1 + .tit_type3 {margin-top:26px;}
.advertise .video {padding-bottom:32px; position:relative;}
.advertise .video dt {width:800px; font-weight:700; font-size:16px; position:absolute; bottom:0; left:0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.advertise .video dd {border-radius:5px; overflow:hidden;}
.advertise :not(li) > .video dd {height:500px;}
.advertise .video + .ad_list {margin-top:36px;}
.advertise .video + .ad_list dd {height:auto;}

.advertise .ad_list {width:884px; overflow:hidden; position:relative;}
.advertise .ad_list ul {width:200%;}
.advertise .ad_list ul:after {content:''; display:block; clear:both;}
.advertise .ad_list li {float:left; margin-right:16px; min-width:284px;}
.advertise .ad_list .video dt {width:284px; display:inline-block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.advertise .ad_list .video dd a {display:block; position:relative;}
.advertise .ad_list .video dd a:hover:before {content:''; width:45px; height:45px; background:-600px -200px url("../img/company/company_set.png") no-repeat; position:absolute; top:50%; margin-top:-22px; left:50%; margin-left:-22px;}
.advertise .ad_list .box > button[class] {padding-left:30px; width:0px; height:35px; background:url("../img/company/company_set.png") no-repeat; display:inline-block; overflow:hidden; position:absolute; top:62px;}
.advertise .ad_list .box > button.btn_prev {background-position:-500px -200px; left:0;}
.advertise .ad_list .box > button.btn_next {background-position:-530px -200px; right:0;}

/* 라디오 광고 */
.advertise .ment {font-size:13px; color:#5b646e; letter-spacing:-0.03em; position:absolute; top:6px; right:0;}
.advertise .ment:before {content:'*'; display:inline-block; vertical-align:middle;}
.advertise .radio_list ul {padding-top:5px;}
.advertise .radio_list li {min-width:auto; width:164px; height:170px; padding:17px 20px; border:1px solid #dee0e2; border-radius:7px; box-sizing:border-box; font-weight:700; font-size:15px; line-height:18px; position:relative;}
.advertise .radio_list li > p {padding-right:12px; line-height:21px; }
.advertise .radio_list li > span {padding-top:6px; font-weight:700; font-size:13px; color:#7c838b; display:inline-block;}
.advertise .radio_list .box > button[class] {top:73px;}
.advertise .radio_list .play_control {margin-top:35px; position:absolute; left:20px; bottom:20px;}
.advertise .radio_list .play_control button {width:0; padding-left:31px; height:31px; background:url("../img/company/company_set.png") no-repeat; overflow:hidden;}
.advertise .radio_list .play_control button.play {background-position:0 -500px;}
.advertise .radio_list li.on {border:1px solid #2096ce;}
.advertise .radio_list li.on .play_control button.play {background-position:-100px -500px;}
.advertise .radio_list li.on .play_control button.play:after {content:''; width:13px; height:14px; position:absolute; bottom:9px; left:89px; background:url("../img/company/playing.gif") no-repeat;}
.advertise .radio_list .play_control button.stop {background-position:-200px -500px;}

/* 지면 광고*/
.advertise .tbl_list {margin-top:5px;}
.advertise .ad_list + .panel {padding-top:50px;}
.advertise .panel {position:relative;}
.advertise .total {font-weight:700; font-size:14px; position:absolute; top:52px; right:0;}
.advertise .total b {color:#0092ce;}
.advertise .detail .cont {padding:30px 16px; text-align:center;}


/*--------------------------------------------------------------------------------
	# article : 채용 > 인재상
---------------------------------------------------------------------------------*/
.person {margin-bottom:140px; background:530px 230px url("../img/company/people.png") no-repeat;}
.person .txt_type1 {letter-spacing:-0.05em;}
.person .txt_type1 + .txt_type1 {padding-top:20px;}
.person .txt_type1 i, .person .txt_type1 b {font-size:17px;}
.person .txt_type1 + .txt {padding-bottom:0;}
.person cite + .txt {padding-bottom:30px;}


/*--------------------------------------------------------------------------------
	# article : 채용 > 인사복지제도
---------------------------------------------------------------------------------*/
.list_type {font-size:14px;}
.list_type * {line-height:23px; letter-spacing:-0.03em;}
.list_type *:before {content:''; width:3px; height:3px; border-radius:50%; background-color:#020219; margin:0 5px 3px 4px; display:inline-block; vertical-align:middle;}
.panel1 .tit_type2 {padding-bottom:6px; margin-bottom:15px; border-bottom:1px solid #cdd0d3;}
.panel1 .txt_type1 dd {font-size:14px; color:#020219;}

.personnel {margin-top:25px;}
.personnel li {width:199px; height:186px; padding-top:103px; padding-left:25px; box-sizing:border-box; font-weight:700; font-size:16px; line-height:34px; color:#fff; background-repeat:no-repeat; position:relative; display:inline-block; margin-right:-4px;}
.personnel li:before {content:''; width:10px; height:1px; background-color:#dee0e2; position:absolute; bottom:50px; left:26px;}
.personnel li:first-child {background-image:url("../img/company/list_system1.png");}
.personnel li:nth-child(2) {background-image:url("../img/company/list_system2.png");}
.personnel li:nth-child(3) {background-image:url("../img/company/list_system3.png");}
.personnel li:nth-child(4) {background-image:url("../img/company/list_system4.png");}
.personnel li + li {margin-left:16px;}

.list_type2 {padding-top:5px;}
.list_type2 .box {width:50%; height:93px; margin:25px 0; padding-left:109px; font-size:13px; line-height:22px; box-sizing:border-box; position:relative; display:inline-block; margin-right:-4px;}
.list_type2 .box:after {content:''; width:93px; height:93px; position:absolute; top:0; left:0; background-image:url("../img/company/company_set.png"); background-repeat:no-repeat;}
.list_type2 .box:first-child:after {background-position:0 0;}
.list_type2 .box:nth-child(2):after {background-position:-100px 0;}
.list_type2 .box:nth-child(3):after {background-position:-200px 0;}
.list_type2 .box:nth-child(4):after {background-position:-300px 0;}
.list_type2 .box:nth-child(5):after {background-position:-400px 0;}
.list_type2 .box:nth-child(6):after {background-position:-500px 0;}
.list_type2 .box:before {content:''; width:1px; height:100%; display:inline-block; vertical-align:middle; margin-left:-5px;}
.list_type2 dl {display:inline-block; vertical-align:middle;}
.list_type2 dt {width:100%; font-weight:700;}
.list_type2 dd {width:155px; float:left;}
.list_type2 dd:before {content:''; width:3px; height:3px; border-radius:50%; background-color:#020219; margin:0 5px 3px 4px; display:inline-block; vertical-align:middle;}


/*--------------------------------------------------------------------------------
	# article : 채용 > 채용안내
---------------------------------------------------------------------------------*/
.recruit .panel {background:599px 40px url("../img/company/profile.png") no-repeat;}
.recruit .txt_type1 + .area {padding-top:20px;}
.recruit .area + .area {padding-top:12px;}
.recruit .tit_type3 {font-size:18px; padding-bottom:5px;}

.recruit .step {margin:5px -8px 15px;}
.recruit .step li {width:197px; height:159px;}
.recruit .step li:after {width:50px; height:50px;}
.recruit .step li:first-child:after {background-position:0 0;}
.recruit .step li:nth-child(2):after {background-position:-50px 0;}
.recruit .step li:nth-child(3):after {background-position:-100px 0;}
.recruit .step li:last-child:after {background-position:-150px 0;}

.recruit .area dt + dd {margin-top:5px;}
.recruit .area dd {padding-bottom:2px; font-size:14px; color:#020219;}
.recruit .area:last-child dd:nth-child(3) a {color:#0092ce; border-bottom:1px solid #0092ce;}
.recruit .area:last-child dd:last-child {margin-top:14px; margin-left:-8px;}
.recruit .area:last-child dd:last-child:before {content:none;}


/*--------------------------------------------------------------------------------
	# data-update
---------------------------------------------------------------------------------*/
.list_type2[data-update="200113"] .box:first-child:after {background-position:-700px 0;}
.list_type2[data-update="200113"] .box:nth-child(2):after {background-position:-800px 0;}
.list_type2[data-update="200113"] .box:nth-child(3):after {background-position:-900px 0;}
.list_type2[data-update="200113"] .box:nth-child(4):after {background-position:-700px -100px;}
.list_type2[data-update="200113"] .box:nth-child(5):after {background-position:-800px -100px;}
.list_type2[data-update="200113"] .box:nth-child(6):after {background-position:-900px -100px;}