@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 고객센터
############################## */

/*--------------------------------------------------------------------------------
	# 서브메인
---------------------------------------------------------------------------------*/
/* 상단 메세지 */
.visual_mes.img_customer {height:220px; padding:35px 40px 0; border-radius:6px; color:#fff; background:url("../img/customer/bg_mes1.png") no-repeat 0 0; box-sizing:border-box;}
.visual_mes.img_customer > h1 {font-size:32px; font-weight:400;}
.visual_mes.img_customer > p {font-size:16px;}
.visual_mes.img_customer > p > strong {display:block; margin:-10px 0 5px; font-size:32px; font-weight:400;}

/* 칭찬의 소리 */
.customer .tbl_type2.panel td a[class^="link"] {white-space:nowrap;}
/* 칭찬의 소리, 묻고 답하기 */
.praise_qna > [class*="area"] {float:left;position:relative;width:449px;margin-bottom:18px;z-index:0;}
.praise_qna > [class*="area"]:last-child {float:right;}
.praise_qna > [class*="area"]:after {content:'';display:block;position:absolute;right:0;bottom:-18px;width:36px;height:33px;border-bottom-right-radius:100% 90%;z-index:-1;}
.praise_qna > [class*="area"] .sub {top:0 !important;}
.praise_qna > .area1:after {background:#76c8eb;}
.praise_qna > .area2:after {background:#8284bc;}
/* 칭찬의 소리 */
.praise_qna > .area1 > .card {border-radius:6px;background:#24aae1;font-size:13px;color:#fff;}
.praise_qna > .area1 > .card .list li {width:449px;height:182px;padding:26px 30px;vertical-align:top;box-sizing:border-box;}
.praise_qna > .area1 > .card .list li .area1 > cite, .praise_qna > .area1 > .card .area1 > span {overflow:hidden;display:block;}
.praise_qna > .area1 > .card .list li .area1 > cite {font-size:16px;white-space:nowrap;text-overflow:ellipsis;}
.praise_qna > .area1 > .card .list li .area1 > span {height:60px;margin-top:6px;line-height:20px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.praise_qna > .area1 > .card .list li .area2 {margin-top:11px;padding-top:8px;border-top:1px solid rgba(255,255,255, 0.2);text-align:right;}
.praise_qna > .area1 > .card .list li .area2 > dt, .praise_qna > .area1 > .card .area2 > dd {display:inline-block;vertical-align:bottom;}
.praise_qna > .area1 > .card .list li .area2 > dt {visibility:hidden;overflow:hidden;position:absolute;left:-1px !important;top:-1px;width:1px;height:1px;opacity:0;z-index:-1;}
.praise_qna > .area1 > .card .list li .area2 > dt:first-child + dd {font-weight:700;}
.praise_qna > .area1 > .card .list li .area2 > dd:not(:last-child) {margin-right:8px;}
.praise_qna > .area1 > .card .list li > a {overflow:hidden;display:block;position:absolute;top:0;left:0;width:100%;height:0;padding-top:100%;white-space:nowrap;z-index:2;}
.praise_qna > .area1 > .card .box > button {top:136px;background-color:rgba(255,255,255, 0.2);}
.praise_qna > .area1 > .card .box > button:not(.disabled):hover {background-color:rgba(0,0,0, 1);}
.praise_qna > .area1 > .card .box > .btn_prev {left:30px;right:auto;}
.praise_qna > .area1 > .card .box > .btn_next {left:64px;right:auto;}
/* 묻고 답하기 */
.praise_qna > .area2 > p {margin-bottom:0;padding:28px 0 0 235px;width:449px;height:182px;border-radius:6px;background:#5354a1;font-size:15px;color:#fff;box-sizing:border-box;}
.praise_qna > .area2 > p:before {content:'';position:absolute;left:40px;top:calc(50% + 14px);display:inline-block;width:143px;height:138px;margin-top:-69px;background:url("../img/customer/bg_set1.png") no-repeat;}
.praise_qna > .area2 > p > a {display:inline-block;margin-top:15px;font-size:13px;color:#fff;text-align:center;}
.praise_qna > .area2 > p > a + a {margin-left:30px;}
.praise_qna > .area2 > p > a:before {content:'';display:block;width:60px;height:60px;margin:0 auto 5px;background:url("../img/common/icon_set1.png") no-repeat -640px -1200px;}
.praise_qna > .area2 > p > a + a:before {background-position:-720px -1200px;}
.mes_type2.img1 {box-sizing:content-box;}
/* 전화번호 안내 */
.num_info > dl {overflow:hidden;position:relative;height:143px;padding:14px 23px 24px;border:1px solid #dee0e2;box-sizing:border-box;}
.num_info > dl > dt, .num_info > dl > dd {float:left;font-size:14px;line-height:23px;}
.num_info > dl > dt {margin-right:6px;color:#5b646e;}
.num_info > dl > dd {display:inline-block;margin-right:2px;font-weight:700;}
.num_info > dl > dt:first-child, .num_info > dl > dt:nth-child(9) {visibility:hidden;overflow:hidden;position:absolute;left:-1px !important;top:-1px;width:1px;height:1px;opacity:0;z-index:-1;}
.num_info > dl > dt:nth-child(3), .num_info > dl > dt:nth-child(7) {clear:both;}
.num_info > dl > dt:first-child + dd {margin-bottom:3px;font-family:'Spoqa Han Sans';font-size:36px;line-height:1.5;color:#2096ce;}
.num_info > dl > dd > span {font-size:13px;color:#5b646e;font-weight:400;}
.num_info > dl > dt:nth-child(9) ~ dd {width:220px; margin:-100px 0 106px 420px;font-size:12px;font-weight:400;letter-spacing:-1px}
.num_info > dl > dt:nth-child(9) ~ dd:nth-child(3n+1) {clear:both}
.num_info > dl > dt:nth-child(9) ~ dd:nth-child(odd){margin-top:-131px; margin-left:650px}
.num_info > dl > dt:nth-child(9) ~ dd > strong {overflow:hidden;display:inline-block;width:19px;height:19px;padding:0 3px;line-height:1.4;margin-right:8px;border:1px solid #c3c3de;border-radius:50%;color:#393992;font-weight:800;text-align:center;vertical-align:middle;box-sizing:border-box;}
.num_info > ul {clear:both;position:relative;margin-top:14px;padding:17px 0;border:1px solid #dee0e2;font-size:14px;letter-spacing:-1px;box-sizing:border-box;}
.num_info > ul:before {content:'';display:block;position:absolute;left:-1px;top:-1px;bottom:0;width:100%;height:calc(100% + 2px);background-image:repeating-linear-gradient(to right, #dee0e2, transparent 2px, transparent 293px, #dee0e2 293px, white 295px, white 310px);}
.num_info > ul > li {display:inline-block;position:relative;width:292px;padding:0 20px 0 23px;box-sizing:border-box;}
.num_info > ul > li:nth-child(3) ~ li {padding:15px 20px 0 23px;}
.num_info > ul > li:nth-child(3n+2) {margin:0 14px 0 16px;}
.num_info > ul > li:before {content:'';display:block;position:absolute;right:137px;top:0;bottom:0;width:1px;height:100%;background:#dee0e2;background:repeating-linear-gradient(#dee0e2, #dee0e2 2px, #fff 2px, #fff 5px);}
.num_info > ul > li > strong {position:absolute;right:18px;margin-top:-1px;font-family:'Spoqa Han Sans';font-size:15px;color:#393992;font-weight:400;letter-spacing:0;text-align:right;vertical-align:middle;}

/*--------------------------------------------------------------------------------
	# 개선의 소리
---------------------------------------------------------------------------------*/
.improve > .mes_info {position:relative;min-height:148px;margin-bottom:30px;padding:52px 30px 52px 350px;border-top:1px solid #5b646e;border-bottom:1px solid #adb1b6;font-size:15px;line-height:1.6;}
.improve > .mes_info:before {content:"";position:absolute;left:97px;top:50%;display:block;width:196px;height:195px;margin-top:-97px;background:url("../img/customer/bg_set1.png") no-repeat -150px 0;}
.improve > .mes_info > strong {display:block;margin:0 0 10px;font-size:26px;line-height:1.3;font-weight:400;}
.improve > .mes_info > strong > b {display:block;}
.improve .btn_type4 {min-width:200px;}

/*--------------------------------------------------------------------------------
	# 전화번호/입금계좌
---------------------------------------------------------------------------------*/
/* 대표번호/상담시간 */
.num_info1 {margin-bottom:30px;padding:19px 29px;border:1px solid #dee0e2;border-radius:3px;font-size:14px;line-height:1.7;}
.num_info1 > dl {display:inline-block;position:relative;padding-left:80px;color:#393992;vertical-align:top;}
.num_info1 > dl:before {content:'';display:block;position:absolute;left:0;top:0;width:70px;height:70px;border-radius:100%;background:#eef8fd url("../img/common/icon_set1.png") no-repeat;}
.num_info1 > dl:first-child:before {background-position:-720px -1280px;}
.num_info1 > dl + dl:before {left:30px;background-position:-800px -1280px;}
.num_info1 > dl > dt {font-weight:700;}
.num_info1 > dl:first-child > dd {font-family:'Spoqa Han Sans';font-size:36px;line-height:1;font-weight:300;}
.num_info1 > dl + dl {margin-left:25px;padding-left:110px;border-left:1px solid #dee0e2;}
.num_info1 > dl + dl > dd {display:inline-block;margin-right:7px;color:#5b646e;}
.num_info1 > dl + dl > dd > b, .num_info1 > dl:nth-child(2) > dd > i {margin-left:6px;color:#020219;}
.num_info1 > dl + dl > dd:last-child {display:block;}
/* 탭 컨텐츠 */
.tab_type4[data-tab="utabcucsub"] {margin-bottom:30px;}
section[data-tab="utabcucsub"] {position:relative;padding:30px 19px 25px;border:1px solid #2096ce;}
section[data-tab="utabcucsub"]:before, section[data-tab="utabcucsub"]:after {content:'';display:block;position:absolute;left:50%;top:-15px;width:17px;height:20px;border:solid #2096ce;}
section[data-tab="utabcucsub"]:before {margin-left:-6px;border-width:0 0 0 1px;background:#fff;transform:rotate(30deg);-webkit-transform:rotate(30deg);}
section[data-tab="utabcucsub"]:after {margin-left:-11px;border-width:0 1px 0 0;transform:rotate(-30deg);-webkit-transform:rotate(-30deg);}
section[data-tab="utabcucsub"] > p {margin-top:11px;font-weight:700;}
section[data-tab="utabcucsub"] > .txt_type1 {margin-top:12px;}
section[data-tab="utabcucsub"] > .tbl_type1 + p {margin-top:16px;}
section[data-tab="utabcucsub"] > .tbl_type1 + .txt_type1 {margin-top:17px;}
section[data-tab="utabcucsub"] > .txt_type1 + .tbl_type1 {margin-top:10px;}
section[data-tab="utabcucsub"] > .txt_type1 > dt > strong {display:block;margin-top:-4px;font-family:'Spoqa Han Sans';font-size:17px;}
section[data-tab="utabcucsub"] > table:last-child {margin-bottom:5px;}
section[data-tab="utabcucsub"] > .area1 {margin-top:26px;}
section[data-tab="utabcucsub"] > .area1 > dl {display:inline-block;width:50%;margin:0 -3px 0 0;vertical-align:top;}
section[data-tab="utabcucsub"] > .area1 > dl dt {display:inline-block;margin-bottom:11px;padding:3px 13px 2px;border-radius:3px;background:#5e5ed7;color:#fff;}
section[data-tab="utabcucsub"] > .area1 > dl dt + dd {margin-bottom:5px;padding-left:0;color:#020219;}
section[data-tab="utabcucsub"] > .area1 > dl dt + dd:before {display:none;}

/*--------------------------------------------------------------------------------
	# 온라인투어 여행상품권
---------------------------------------------------------------------------------*/
/* [D] 오픈시 삭제요망 : 개발에서 퍼블리싱대로 마크업이 변경되면 아래의 스타일을 삭제해주세요 */
.voucher > .txt_type1.imgvoucher {position:relative;min-height:81px;padding:35px 23px 35px 228px;border-top:1px solid #5b646e;border-bottom:1px solid #adb1b6;color:#020219;}
.voucher > .txt_type1.imgvoucher:before {content:"";position:absolute;left:23px;top:50%;display:block;width:185px;height:90px;margin-top:-45px;background:url("../img/customer/bg_set1.png") no-repeat -350px 0;}
.voucher > .txt_type1.imgvoucher > li {margin:7px 0;}
.voucher > .txt_type1.imgvoucher > li > span {display:block;color:#5b646e;}
.voucher > .txt_type1.imgvoucher:after {display:none;}
/* // */

.voucher > dl {font-size:14px;font-weight:700;}
.voucher > dl > dt {display:inline-block;min-width:72px;border:1px solid #393992;border-radius:3px;font-size:13px;color:#393992;text-align:center;letter-spacing:-1px;}
.voucher > dl > dd {padding-left:86px;line-height:1.6;}
.voucher > dl > dd ~ dd {margin-top:2px;}
.voucher > dl > dt + dd {margin-top:-22px;}
.voucher > dl > dt ~ dt {margin-top:9px;}
.voucher > dl > dd > a[class*="btn"] {margin:-1px 0 0 7px;}
.voucher > dl > dd > span {display:block;color:#5b646e;font-weight:400;}
.voucher > dl > dd > strong.txt_c {font-family:'Spoqa Han Sans';font-size:17px;line-height:1.3;}
.voucher > dl > dd > ol.step {counter-reset:step 0;margin-top:5px;font-weight:400;}
.voucher > dl > dd > ol.step li {display:inline-block;margin-right:-3px;}
.voucher > dl > dd > ol.step li:before {content:counter(step);counter-increment:step 1;display:inline-block;min-width:11px;height:11px;margin:-2px 3px 0 0;border:1px solid #020219; border-radius:50%;font-size:11px;line-height:1;text-align:center;vertical-align:middle;}
.voucher > dl > dd > ol.step li:after {content:'';display:inline-block;width:6px;height:10px;margin:0 8px;background:url("../img/common/icon_set2.png") no-repeat -80px 0;}
.voucher > dl > dd > ol.step li:last-child:after {display:none;}
.voucher > .tit_type2 + .txt_type4 {margin-left:22px;}

/*--------------------------------------------------------------------------------
	# 공지사항
---------------------------------------------------------------------------------*/
.tbl_type2 a[class^="link"] {white-space:nowrap;}