@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 이벤트/기획전
############################## */

/*--------------------------------------------------------------------------------
	# 기획전 상세 : 호텔
---------------------------------------------------------------------------------*/
.product_type[data-product="hotel"] .area3 .txt_data > dt {overflow:hidden;position:absolute;padding-left:1px;width:0;height:0;white-space:nowrap;}

/*--------------------------------------------------------------------------------
	# 레이어팝업 
---------------------------------------------------------------------------------*/
/* 항공사 선택 */
.layer_all_dept {width:371px; max-height:255px;}
.layer_all_dept .ly_con {height:150px; overflow:auto;}
.layer_all_dept .list_all_dept li {position:relative;}
.layer_all_dept .list_all_dept li + li {margin-top:10px;}
.layer_all_dept .list_all_dept .c6 {color:#5b646e;}
.layer_all_dept .list_all_dept a {max-width:125px; margin-left:5px; font-size:1.16em; color:#020219; word-break:keep-all; display:inline-block; vertical-align:middle;}
.layer_all_dept .list_all_dept a:hover, .layer_all_dept .list_all_dept a:hover > em {font-weight:700; color:#2096ce; text-decoration:underline; text-underline-position:under; position:relative;}
.layer_all_dept .list_all_dept a > em {max-width:125px; margin-bottom:-5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; display:inline-block;}
.layer_all_dept .list_all_dept strong {font-weight:700; font-size:1.2em;}
.layer_all_dept .list_all_dept .txt_data {margin-top:-2px; font-size:1em; position:absolute; top:50%; margin-top:-12px; right:0;}
.layer_all_dept .list_all_dept strong:not(.txt_data) {font-size:1.2em;}

/* 투어캐시 */
.layer_tourcash {width:697px; height:800px;}
.layer_tourcash .ly_con {height:667px; padding:28px 0; overflow-y:auto; overflow-x:hidden;}

/*--------------------------------------------------------------------------------
	# 멤버십혜택 > 투어캐시란 > 투어캐시 이용약관
---------------------------------------------------------------------------------*/
.circle_num {counter-reset:ctn 0;}
.circle_num li {padding-left:18px; font-size:14px; word-break:break-all; position:relative;}
.circle_num li:before {content:counters(ctn, ''); counter-increment:ctn 1; font-size:10px; position:absolute; top:2px; left:3px;}
.circle_num li:after {content:''; width:10px; height:11px; border:1px solid #8d8d92; border-radius:50%; position:absolute; top:3px; left:0;}
.circle_num li + li {margin-top:7px;}

/* 이벤트 > 상세 > 해외항공 */
.event .box_area5 + .tab_wrap .tab_type, 
.event .box_area5 + .tab_wrap .tab_type li,
.event .box_area5 + .tab_wrap .txt {flex:none;}
.event .box_area5 + .tab_wrap .tab_type:after {content:''; display:block; clear:both;}
.event .box_area5 + .tab_wrap .tab_type li a {height:47px; padding:0 20px;}
.event .box_area5 + .tab_wrap .txt ~ .area {flex:1;}