@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 통합검색
############################## */

/*--------------------------------------------------------------------------------
	# 통합검색
---------------------------------------------------------------------------------*/
/* 공통 */
.home .tit_type {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-direction:column;flex-direction:column;}
.home .tit_type > h1 {width:100%;margin-bottom:6px;text-align:center;-ms-flex-order:2;order:2;}
.home .tit_type > h1 > strong {color:#2096ce;}
.home .tit_type > h1 > strong:first-child:before, .home .tit_type > h1 > strong:first-child:after {content:"‘";display:inline-block;}
.home .tit_type > h1 > strong:first-child:after {content:"’";}
.home .tit_type > h1 + .data_info4 {margin-bottom:45px;-ms-flex-order:1;order:1;}
.home .form_detail_search1 {margin-top:0;}
.home .mes_data_none {border:0;}
.home .mes_data_none em {color:#0092ce;}
.home .mes_data_none em:before {content:"‘";}
.home .mes_data_none em:after {content:"’";}


/* IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	.home .tit_type {position:relative;padding-bottom:17px;}
	.home .tit_type > h1 {position:absolute;bottom:0;display:block;}
	.home .tit_type > h1 ~ .data_info4:last-child {margin-bottom:65px;}
}