@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 해외호텔, 국내숙박
############################## */

/*--------------------------------------------------------------------------------
	# 상단영역
---------------------------------------------------------------------------------*/
.headarea.img1 {background-image:url('../img/hotel/bg_hotel_1920x140.png');} /* 해외호텔 */
.headarea.img2 {background-image:url('../img/hotel/bg_hotel2_1920x140.png');} /* 국내숙박 */

/* ##############################
	# 레이어팝업컨텐츠
	# .layer_네임
############################## */
/*-------------------------------------------------------------------------------- 
	# 호텔위치 지도보기
---------------------------------------------------------------------------------*/
.layer_map .ly_con:after {content:'';display:block;clear:both;}
.layer_map .ly_con .map {float:left;position:relative;width:715px;height:649px;}
.layer_map .ly_con .product_type2 {float:right;overflow:auto;width:387px;height:649px;border:0;box-sizing:border-box;}
.layer_map .ly_con .map:only-child {width:100%;}