@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 보험/비자
############################## */

/*--------------------------------------------------------------------------------
	# 신청완료
---------------------------------------------------------------------------------*/
.mes_type {height:300px;}
.mes_type + .data_summary3 {margin-top:-143px;}

/*--------------------------------------------------------------------------------
	# 온라인투어 약도보기
---------------------------------------------------------------------------------*/
.layer_map {width:883px;}
.layer_map h1 {border:0;}