@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2018
	# 레이아웃 스타일
############################## */

/*--------------------------------------------------------------------------------
	# 레이아웃
---------------------------------------------------------------------------------*/
.wrap {position:relative; min-width:1100px; min-height:100%; overflow:hidden;}
.container {min-width:452px; padding:14px 0 30px 0; /*padding:14px 25px 30px 25px;*/}

/*--------------------------------------------------------------------------------
	# 상단배너
---------------------------------------------------------------------------------*/
.bnr_first {position:relative; min-width:1100px; text-align:center; transition:all 0.3s ease; -webkit-transition:all 0.3s ease; font-size:0;}
.bnr_first img ~ a {position:absolute; top:0; bottom:0; left:50%; margin:0 -550px; width:550px; display:block; z-index:5;background:rgba(0,0,0,0);}
.bnr_first img ~ a ~ a {left:auto;right:50%;} 
.bnr_first img ~ a:only-of-type {width:1100px;}
.bnr_first button {position:absolute; left:50%; top:0; margin-left:524px; width:0; height:26px; padding-left:26px; background-color:rgba(0,0,0, 0.2); overflow:hidden; z-index:5;}
.bnr_first button:before {content:""; position:absolute; left:50%; top:50%; width:16px; height:15px; margin:-7.5px 0 0 -8px; background-image:url("../img/common/icon_set1.png"); background-position:-480px -240px;}

/*--------------------------------------------------------------------------------
	# Header
---------------------------------------------------------------------------------*/
.header {position:relative;}
.header .logo {position:absolute; left:50%; top:57px; margin-left:-550px; z-index:5;}
.header .logo a {width:0; height:40px; padding-left:160px; background:url("../img/common/icon_set3.png") no-repeat 0 0; display:block; overflow:hidden;}
.header.t1 {height:95px; border-bottom:1px solid #e5e5e8;}
.header.t1 .logo {top:30px;}
.header.t1 .logo a {height:35px; padding-left:190px; background-position:-760px 0;}
.header.t1 h2 {position:absolute; left:50%; top:23px; margin-left:-353px; z-index:5;}
.header.t1 h2 {padding-top:13px; padding-left:92px; height:35px; font-weight:700; font-size:16px; background:url("../img/common/icon_set3.png") no-repeat -450px -40px;}
.header.t1 h1 + h2:before {content:''; width:1px; height:25px; background-color:#c5c8cc; position:absolute; top:12px; left:0;}

/*--------------------------------------------------------------------------------
	# Header : 유틸메뉴
---------------------------------------------------------------------------------*/
.header .util {border-bottom:1px solid #cdd0d3;}
.header .util .inner {width:1100px; margin:0 auto;}
.header .util .inner:after {clear:both; content:""; display:block;}
.header .util .links {float:left;}
.header .util .user {float:right;}
.header .util .inner > ul > li {float:left;}
.header .util .inner > ul > li + li:before {content:""; float:left; margin-top:12px; width:0; height:10px; border-left:1px solid #dee0e2;}
.header .util .inner > ul > li > a {padding:0 8px; line-height:33px; color:#020219; vertical-align:top; display:inline-block;}
.header .util .inner .links li:first-child a {padding-left:0;}
.header .util .inner .user li:last-child a {padding-right:0;}
.header .util li.menu {position:relative;}
.header .util li.menu > a:after {content:""; width:9px; height:5px; margin:0 0 0 5px; background:url("../img/common/icon_set2.png") no-repeat -260px -100px; vertical-align:middle; display:inline-block;}
.header .util li.menu:hover > a {color:#22a1d5;}
.header .util li.menu:hover > a:after {background-position:-300px -80px;}
.header .util li.menu:hover ul {display:block;}
.header .util li.menu ul {position:absolute; width:118px; padding:6px 10px 7px 10px; border:1px solid #24aae1; background-color:#fff; display:none; z-index:105;}
.header .util li.menu ul li + li {margin-top:5px;}
.header .util li.menu ul a {color:#020219; letter-spacing:-0.02em;}
.header .util li.menu ul a:hover {color:#24aae1;}

/*--------------------------------------------------------------------------------
	# Header : 통합검색
---------------------------------------------------------------------------------*/
.header .search {position:relative; padding:18px 0 19px 0; text-align:center; border-bottom:1px solid #e5e5e8;}

/*--------------------------------------------------------------------------------
	# Header : 시그니처Tour | 홈쇼핑 | 이벤트/기획전
---------------------------------------------------------------------------------*/
.header .special {position:absolute; right:50%; top:62px; margin:0 -550px 0 0;}
.header .special li {float:left;}
.header .special li  + li {margin-left:9px;}
.header .special li  + li:before {content:""; float:left; margin:8px 9px 0 0; width:1px; height:13px; border-left:1px solid #dee0e2;}
.header .special a {font-size:15px; line-height:27px; color:#5b646e; font-weight:700; vertical-align:middle; display:inline-block;}
.header .special a:hover {color:#020219;}
.header .special .signature a {overflow:hidden; width:0; height:22px; margin-top:4px; padding-left:109px; background:url("../img/common/icon_set3.png") 0 -40px;}

/*--------------------------------------------------------------------------------
	# Header : GNB
---------------------------------------------------------------------------------*/
.header .gnb {border-bottom:1px solid #e5e5e8;}
.header .gnb .inner {position:relative; width:1100px; margin:0 auto; padding-left:58px; font-size:0; box-sizing:border-box; z-index:100;}
.header .gnb .group, .header .gnb .group dt, .header .gnb .group dd, .header .gnb .btn_event, .header .gnb .category > li {vertical-align:middle; display:inline-block;}
.header .gnb .category > li.new a {position:relative;}
.header .gnb .category > li.new > a:before, .header .gnb .category > li ul li.new > a:before {content:''; width:13px; height:13px; background:url("../img/common/icon_set1.png") -920px -160px; position:absolute; z-index:1;}
.header .gnb .category > li.new > a:before {top:8px; right:-4px;}
.header .gnb .category > li ul li.new > a:before {top:1px; right:-17px;}
.header .gnb .group + .group {margin-left:-10px;}
.header .gnb .group dt {width:38px; height:25px; margin:-1px 0 0 16px; padding:1px 10px 0 0; font-weight:700; font-size:13px; line-height:24px; color:#fff; text-align:center; position:relative; top:1px; overflow:hidden;}/* [M 2020-07-23] margin 수정  */
.header .gnb .group dt:before {content:''; width:0; height:0; border-radius:5px; border-top:10px solid #24aae1; border-left:14px solid transparent; border-right:14px solid transparent; position:absolute; top:8px; right:-7px; z-index:-1; transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -ms-transform:rotate(-90deg); -o-transform:rotate(-90deg);}
.header .gnb .group dt:after {content:''; width:38px; height:26px; background-color:#24aae1; border-radius:4px; position:absolute; top:0; left:0; z-index:-1;}
.header .gnb .group2 dt.hide {display:none;}
/* [M 2020-07-23] 추가  */
.header .gnb .group dt.country:before {border-top:10px solid #ff464d;}
.header .gnb .group dt.country:after {background-color:#ff464d;}

/* GNB : 1차메뉴 */
.header .gnb .category > li + li {margin-left:4px;}
.header .gnb .category > li > a {position:relative; padding:0 11px; font-weight:700; font-size:16px; line-height:55px; color:#020219; display:block; letter-spacing:-0.02em;}/* [M 2020-09-14] padding 수정  */
.header .gnb .category > li.on > a,
.header .gnb .category > li:hover > a {color:#2096ce;}
.header .gnb .category > li.on > a:after, 
.header .gnb .category > li:hover > a:after {content:""; position:absolute; left:0; right:0; bottom:2px; height:3px; background-color:#24aae1;}
.header .gnb .category > li:hover .menu {display:table;}
.header .gnb .category .menu {position:absolute; top:55px; z-index:1; width:352px; overflow:hidden; border:1px solid #24aae1; background-color:#fff; display:none;}
.header .gnb .category .column {position:relative; width:172px; padding:17px 19px; letter-spacing:-0.02em; display:table-cell;}
.header .gnb .category .column + .column {/* width:178px; */ z-index:1; border-left:1px solid #dee0e2; background-color:#f5f6f6;}
.header .gnb .category .column > a, .header .gnb .menu_all .box > a, .header .gnb .menu_all .box > strong {font-weight:700; font-size:14px; line-height:16px; color:#2096ce; display:inline-block;}
.header .gnb .category .column .box {position:relative; min-height:230px; margin-top:7px;}
.header .gnb .category .column .box:after {clear:both; content:""; display:block;}
.header .gnb .category .column .box > div {float:left; width:148px; padding-left:20px;}
.header .gnb .category .column .box > div:first-child {padding-left:0;}
.header .gnb .category .column .box > div:last-child {width:130px;}
.header .gnb .category .column .box > div:not(:first-child):before {content:""; position:absolute; top:-23px; bottom:0; width:1px; margin-left:-20px; background-color:#e5e5e8;}
.header .gnb .category .column .box > div > a {font-size:13px;}
.header .gnb .category .column .box > div > a:hover {text-decoration:underline;}
.header .gnb .category .column .box > div > ul {margin-top:2px; padding-left:8px;}
.header .gnb .category .column .box > div > ul li {position:relative; margin-top:5px;}
.header .gnb .category .column .box > div > ul li:before {content:"- "; position:absolute; left:-8px; top:0; font-size:13px; color:#7c838b;}
.header .gnb .category .column .box > div > ul li > a {color:#7c838b;}

/* GNB : 2차메뉴 : 기본 */
.header .gnb .column ul {overflow:hidden;}
.header .gnb .column ul:after {clear:both; content:""; display:block;}
.header .gnb .column ul:not(.type1) li + li {margin-top:5px;}
.header .gnb .column li a {font-size:13px; color:#020219;}
.header .gnb .column li a:hover, .header .gnb .column > a:hover, .header .gnb .menu_all .box > a:hover {color:#2096ce; text-decoration:underline;}
.header .gnb .column .type1 li {float:left; margin:0 9px 0 -9px;}
.header .gnb .column .type1 li:before {content:""; width:1px; height:12px; margin:6px 4px 0 4px; background-color:#7c838b; vertical-align:top; display:inline-block;}
.header .gnb .idx12 .column .type1 li:nth-child(6){clear:both} /* 국내골프 flaot 해제 */
.header .gnb .column .type1 a {line-height:24px;}
/* GNB : 2차메뉴 : 간격  */
.header .gnb .column ul + a {margin-top:20px;}
.header .gnb .column > a + a {margin-top:22px;}
.header .gnb .column > a + ul {clear:left; padding-top:9px;}
.header .gnb .column > a + .type1 {padding-top:7px;}
.header .gnb .column .type1 + a {margin-top:16px;}
.header .gnb .column .box > b {clear:left; font-weight:700; font-size:13px; display:block;}
.header .gnb .column .box > a + b {padding-top:12px;}
.header .gnb .column .box > b + ul {margin-top:3px;}
.header .gnb .column .box > ul + b {margin-top:10px;}

/* GNB : 3차메뉴 위치 및 너비 */
.header .gnb .category .idx1 {left:57px;}
.header .gnb .category .idx2 {left:102px;}
.header .gnb .category .idx3 {left:153px;}
.header .gnb .category .idx4 {left:203px;}
/* .header .gnb .category .idx5 {right:0;} */ /* [M 2020-07-23] right 값 수정 */
/* .header .gnb .category .idx6 {left:161px; width:846px;} sub5개 값 */
/* .header .gnb .category .idx6 {left:161px; width:646px;} sub4개 값  */
/*.header .gnb .category .idx5 {left:161px; width:646px;}
.header .gnb .category .idx5 .column:first-child {width:634px;}
.header .gnb .category .idx5 .column + .column {width:135px;}*/
.header .gnb .category .idx5 {right:330px;}/* [M 2020-09-13] right 값 수정 */
.header .gnb .category .idx6 {right:330px;}/* [M 2020-09-13] right 값 수정 */
.header .gnb .category .idx7 {right:330px}/* [M 2020-09-13] right 값 수정 */
.header .gnb .category .idx8 {right:330px;}/* [M 2020-09-13] right 값 수정 */
.header .gnb .category .idx9 {/*right:330px;*/}/* [M 2020-09-13] right 값 수정 */
.header .gnb .category .idx10 {right:0;}
.header .gnb .category .idx11 {right:0;}
.header .gnb .category .idx12 {right:0;}
.header .gnb .category .idx13 {right:0;}
.header .gnb .category .idx14 {right:0;}

/* GNB : 테마여행 */
.header .gnb .group2 {position:absolute; right:0; top:0; padding:0 6px; border:solid #e5e5e8; background-color:#e9f6fc; border-width:0 1px;} /* [M 2020-07-23] background-color 값 수정 */
.header .gnb .group2 .category > li > a {display:block; font-weight:600; font-size:15px; line-height:55px;} /* [M 2020-07-23] font-weight 값 수정 */
.header .gnb .group2 .category > li.tour_icon a {position:relative;}
.header .gnb .group2 .category > li.tour_icon > a:before {content:''; width:101px; height:25px; background:url("../img/common/icon_flex.png"); position:absolute; z-index:1;}
.header .gnb .group2 .category > li.tour_icon > a:before {top: -8px; left:-10px;}
/* GNB : 전체메뉴 */
.header .gnb .menu_all {position:absolute; left:0; top:55px; right:0; border:1px solid #020219; background-color:#fff; display:none;}
.header .gnb .menu_all .bundle {position:relative; overflow-x:hidden;overflow-y:auto;}
.header .gnb .menu_all .column:nth-child(1) {width:899px; border-right:1px solid #dee0e2;}
.header .gnb .menu_all .column:nth-child(2) {position:absolute; left:899px; top:0; bottom:0; width:199px; border-left:1px solid #dee0e2; box-sizing:border-box;}
.header .gnb .menu_all .column:nth-child(2) dl dt {background-color:#f5f6f6;}
.header .gnb .menu_all dl dt {padding:9px 19px 8px; font-weight:700; font-size:17px; background-color:#eef8fd; border-bottom:1px solid #e5e5e8;}
.header .gnb .menu_all dl dd {width:100%; display:table; table-layout:fixed; box-sizing:border-box;}
.header .gnb .menu_all dl dd + dd {border-top:1px solid #e5e5e8;}
.header .gnb .menu_all dl dd .box {padding:19px; vertical-align:top; display:table-cell;}
.header .gnb .menu_all dl dd .box + .box {border-left:1px solid #dee0e2;}
.header .gnb .menu_all dl dd .box > a, .header .gnb .menu_all dl dd .box li > a {position:relative;}
.header .gnb .menu_all dl dd .box.new > a:before, .header .gnb .menu_all dl dd .box li.new > a:before {content:''; width:13px; height:13px; background:url("../img/common/icon_set1.png") -920px -160px; position:absolute; top:1px; right:-17px; z-index:1;}
.header .gnb .menu_all dl + dl {border-top:1px solid #e5e5e8;}
.header .gnb .menu_all .box ul + a, .header .gnb .menu_all .box ul + strong {margin-top:26px;}
.header .gnb .menu_all .box > a, .header .gnb .menu_all .box > strong {font-size:15px;}
.header .gnb .menu_all .box > a + a, .header .gnb .menu_all .box > a + strong {margin-top:28px;}
.header .gnb .menu_all .box > a + ul, .header .gnb .menu_all .box > strong + ul {clear:left; padding-top:10px;}
.header .gnb .menu_all .box > a + div {margin-top:10px;}
.header .gnb .menu_all .box > div:only-child {margin-top:26px;}
.header .gnb .menu_all .box > div > a {font-size:13px;}
.header .gnb .menu_all .box > div > ul {margin-top:5px; padding-left:8px;}
.header .gnb .menu_all .box > div > ul li {position:relative; margin-top:3px; font-size:13px; color:#7c838b;}
.header .gnb .menu_all .box > div > ul li:first-child {margin-top:0;}
.header .gnb .menu_all .box > div > ul li:before {content:"- "; position:absolute; left:-8px; top:0;}
.header .gnb .menu_all .box > div > ul li a {font-size:13px; color:#7c838b;}
.header .gnb .menu_all .box > div > ul li a:hover {text-decoration:underline;}
.header .gnb .menu_all .column li a:hover {color:#020219;}
.header .gnb .menu_all .etc {position:absolute; right:0; bottom:17px; width:198px; text-align:center;}
.header .gnb .menu_all .btn {width:74px; height:55px; border:1px solid #cdd0d3; border-radius:3px; text-align:center; font-size:12px !important; font-weight:700; display:inline-block;}
.header .gnb .menu_all .btn:before {content:'';display:block;margin:8px auto 3px;width:25px;height:22px;background-position:-800px -80px;}
.header .gnb .menu_all .btn + .btn {margin-left:7px;}
.header .gnb .menu_all .btn.ico2 {left:auto;right:19px;}
.header .gnb .menu_all .btn.ico2:before {background-position:-840px -80px;}
.header .gnb .menu_all [data-fn="menu_all_close"] {position:absolute; right:-40px; top:-1px; width:0; height:40px; padding-left:40px; background-color:#393992; overflow:hidden;}
.header .gnb .menu_all [data-fn="menu_all_close"]:before {content:""; position:absolute; left:50%; top:50%; width:16px; height:16px; margin:-8px 0 0 -8px; background-image:url("../img/common/icon_set1.png"); background-position:-440px -240px;}

/* GNB : 버튼 : 전체보기 */
.header .gnb .btn_all {position:absolute; left:0; top:-1px; width:0; height:56px; padding-left:56px; border:solid #e5e5e8; border-width:0 1px; overflow:hidden; transition:all 0.2s ease; -webkit-transition:all 0.2s ease;}
.header .gnb .btn_all:before, 
.header .gnb .btn_all:after {content:""; position:absolute; left:50%; top:50%; width:20px; margin-left:-10px;}
.header .gnb .btn_all:before {height:11px; margin-top:-8.5px; border:solid #24aae1; border-width:3px 0;}
.header .gnb .btn_all:after {height:3px; margin-top:-1.5px; background-color:#24aae1;}
.header .gnb .btn_all.on {background-color:#24aae1;border-left-color:#24aae1;border-top-color:#24aae1;border-bottom-color:#24aae1;}
.header .gnb .btn_all.on:before {border-color:#fff;}
.header .gnb .btn_all.on:after {background-color:#fff;}
.header .gnb .btn_all.on + .menu_all {display:block;}

/*--------------------------------------------------------------------------------
	# CONTENT : SECTION
---------------------------------------------------------------------------------*/
[class*="panel"] {position:relative;margin:50px auto;width:1100px;}
[class*="panel"]:not(:empty):after {content:'';display:block;clear:both;}
[class*="panel"]:empty {background:#dadada;text-align:center;line-height:420px;color:#fff;}
[class*="panel"]:empty:before {content:attr(data-title);}
[class*="panel"]:empty:after {display:none;}
[class*="tit_type"] + [class*="panel"]:not(.panel1), .hide + [class*="panel"]:not(.panel1) {margin-top:0;}

.panel1 {margin-top:25px;}
.panel2 {margin:0 auto;padding:35px 0 35px;}
.panel2:before {content:'';display:block;position:absolute;top:0;bottom:0;right:-200%;left:-200%;z-index:-1;background:#f0f5fb;}
.panel2 > .inner .tit_type:first-child {margin-top:-5px;}
.panel3 {padding:30px 0;border-top:1px solid #dee0e2;border-bottom:1px solid #dee0e2;}
.panel4 {margin-top:30px;margin-bottom:30px;}
.paging + .panel2 {margin-top:20px;}

[class*="panel"].mt25{margin-top:25px}

/*--------------------------------------------------------------------------------
	# CONTENT : LAYOUT
---------------------------------------------------------------------------------*/
.content {min-height:440px;}
.content .container:after {clear:both; content:""; display:block;}
.content > .container {float:none; margin:0 auto; position:relative; padding-top:35px; width:1100px;}
.content > .container .panel2:last-child {margin-bottom:-30px;}
.content .headarea + .container.panel2 {margin-top:0;padding-top:46px;}

/*
.content > .container > .panel2 > *, .content > .container > .panel3 > * {width:1100px;margin:0 auto;}
.content > .container > .inner > .panel2 > *, .content > .container > .inner > .panel3 > * {width:820px;margin:0 auto;}
*/

/* CONTENT : 상단 : 부킹엔진노출 */
.content > .headarea + .container, .content > .form_search1 + .container {padding-top:0;} /* .form_search1 + .container : 제주할인항공에는 padding-top이 있어야 함. flight.css에서 재정의 */

/* CONTENT : 좌측 : 서브메뉴 노출 */
.content > .inner {width:1100px; padding-bottom:35px; margin:0 auto;}
.content > .inner:after {clear:both; content:""; display:block;}
.content .lnb {float:left; width:154px; padding-top:30px;}
.content .lnb ~ .container {float:right; width:914px; padding:30px 0 0;}
.content .lnb ~ .container [class*="panel"] {width:100%;}
.content .lnb ~ .container > .tit_type:first-child {margin-top:15px;}
.content .lnb ~ .container > .tit_type5:first-child {margin-top:17px;}

/* CONTENT : 우측 : 결제정보요약노출 */
.content:not(.member) > .container > .inner {float:left;}
.content:not(.member) > .container > .inner,
.content:not(.member) > .container > .inner .tab_type2 ul {width:820px;}
.content:not(.member) > .container > .inner [class*="panel"] {width:100%;}
.content:not(.member) > .container > .inner [class*="panel"]:first-child,
.content:not(.member) > .container > .inner .hide:first-child + [class*="panel"] {margin-top:0;}
.content > .container .aside {float:right;}
.content > .container .aside.data_pay > .area {-ms-flex:1;flex:1;overflow-x:hidden;overflow-y:auto;min-height:150px;background:#fff;}
/*.content > .container .data_summary ~ .aside {top:640px;height:calc(100vh - 610px);}*/

/* CONTENT : 우측 : 컨텐츠밖 : 마케팅배너노출 */
.content > .container .aside2 {position:absolute;top:3px;right:-91px;width:80px;}

/*--------------------------------------------------------------------------------
	# 메가메뉴
---------------------------------------------------------------------------------*/
.mega_menu {position:absolute; left:50%; top:186px; width:1100px; margin:0 -550px; z-index:31;}

/* 메가메뉴 : 1댑스메뉴 */
.mega_menu .list {overflow:hidden;display:table;table-layout:fixed;width:100%;}
.mega_menu .list > li {display:table-cell;text-align:center;height:38px;background:#24aae1;border:1px solid #24aae1;vertical-align:middle;}
.mega_menu .list > li:first-child {border-top-left-radius:3px;border-bottom-left-radius:3px;}
.mega_menu .list > li:last-child {border-top-right-radius:3px;border-bottom-right-radius:3px;}
.mega_menu .list > li > a {display:block;position:relative;z-index:1;margin-right:-1px;color:#fff;font-size:14px;font-weight:700;line-height:1.33;}
.mega_menu .list > li > a:before {content:""; position:absolute; left:-2px; top:50%; width:1px; height:11px; margin-top:-5px; background-color:#66c4ea;}
.mega_menu .list > li:hover, .mega_menu .list > li.on  {background:#fff;border-color:#fff;}
.mega_menu .list > li:hover > a, .mega_menu .list > li.on > a {z-index:2;background:#fff;color:#2096ce;}
.mega_menu .list > li:hover > a:before, .mega_menu .list > li.on > a:before {display:none;}
.mega_menu .list > li:hover .sub {display:table;}
.mega_menu .list > li:nth-child(8) ~ li {display:none;} /* 8개 이상일 경우 비노출 */

/* 메가메뉴 : 2댑스메뉴 */
.mega_menu .sub {overflow:hidden; position:absolute; left:0; top:100%; right:0; margin-top:-2px; text-align:left; background-color:#fff;border:1px solid #fff; display:none; table-layout:fixed; width:100%; border-radius:0 0 3px 3px; box-shadow:0 10px 8px 0 rgba(0,0,0, 0.06);box-sizing:border-box;}
.mega_menu .sub > ul {overflow:hidden;display:table-cell;position:relative;padding-bottom:10px;vertical-align:top;}
.mega_menu .sub > ul > li a {display:inline-block;vertical-align:middle;}
.mega_menu .sub > ul > li a:hover {color:#2096ce;text-decoration:underline;}
.mega_menu .sub > ul > li .icon_com1 {margin:-1px -30px 0 0;}
.mega_menu .sub > ul:only-child {padding-right:262px;}
.mega_menu .sub > ul:first-child:before {content:'';display:block;position:absolute;bottom:0;left:0;right:0;z-index:2;height:20px;background:#fff;}
.mega_menu .sub > ul:first-child > li {display:inline-block;position:relative;padding:12px 19px 4px;width:264px;vertical-align:top;font-size:0;box-sizing:border-box;}
.mega_menu .sub > ul:first-child > li a {position:relative;padding:3px 4px 3px 8px;font-size:13px;}
.mega_menu .sub > ul:first-child > li li a:before {content:'';display:block;position:absolute;top:13px;left:0;width:4px; height:1px;background:#020219;}
.mega_menu .sub > ul:first-child > li > a {padding:4px 4px 4px 0;font-size:14px;}
.mega_menu .sub > ul:first-child > li:nth-child(2):before,
.mega_menu .sub > ul:first-child > li:nth-child(3):before {content:'';display:block;position:absolute;left:0;top:20px;bottom:-10000%;width:1px;background:#f2f3f4;}
.mega_menu .sub > ul:last-child:not(:only-child) {padding:10px 20px;width:218px;background:#e9f6fc;border-bottom-color:#e9f6fc;}
.mega_menu .sub > ul:last-child:not(:only-child) > li > a {padding:6px 4px 6px 0;font-size:14px;font-weight:700;}

.mega_menu.t1 .sub {background-color:#e9f6fc; border:0;}
.mega_menu.t1 .sub > ul {display:inline-block; padding-bottom:0;}
.mega_menu.t1 .sub > ul:only-child {width:100% !important; padding-right:0;}
.mega_menu.t1 .sub > ul:first-child {width:838px; max-height:440px; background-color:#fff; overflow-y:auto;} 
.mega_menu.t1 .sub > ul:first-child:before {height:15px;}
.mega_menu.t1 .sub > ul:first-child:after {content:''; display:block; clear:both;}
.mega_menu.t1 .sub > ul:first-child > li {width:calc(100% - 20px);padding:15px 0;margin-left:20px;}
.mega_menu.t1 .sub > ul:first-child > li + li {border-top:1px solid #f2f3f4;}
.mega_menu.t1 .sub > ul:first-child > li a {padding:0;font-size:14px;line-height:22px;vertical-align:top;float:left;}
.mega_menu.t1 .sub > ul:first-child > li > a {max-width:116px;}
.mega_menu.t1 .sub > ul:first-child > li > ul {width:calc(100% - 136px); line-height:16px; float:right; position:relative;}
.mega_menu.t1 .sub > ul:first-child > li > ul:before {content:''; width:1px; height:13px; background-color:#dee0e2; position:absolute; left:0; top:5px;}
.mega_menu.t1 .sub > ul:first-child > li > ul > li {padding-left:20px; display:inline-block; vertical-align:middle;}
.mega_menu.t1 .sub > ul:first-child > li > ul > li > a {padding:0; display:inline-block;}
.mega_menu.t1 .sub > ul:first-child > li li a:before,
.mega_menu.t1 .sub > ul:first-child > li:nth-child(2):before,
.mega_menu.t1 .sub > ul:first-child > li:nth-child(3):before {content:none;}
.mega_menu.t1 .sub > ul:first-child .icon_com1 {margin:4px 0 0 0;}
.mega_menu.t1 .sub > ul:last-child:not(:only-child) {max-height:420px;}
.mega_menu.t1 .sub > ul:last-child:not(:only-child) > li > a {width:auto;}
.mega_menu.t1 .sub > ul:last-child:not(:only-child) .icon_com1 {margin:-1px -30px 0 0;}


/*--------------------------------------------------------------------------------
	# 상단영역
---------------------------------------------------------------------------------*/
/* 상단영역 : 검색목록 */
.headarea {background:#fff no-repeat 50% 50%; background-size:cover;}
.headarea > .inner {width:1100px; margin:0 auto;}
.headarea .title {margin-bottom:13px;font-weight:700; font-size:23px; line-height:1; color:#fff; letter-spacing:-0.05em;}
.headarea .txt:not(ul) {margin-top:-6px; font-size:15px; line-height:1.47; color:#fff; letter-spacing:-0.05em;}
.headarea[style] {position:relative;}

.content > [class*="form_search"] {margin-top:-50px;}
.content .headarea + .container,
.content .mes_loading + .container {padding-top:0;margin-top:40px;}
/*.content .calendar_type + .container {margin-top:30px;} : 공동구매항공으로인해 삭제 */

/* 컨텐츠 : 공유하기 노출 */
.container.share {margin-top:58px !important;}
.container.share2 {padding-top:0 !important;margin-top:30px; position:relative;}
.container.share2 > .btn_wrap2.t1 {margin:0;top:7px;bottom:auto;}

/*--------------------------------------------------------------------------------
	# 좌측메뉴
---------------------------------------------------------------------------------*/
.content .lnb .menu {border:1px solid #dee0e2; border-radius:3px;background:#fff;}
.content .lnb .menu h2 {position:relative; padding:17px 5px 18px 15px; font-weight:700; font-size:19px; line-height:22px; letter-spacing:-0.03em;}
.content .lnb .menu h2:before {content:""; position:absolute; left:16px; bottom:0; width:17px; height:2px; background-color:#020219;}
.content .lnb .menu > ul {margin-top:10px; padding-bottom:13px;}
.content .lnb .menu > ul li {position:relative;}
.content .lnb .menu > ul li a {position:relative;padding:10px 14px; font-size:14px; line-height:1.4; color:#020219; letter-spacing:-0.03rem; display:block;}
.content .lnb .menu > ul li a.on {font-weight:700; color:#fff;background-color:#24aae1;}
.content .lnb .menu > ul li a.on:before {content:""; position:absolute; left:-1px; top:0; right:-1px; bottom:0; border:1px solid #24aae1;}
.content .lnb .menu > ul > li > ul {overflow:hidden;opacity:0;height:0;padding-bottom:2px;}
.content .lnb .menu > ul > li > ul > li > a {padding:9px 14px 9px 26px;font-size:13px;}
.content .lnb .menu > ul > li > a:nth-last-child(2):first-child {padding-right:30px;background:none;}
.content .lnb .menu > ul > li > a:nth-last-child(2):first-child:after {content:'';display:block;position:absolute;top:50%;right:17px;width:9px;height:5px;background:url('../img/common/icon_set2.png') no-repeat -280px -100px;}
.content .lnb .menu > ul > li > a.open {font-weight:700; color:#2096ce}
.content .lnb .menu > ul > li > a.open:nth-last-child(2):first-child:after {background-position:-300px -80px;}
.content .lnb .menu > ul > li > a.open + ul {opacity:1;height:auto;padding-bottom:2px;}
.content .lnb .menu > ul > li > .select_type1 {display:block;margin:0 auto;width:calc(100% - 24px);}
.content .lnb .menu > ul > li > .select_type1 + .select_type1 {margin-top:5px;}

.content .lnb .menu + [class*="btn_type"] {margin-top:17px;}
.content .lnb > [class*="btn_type"] {width:100%;}
.content .lnb > [class*="btn_type"] + [class*="btn_type"] {margin-top:6px;}

.content .lnb > .info {margin-top:17px; padding:11px 15px; border-radius:3px; background-color:#f2f5fa;}
.content .lnb > .info dt {font-weight:700; font-size:14px;}
.content .lnb > .info dd {position:relative; padding-left:7px; font-size:13px; line-height:20px; color:#5b646e; letter-spacing:-0.02em;}
.content .lnb > .info dd:before {content:""; position:absolute; left:0; top:8px; width:2px; height:2px; border-radius:50%; background-color:#5b646e;}
.content .lnb > .info dd:first-of-type {margin-top:7px;}
.content .lnb > .info dd + dd {margin-top:6px;}
.content .lnb > .info dd b {display:block;}

.content .lnb .bnr1 {margin-top:17px;}
.content .lnb .bnr1 li + li {margin-top:10px;}

.content .container .article .tit_type1:nth-of-type(1) {padding-top:15px;}
.content .container .tab_type2,
.content .container .tab_type3, 
.content .container .tab_type7[data-tabbtn="utabview"] {margin-left:-100%;margin-right:-100%;}

.content .container.fixed article[data-tab="utabinfo"] {margin-top:83px; padding-top:59px;}
.content .container.fixed [data-sticky], 
.content .container.fixed [data-sticky-sub] {position:fixed; top:0; left:0; right:0; z-index:100; margin:0;}
.content .container.fixed [data-sticky-sub] {top:48px;}
.content .container.fixed > .inner:nth-last-child(2) [data-sticky],
.content .container.fixed > .inner:nth-last-child(2) [data-sticky-sub]{margin:0 -100%;right:280px;}

.content .aside[class*="sticky"] {position:fixed;top:0;left:50%;right:auto;bottom:0;z-index:101;margin-left:286px;}
.content .aside[class*="sticky"] [class*="select_type"] a.selected {width:186px;}
.content .aside.sticky:not(.sticky2) {height:auto !important;}
/* .content .aside.sticky2 {position:fixed;top:0;} */
/* .content .aside.sticky:not(.sticky2) {height:auto !important;}
.content .aside.sticky2 {position:absolute;top:auto;} */

.content[class*="sticky"] {padding-top:140px;}
.content[class*="sticky"] .tab_wrap {z-index:auto;}
.content[class*="sticky"] .btn_type2.ico16 {overflow:hidden;position:fixed;top:14px;right:50%;z-index:20;margin-right:-534px;padding-left:48px;padding-right:0;min-width:0;width:0;height:48px;border:0;white-space:nowrap;}
.content[class*="sticky"] .btn_type2.ico16:before {position:absolute;top:50%;left:50%;margin:-9px -10px;}
.content[class*="sticky"] [class*="layer_detail_search"].on {margin:0 -498px;top:76px;width:1048px;padding-left:23px;padding-right:23px;border:2px solid #24aae1;border-top:0;background-color:#fff;box-shadow:0 0 0 0;}
.content[class*="sticky"] [class*="layer_detail_search"] h1:before, 
.content[class*="sticky"] [class*="layer_detail_search"].on:before {display:none;}
.content[class*="sticky"] .form_detail_search2 .area:nth-of-type(even) {width:212px;}
.content[class*="sticky"] .layer_detail_search2.on {margin:0 -270px;width:820px;}
.content.sticky2 .product_type6 {padding-top:50px;}
.content.sticky2 .product_type6 .head {position:fixed;top:76px;left:50%;z-index:18;margin:0 -550px;width:1100px;border-top:0;}
.content.sticky2 .product_type6 .head:before {content:'';display:block;position:absolute;top:-1px;bottom:-1px;left:-100%;right:-100%;background:#eff2f6;border-bottom:1px solid #adb1b6;}

/* 모니터해상도 : 1100px 이하 */
@media screen and (max-width:1110px) {
	.content[class*="sticky"] [class*="layer_detail_search"].on {left:52px;margin:0;}
	.content[class*="sticky"] .layer_detail_search2.on {left:280px;margin:0;}
	.content[class*="sticky"] .btn_type2.ico16 {left:1035px;margin:0;}
	.content .aside[class*="sticky"] {left:836px;margin:0;}
	.content.sticky2 .product_type6 .head {left:0;margin:0;}
	.content .container.fixed > .inner:nth-last-child(2) [data-sticky], 
	.content .container.fixed > .inner:nth-last-child(2) [data-sticky-sub] {position:relative;top:0;}
	.content .container.fixed article[data-tab="utabinfo"] {padding-top:0;margin-top:0;}
} 

/* IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	.content .aside[class*="sticky"] {position:absolute;bottom:auto !important;}
} 

/*--------------------------------------------------------------------------------
	# Footer
---------------------------------------------------------------------------------*/
.footer .inner {width:1100px; margin:0 auto;}
.footer .inner:after {content:""; clear:both; display:block;}

/* Footer : 약관 */
.footer .terms {padding:9px 0; background-color:#5b646e;}
.footer .terms ul, 
.footer .terms li {vertical-align:middle; display:inline-block;}
.footer .terms li + li:before {content:""; width:1px; height:12px; margin:-2px 25px 0 21px; background-color:#7c838b; vertical-align:middle; display:inline-block;}
.footer .terms li a {display:inline-block;padding:6px 0;font-size:13px; color:#fff;}
.footer .terms li a b {color:#bde5f6;}
.footer .terms .btn_ad {float:right; width:106px; font-size:13px; line-height:30px; color:#fff; text-align:center; border:1px solid #adb2b7; border-radius:3px;}

/* Footer : 저작권소개 */
.footer .olt {float:left; width:752px; padding:25px 0 22px; letter-spacing:-0.04em;color:#8d8d92}
.footer .olt dt {width:0; height:26px; padding-left:109px; background-image:url("../img/common/icon_set3.png"); background-position:-320px 0; overflow:hidden;}
.footer .olt dd {margin-top:20px;}
.footer .olt .company, 
.footer .olt address {overflow:hidden;}
.footer .olt .company li {vertical-align:middle; display:inline-block;}
.footer .olt .company li a {color:#8d8d92;text-decoration:underline;text-underline-position:under;}
.footer .olt .company li, 
.footer .olt address span {margin:0 13px 0 -13px;}
.footer .olt .company li:before, 
.footer .olt address span:before {content:""; width:1px; height:11px; margin:0 8px 0 4px; background-color:#bdc1c5; vertical-align:middle; display:inline-block;}
.footer .olt address span {vertical-align:middle; display:inline-block;}
.footer .olt small {margin-top:10px; letter-spacing:-0.01em; display:block;}
.footer .olt .area {display:block;margin-top:1px;}

/* Footer : 기타 : SNS */
.footer .etc {float:right; width:348px; padding:24px 0 24px;font-size:0;}
.footer .etc .sns {margin-bottom:20px; text-align:right;}
.footer .etc .sns li {vertical-align:middle; display:inline-block;}
.footer .etc .sns li:last-child .btn_sns {margin-right:0;}
.footer .etc .sns a.btn_sns:before {background-position-y:-400px;}
.footer .etc .sns a.btn_sns:hover:before {background-position-y:-360px;}

/* Footer : 기타 : 온라인투어 */
.footer .etc .contact {position:relative; vertical-align:top; display:inline-block;}
.footer .etc .contact:before {content:""; position:absolute; left:167px; top:4px; width:1px; height:94px; background-color:#e7e9ec;}
.footer .etc .contact > dt, .footer .etc .contact > dd {width:169px;}
.footer .etc .contact > dt {font-weight:700; font-size:13px; letter-spacing:-0.03em;}
.footer .etc .contact > dd span{font-family:"Spoqa Han Sans"; font-size:30px; line-height:1.2; letter-spacing:-0.05em;}
.footer .etc .contact > dd .btn_type2 {width:100px; font-size:13px; line-height:30px; font-weight:400; margin-top:11px;}
.footer .etc .contact > dd .btn_type2:not(:hover) {color:#89939f;border-color:#d0d4d9;}
.footer .etc .contact > dd .btn_type2.arr1:after {background-position:-40px 0;}
.footer .etc .contact > dd dl {margin-top:5px;font-size:13px;}
.footer .etc .contact > dd dl:after {clear:both; content:""; display:block;}
.footer .etc .contact > dd dt {float:left; width:80px; color:#8693a0;letter-spacing:0.45em;white-space:nowrap;}
.footer .etc .contact > dd dt:first-of-type {letter-spacing:3.2em;}
.footer .etc .contact > dd dt:last-of-type {letter-spacing:0;}
.footer .etc .contact > dd dd {float:left; width:88px; text-align:right;}
.footer .etc .contact > dd  dt ~ dt, 
.footer .etc .contact > dd  dd ~ dd {margin-top:6px;}
.footer .etc .contact > dd + dt {margin-top:-98px;}
.footer .etc .contact > dd + dt , .footer .etc .contact > dd + dt + dd {margin-left:187px;}

/* Footer : 보안인증마크 */
.footer .slide1.partner {height:62px;background:#f3f4f5;}
.footer .slide1.partner .slide_area {overflow:hidden;position:relative;margin:0 auto;padding:0 45px;width:1100px;box-sizing:border-box;}
.footer .slide1.partner .slide_area:before,.slide1.partner .slide_area:after {content:'';display:block;position:absolute;top:0;bottom:0;z-index:1;width:60px;background:#f3f4f5;}
.footer .slide1.partner li {width:202px;}
.footer .slide1.partner li img {width:100%;}
.footer .slide1.partner .box .btn_prev, .slide1.partner .box .btn_next {top:50%; margin:-13px 0;}
.footer .slide1.partner .box .btn_prev, .slide1.partner .slide_area:before {left:0;}
.footer .slide1.partner .box .btn_next, .slide1.partner .slide_area:after {right:0;}

/*--------------------------------------------------------------------------------
	# QUICK Bar
---------------------------------------------------------------------------------*/
aside.quick_bar {position:fixed; top:0; right:0; z-index:101; width:120px; height:100%; border-left:1px solid #dee0e2; background-color:#fff;transition:right 0.5s; box-sizing:border-box;}
/*aside.quick_bar:before {content:''; position:absolute; z-index:-1; width:118px; height:100%; border-left:1px solid #dee0e2; border-right:1px solid #dee0e2;}*/
aside.quick_bar > article {position:relative;}
aside.quick_bar > dl, aside.quick_bar > ul {padding:10px 10px 11px; position:relative;}
aside.quick_bar > dl + dl, aside.quick_bar > dl + ul, aside.quick_bar > dl + article, 
aside.quick_bar > ul + dl, aside.quick_bar > ul + ul, aside.quick_bar > ul + article, 
aside.quick_bar > article + dl, aside.quick_bar > article + ul, aside.quick_bar > article + article {border-top:1px solid #dee0e2;}

/* QUICK : 로그인 상태 (로그인/비로그인) */
aside.quick_bar .log {width:100%; padding:11px 0; border-left:1px solid #4b4bac; border-right:1px solid #4b4bac; background-color:#4b4bac; color:#fff; text-align:center; line-height:1.35; font-size:13px;}
aside.quick_bar .log > i, aside.quick_bar .log > em {margin-top:4px; color:#ffd800; text-decoration:none; display:inline-block;}
aside.quick_bar .log > i:before {content:''; display:inline-block; vertical-align:middle; width:16px; height:16px; margin-right:5px; background-image:url("../img/common/icon_set1.png"); overflow:hidden;}
aside.quick_bar .log > i.grade_f:before {background-position:-751px -91px;}
aside.quick_bar .log > i.grade_b:before {background-position:-781px -91px;}
aside.quick_bar .log > i.grade_s:before {background-position:-811px -91px;}
aside.quick_bar .log > i.grade_g:before {background-position:-841px -91px;}
aside.quick_bar .log > i.grade_p:before {background-position:-871px -91px;}
aside.quick_bar .log .btn_small2 {margin:5px 0 3px; border-color:#ffd800; color:#ffd800; background:none; font-weight:400;}
aside.quick_bar .log .btn_small2:after {background-position:-140px 0;}
aside.quick_bar .log.login:before {content:''; display:block; margin:2px auto 3px; width:19px; height:19px; background:url('../img/common/icon_set1.png') no-repeat -600px -40px;}

/* QUICK : 예약/찜/알림 */
aside.quick_bar > dl {padding-top:7px;padding-bottom:8px;}
aside.quick_bar > dl > dt, aside.quick_bar > dl > dd {display:inline-block; vertical-align:middle; margin:0 -4px 0 0;}
aside.quick_bar > dl > dt {width:70%; font-weight:bold; color:#5b646e;}
aside.quick_bar > dl > dd {width:30%; text-align:right;}
aside.quick_bar > dl > dd a {display:block;padding:3px 0;font-weight:700; color:#2096ce;}

/* QUICK : 현지투어 장바구니 */
aside.quick_bar > dl > dt.cart {color:#393992; letter-spacing:-1px;}

/* QUICK : 바로가기 | 비회원 예약조회 */
aside.quick_bar > ul > li + li {padding-top:6px;}
aside.quick_bar > ul > li a, aside.quick_bar .nomember a {font-weight:bold; color:#5b646e; display:block; position:relative;}
aside.quick_bar > ul > li a:after, aside.quick_bar .nomember a:after {content:''; position:absolute; top:50%; margin-top:-5px; right:0; width:6px; height:10px; background-image:url("../img/common/icon_set2.png"); background-position:-40px 0;}
aside.quick_bar .nomember {padding:10px 10px 11px; background-color:#fafafa; box-sizing:border-box; border-left:1px solid #dee0e2; border-right:1px solid #dee0e2; border-bottom:1px solid #dee0e2;}

/* QUICK : 최근 본 상품 */
aside.quick_bar > article > h1 {padding:10px 10px 11px; color:#020219; text-align:center;}
aside.quick_bar > article > h1 > b {color:#2096ce;}

/* QUICK : 최근 본 상품 | 컨드롤버튼 */
aside.quick_bar .slide_quick {position:relative;margin-top:20px;}
aside.quick_bar .slide_quick .thumb {display:none;}
aside.quick_bar .slide_quick .box > button {position:absolute;top:-22px;width:50px; height:0; padding-top:20px; overflow:hidden; float:left;}
aside.quick_bar .slide_quick .box > button:before {content:''; position:absolute; top:50%; margin-top:-3px; left:50%; margin-left:-5px; width:10px; height:6px; background-image:url("../img/common/icon_set2.png"); overflow:hidden;}
aside.quick_bar .slide_quick .box > button.disabled {opacity:1;}
aside.quick_bar .slide_quick .box > button.btn_prev {border:1px solid #cdd0d3; border-right:0; border-radius:3px 0 0 3px;}
aside.quick_bar .slide_quick .box > button.btn_prev:before {background-position:-260px -40px;}
aside.quick_bar .slide_quick .box > button.btn_prev.disabled:before {background-position:-220px -40px;}
aside.quick_bar .slide_quick .box > button.btn_next {left:60px;right:0;border:1px solid #cdd0d3; border-radius:0 3px 3px 0;}
aside.quick_bar .slide_quick .box > button.btn_next:before {background-position:-260px -60px;}
aside.quick_bar .slide_quick .box > button.btn_next.disabled:before {background-position:-220px -60px;}
/* QUICK : 최근 본 상품 | 상품있음 */
aside.quick_bar .slide_quick .box {overflow:hidden;height:479px;padding:10px;}
aside.quick_bar > article .products > li {height:163px; position:relative;}
aside.quick_bar > article .products > li > button {width:17px; padding-top:17px; height:0; background:url("../img/common/icon_set1.png") no-repeat -880px -160px; position:absolute; top:-5px; right:-5px; z-index:1; overflow:hidden; opacity:0;}
aside.quick_bar > article .products > li:hover > button {opacity:1;}
aside.quick_bar > article .products a {display:block;}
aside.quick_bar > article .products a > span {overflow:hidden;display:block;position:relative;width:100%;height:74px;border-radius:3px;}
aside.quick_bar > article .products a > span:empty {background-color:#f2f3f4;}
aside.quick_bar > article .products a > span:empty:before {transform:scale(0.7)}
aside.quick_bar > article .products a > span > img {position:absolute;top:50%;left:0;width:100%;height:auto;min-height:74px;}
aside.quick_bar > article .products a > .txt_data3[style*='background-image'] {height:74px;}
aside.quick_bar > article .products .info {padding:7px 0; margin-left:-5px; margin-right:-5px; line-height:16px;text-align:center;}
aside.quick_bar > article .products .info > strong {margin:0 auto; width:90%; max-height:32px; color:#020219; overflow:hidden; text-overflow:ellipsis; display:block; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; letter-spacing:-1px;font-weight:400;}
aside.quick_bar > article .products .info > b {color:#ff464d; letter-spacing:-1px; display:block;}
aside.quick_bar > article .products .info > time {color:#2096ce; letter-spacing:-1px; display:inline-block;}
/* QUICK : 최근 본 상품 | 상품없음 */
aside.quick_bar > article .noproduct {height:489px; text-align:center;}
aside.quick_bar > article .noproduct:before {content:''; height:100%; display:inline-block; vertical-align:middle;}
aside.quick_bar > article .noproduct > span {display:inline-block; vertical-align:middle; line-height:16px; color:#5b646e;}
aside.quick_bar > article .noproduct > span:before {content:''; display:block; width:60px; height:60px; margin:0 auto 5px; background-image:url("../img/common/icon_set1.png"); background-position:-800px -1200px;}

/* QUICK : TOP & 퀵바 닫기열기 버튼 */
aside.quick_bar > .top_area {width:99px; border-top:1px solid #dee0e2; padding:10px; background-color:#fff; position:fixed; bottom:0; z-index:1;}
aside.quick_bar > .top_area .btn_top {width:100%; height:34px; font-weight:bold; padding:7px 10px; box-sizing:border-box; border:1px solid #cdd0d3; border-radius:3px; color:#020219; display:inline-block; text-align:center;}
aside.quick_bar .btn_handle {position:absolute; top:50%; left:-23px; width:0; height:32px; padding-left:20px; margin:-16px 0;background-color:#5b646e; border:1px solid #5b646e; overflow:hidden;}
aside.quick_bar .btn_handle:before {content:''; position:absolute; top:50%; margin-top:-5px; left:50%; margin-left:-3px; width:7px; height:10px; background-image:url("../img/common/icon_set2.png"); background-position:0 -40px;}

/* QUICK : CLOSE */
aside.quick_bar.close {right:-120px;}
aside.quick_bar.close .btn_handle:before {background-position:0 -60px;}