@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 메인 공통 스타일
############################## */

/*--------------------------------------------------------------------------------
	# 공통레이아웃
---------------------------------------------------------------------------------*/
/* PANEL2 */
.panel2 + .panel2 {padding-top:0;}
.panel2 [class*="tit_type"] ~ .sub {top:38px;}
.form_search1 + .panel2 {margin-top:-65px;padding-top:91px;}
.form_search1 + .panel2 .tit_type:first-child {margin-top:-2px;}

/* PANEL 좌우배치 : 우측(236px) */
[class*="panel"] .section1 {float:left;width:calc(100% - 279px);}
[class*="panel"] .section1[class*="product_card"] {margin-top:-8px;width:calc(821px + 16px) !important;}
[class*="panel"] .section1.product_card3 .area2 {height:145px;}
[class*="panel"] .section1.product_card3 .icon_txt2 {color:#5b646e !important;font-weight:400;}
[class*="panel"] .section2 {float:right;width:263px;}

/* 목록여백정의 */
[class*="panel"] .list_card, [class*="panel"] .list_card3 {margin-top:-8px;}

/*--------------------------------------------------------------------------------
	# 배너
---------------------------------------------------------------------------------*/
.bnr_area section {float:left;width:542px;}
.bnr_area section + section {float:right;}
.bnr_area section + .area {width:529px;}
.bnr_area > .inner .btn_small2.sub {top:0px;}
.panel.bnr_area {margin-top:35px;margin-bottom:35px;}
.panel2[class*="bnr_area"] {margin-top:0;margin-bottom:0;}
.slide1 + .bnr_area {margin-top:15px;}

/*--------------------------------------------------------------------------------
	# 이달의 HOT 키워드
---------------------------------------------------------------------------------*/
.panel2.keyword {margin-top:35px;padding:0;height:166px;text-align:center;}
.panel2.keyword:before {background-color:#24aae1;}
.panel2.keyword h2 {display:inline-block;margin:0 0 0 -7px !important;padding-top:51px;width:273px;height:166px;line-height:1.4;font-weight:400;color:#fff;text-align:left;vertical-align:middle;box-sizing:border-box;}
.panel2.keyword h2:after {content:'';display:block;position:absolute;top:29px;right:14px;width:138px;height:124px;background:url("../img/main_sub/bg_set1.png") no-repeat 0 0;}
.panel2.keyword h2 > b {display:block;font-weight:700;color:#fff;}
.panel2.keyword ul {display:inline-block;position:relative;width:calc(100% - 279px);vertical-align:middle;text-align:left;box-sizing:border-box;font-size:0;}
.panel2.keyword ul > li {display:inline-block;margin:7px 5px;}
.panel2.keyword ul > li > a {display:block;padding:1px 12px 0;background:#424296;border-radius:17px;font-size:16px;line-height:33px;color:#fff;}
.panel2.keyword ul > li > a:before {content:'#';}
.panel2.keyword ul > li:nth-child(even) > a {background:#1a7fbb;}
.panel2.keyword ul > li > a:hover {background-color:#fff !important;color:#2096ce;font-weight: 700;}
.panel2 + .panel2.keyword {margin-top:0;}

/*--------------------------------------------------------------------------------
	# 혜택
---------------------------------------------------------------------------------*/
.content:not(.tour) .panel2.benefit {padding-top:0;}
.content:not(.tour) [class*="panel"].benefit {position:relative;padding-left:172px;box-sizing:border-box;}
.content:not(.tour) [class*="panel"].benefit .tit_type {position:absolute;top:11px;left:0;margin:0;width:140px;line-height:1.4;word-break:keep-all;}
.content:not(.tour) .panel3.benefit .tit_type {top:30px;line-height:1.5;}

/*-------------------------------------------------------------------------------- 
	# SNS로 만나는 온라인투어 크루즈
---------------------------------------------------------------------------------*/
.panel.sns {font-size:0;}
.panel.sns > [class*="tit"] {display:inline-block;width:25%;margin:0;vertical-align:middle;}
.panel.sns > [class*="tit"] > b {display:block;}
.panel.sns > .bnr_sns {display:inline-block;width:75%;vertical-align:middle;}

/*--------------------------------------------------------------------------------
	# 고객센터
---------------------------------------------------------------------------------*/
.panel.cs {position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;}
.panel.cs:before {content:'';display:block;position:absolute;top:35px;left:0;bottom:0;width:542px;border:1px solid #dee0e2;}

/* 전화번호 */
.panel.cs .area1 {-ms-flex:1;flex:1;position:relative;padding-bottom:7px;margin-right:16px;}
.panel.cs .area1 dl {padding:31px 24px 9px;}
.panel.cs .area1 dl dt, .panel.cs .area1 dl dd {display:inline-block;font-size:14px;}
.panel.cs .area1 dl dt {color:#5b646e;}
.panel.cs .area1 dl dd {font-weight:700;}
.panel.cs .area1 dl dd + dt {margin-left:-2px;}
.panel.cs .area1 dl dt:not(.data1):first-child, .panel.cs .area1 dt.box {overflow:hidden;position:absolute;padding-left:1px;width:0;height:1px;white-space:nowrap;}
.panel.cs .area1 dl dt:first-child + dd, .panel.cs .area1 dl dt.data1 + dd {display:block;margin:-5px 0 14px;font-size:30px;font-family:'Spoqa Han Sans';color:#2096ce;line-height:1;}
.panel.cs .area1 dl dt.data1 {float:left;clear:both;margin-right:10px;font-size:16px;font-weight:700;color:#020219;line-height:24px;}
.panel.cs .area1 dl:nth-last-child(2) > dt:first-child + dd, .panel.cs .area1 dl:last-child > dt:first-child + dd {margin-bottom:9px;}
.panel.cs .area1 dl > dt + dd span {font-size:14px; font-weight:400; color:#020219;}
.panel.cs .area1 dl > dt + dd span:before {content:'☎'; width:13px; height:8px; display:inline-block; vertical-align:middle; margin:-10px 4px 0 0;}
.panel.cs .area1 dl > dt + dd span em.txt_c {font-weight:700;}
.panel.cs .area1 dl:nth-last-child(2), .panel.cs .area1 dl:last-child {padding-top:21px;}
.panel.cs .area1 dl:nth-last-child(2) + a:not(.btn_small2), .panel.cs .area1 dl:last-child + a:not(.btn_small2) {top:51px;}
.panel.cs .area1 dt.box {position:relative;display:block;margin-top:10px;}
.panel.cs .area1 dt.box ~ dd {margin-top:14px;width:38%;vertical-align:top;font-size:12px;font-weight:400;letter-spacing:-0.05em;}
.panel.cs .area1 dd.w1{width:40% !important}
.panel.cs .area1 dd.w2{width:50% !important}
.panel.cs .area1 dt.box ~ dd > strong {overflow:hidden;display:inline-block;width:19px;height:19px;padding:0 3px;line-height:1.4;margin-right:6px;border:1px solid #c3c3de;border-radius:50%;color:#393992;font-weight:800;text-align:center;vertical-align:middle;box-sizing:border-box;}
.panel.cs .area1 table {table-layout:fixed;margin:7px 24px 17px;width:calc(100% - 48px);}
.panel.cs .area1 table thead th {height:28px;background:#eff2f6;font-size:13px;color:#5b646e;}
.panel.cs .area1 table tbody th, .panel.cs .area1 table tbody td {height:24px;text-align:center;font-size:13px;font-weight:400;}
.panel.cs .area1 table tbody th {padding-left:10px;text-align:left;}
.panel.cs .area1 table tbody tr:first-child th, .panel.cs .area1 table tbody tr:first-child td {padding-top:4px;}
.panel.cs .area1 h4.icon_com2 {margin:-2px 24px 3px;font-size:16px}
.panel.cs .area1 h4.icon_com2 + p {margin:0 24px 17px;letter-spacing:-0.05em;font-size:13px;}
.panel.cs .area1 h4.icon_com2 + p:first-line {font-size:14px;}
.panel.cs .area1 h4.icon_com2 + p em {text-decoration:underline;}
.panel.cs .area1 h4.icon_com2 + p strong {font-size:15px;}
.panel.cs .area1 > a {position:absolute;top:60px;text-align:left;}
.panel.cs .area1 > a:not(.btn_small2) {right:24px;padding:11px 24px 11px 29px;line-height:1.3;}
.panel.cs .area1 > a:not(.btn_small2).arr1:after {margin-top:-20px;margin-left:20px;}
.panel.cs .area1 > a.btn_small2 {top:1px;right:0;padding:0 10px;line-height:22px;}
.panel.cs .area1 > a.btn_small2.arr1:after {margin-top:-2px;margin-left:5px;}
.panel.cs .area1 > a:nth-last-child(2),
.panel.cs .area1 > a:nth-last-child(2) + a {padding:7px 0;width:125px;text-align:center;}
.panel.cs .area1 > a:nth-last-child(2) + a {margin-top:38px;}
.panel.cs .area1 > a:nth-last-child(2).arr1:after, 
.panel.cs .area1 > a:nth-last-child(2) + a.arr1:after {margin-top:-2px;margin-left:10px;}

/* 공지사항 | 자주하는 질문 */
.panel.cs .area2 {flex:1;display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:flex;flex-direction:column;justify-content:space-between;position:relative;max-width:calc(50% - 16px);}
.panel.cs .area2 > section {position:relative;}
.panel.cs .area2 > a, .panel.cs .area2 section > a {position:absolute;top:1px;right:0;}
.panel.cs .area2 > section + section {margin-top:20px;}
.panel.cs .area2 .list_type > li > a > [data-flag] + strong {padding-left:5px;}
.panel.cs .area2 .list_type > li > a > strong {font-weight:400;}
.panel.cs  .btn_group {overflow:hidden;position:relative;border:1px solid #dee0e2;font-size:0;}
.panel.cs  .btn_group:before {content:'';display:block;position:absolute;top:45px;left:0;right:0;height:1px;background:#dee0e2;}
.panel.cs  .btn_group > li {display:inline-block;margin-left:-1px;width:33%;vertical-align:top;line-height:45px;border-left:1px solid #dee0e2;}
.panel.cs  .btn_group > li > a {display:block;font-size:13px;color:#020219;text-align:center;}
.rentalcar .panel.cs  .btn_group > li > a {min-height:20px;padding:22px 0 23px;display:block;font-size:13px;color:#020219;text-align:center;}
.rentalcar .panel.cs  .btn_group:before {content:none;}
.panel.cs .area2.t1 .btn_group > li > a {min-height:20px;padding:22px 0 23px;display:block;font-size:13px;color:#020219;text-align:center;}
.panel.cs .area2.t1 .btn_group:before {content:none;}
.panel.cs  .btn_group > li:last-child {position:relative;}
.panel.cs  .btn_group > li:last-child:before {content:'';display:block;position:absolute;top:0;right:0;bottom:0;width:1px;background:#dee0e2;}
.panel.cs  .btn_group > li:nth-child(2n):before,
.panel.cs  .btn_group > li:nth-child(3n):before {display:none;}
/* 갯수 : 7~8개 */
.panel.cs  .btn_group > li:nth-last-child(7):first-child,
.panel.cs  .btn_group > li:nth-last-child(7):first-child ~ li,
.panel.cs  .btn_group > li:nth-last-child(8):first-child,
.panel.cs  .btn_group > li:nth-last-child(8):first-child ~ li {width:25%;}
/* 갯수 : 2개 4개 */
.panel.cs  .btn_group > li:nth-last-child(4):first-child,
.panel.cs  .btn_group > li:nth-last-child(4):first-child ~ li,
.panel.cs  .btn_group > li:nth-last-child(2):first-child,
.panel.cs  .btn_group > li:nth-last-child(2):first-child ~ li {width:50%;}
.panel.cs  .btn_group > li:nth-last-child(2):nth-child(3):before {display:none;}

/* IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	.panel.cs .inner {display:block;}
	.panel.cs .inner:after {content:'';display:block;clear:both;}
	.panel.cs .area1 {float:left;width:calc(50% - 16px);}
	.panel.cs .area2 {float:right;width:calc(50% - 16px);}
}


/*--------------------------------------------------------------------------------
	# 공지사항
---------------------------------------------------------------------------------*/
[class*="panel"] .list_type {margin-bottom:-6px;}
[class*="panel"] .list_type ~ .sub {top:1px}

/*--------------------------------------------------------------------------------
	# 지역별메인
---------------------------------------------------------------------------------*/
.slide_visual2 ~ .form_search1 {margin-top:0;padding-left:0;padding-right:0;box-shadow:0 0 0 0;}
.slide_visual2 ~ .form_search1 + .panel2 {margin-top:0;padding-top:35px;}
.slide_visual2 ~ .form_search1 + .panel2 .tit_type:first-child {margin-top:-5px;}
.slide_visual2 ~ .tour_sub_booking {position:relative; margin-top:0; box-shadow:0 0 0 0;}
.slide_visual2 ~ .tour_sub_booking + .panel2 {padding-top:40px;}

/* ##############################
	# 온라인투어 리뉴얼 2019
	# 메인 스타일
############################## */
/* 메인 : 공통 */
.main header.tit_type > span {display:table;position:relative;margin-bottom:2px;font-size:18px;font-weight:800;color:#24aae1;letter-spacing:0;}
.main .tit_type > *:first-child:not(.sub) > i, .main  .tit_type > i {display:block;position:absolute;top:-1px;left:100%;z-index:1;padding:2px 4px;min-width:16px;font-size:10.4px;line-height:1;color:#ffbd00;border:2px solid #ffbd00;border-radius:20px;text-align:center;}
.main .tit_type > *:first-child:not(.sub) > i:before, .main  .tit_type > i:before {position:absolute;right:100%;bottom:-6px;z-index:-1;margin:0 -17px 0 0;width:11px;height:6px;background:#fff url('../img/common/icon_set2.png') no-repeat 0 -180px;}
.main .panel2 .tit_type > *:first-child:not(.sub) > i:before, .main .panel2 .tit_type > i:before {background-color:#f0f5fb;}
.main .aside2 {position:absolute;top:735px;left:50%;margin-left:-640px;}
.main [class*="panel"] .bnr_area2 {margin:0;padding:16px 0 0;}

/* 메인 : 프로모션배너 */
.main .slide1.slide_visual {height:466px;}
.main .slide1.slide_visual .list > li {max-width:1920px; width:100%; background-position:center;}
.main .slide1.slide_visual .box > button {top:166px;margin-top:0;}
.main .slide1.slide_visual a.btn {bottom:249px;}
.main .slide1.slide_visual .indicator {bottom:216px;}

/* 메인 : 부킹엔진 */
.main .booking {position:relative;margin:-194px auto 0;width:1100px;border-radius:6px;box-shadow:0 5px 30px 0 rgba(0,0,0, 0.1);}
.main .booking ul[data-tabbtn="utabinfo5"] {position:relative; z-index:2;}
.main .booking [data-tab="utabinfo5"]:not(ul) {margin-top:0;min-height:146px;border:0;border-radius:0 0 6px 6px;background:#fff; position:relative; z-index:10;}
.main .booking .form_search1 {padding-top:10px;box-shadow:0 0 0 0;}
.main .booking .form_search1:after {display:none;}
.main .booking .hide + .form_search1 {padding-top:13px;}
.main .booking .tab_type5 {margin:10px 16px 0;}
.main .booking .tab_type5 > li {min-width:95px;text-align:center;}
/* .main .booking + .panel2:before {top:-300px;} */
.main .booking .tab_type li a {font-size:16px;}
.main .booking .tab_type li a:before {min-height:48px;}

/* 메인 : 추천테마 */
.main .bnr_type4 {margin:-7px auto -12px;width:785px;}
.main .bnr_type4 > li:before {margin-top:2px;width:76px;height:76px;}
.main .bnr_type4 > li:after {top:0;margin:0 -40px;width:80px;height:80px;}
.main .bnr_type4 > li:hover:before {background-color:#24aae1;}
.main .bnr_type4 > li:hover:after {background-position-y:-1360px !important;}
.main .bnr_type4[data-banner="bnrtheme"] > li.ico1:after {background-position:0 -1280px;}
.main .bnr_type4[data-banner="bnrtheme"] > li.ico2:after {background-position:-80px -1280px;}
.main .bnr_type4[data-banner="bnrtheme"] > li.ico3:after {background-position:-160px -1280px;}
.main .bnr_type4[data-banner="bnrtheme"] > li.ico4:after {background-position:-240px -1280px;}
.main .bnr_type4[data-banner="bnrtheme"] > li.ico5:after {background-position:-320px -1280px;}
.main .bnr_type4[data-banner="bnrtheme"] > li.ico6:after {background-position:-400px -1280px;}

/* 메인 : 이벤트기획전 */
.main .panel2.event {padding-top:37px;}
.main .panel2.event:before {border-top:2px solid #e5ebf2;}
.main .panel2.event .tit_type {display:table;margin-top:12px;}
.main .panel2.event .tit_type > i {top:-7px;margin-left:2px;}
.main .panel2.event .tit_type > b:before {content:'';display:inline-block;margin:-4px 5px 0;width:4px;height:4px;border-radius:50%;background:#08a7ee;vertical-align:middle;}
.main .bnr_area2 + .panel2.event {padding-top:0;}
.main .bnr_area2 + .panel2.event:before {border-top:0;}

/* 공통 : 베스트 상품평 */
.panel2.best > [class*="btn_type"] {position:absolute; left:0; top:140px; background-color:transparent;}

/* 메인 : 베스트 상품평 */
.main .panel2.best {margin-top:-8px;}
.main .panel2.best .tit_type {top:47px;}
.main .panel2.best .tit_type:after {bottom:-6px;left:35px;width:320px;height:280px;background-position:-720px 0;}
.main .panel2.best .tit_type > i {top:-4px;}
.main .panel2.best > [class*="btn_type"] {top:123px;}

/* ##############################
	# 온라인투어 리뉴얼 2019
	# 서브메인 스타일
############################## */
/*--------------------------------------------------------------------------------
	# 서브메인 : 항공
---------------------------------------------------------------------------------*/
/* 국내항공 */
.flight .list_type > li > a > strong {font-weight:700;}
.flight .list_type > li:nth-last-child(3) ~ li > a > strong {font-weight:400;}

/* 제주할인항공 */
.panel.jeju {margin-top:0;}
.panel.jeju:before {content:'';display:block;position:absolute;top:0;left:-100%;right:-100%;height:82px;background:#f0f5fb;}

/*--------------------------------------------------------------------------------
	# 서브메인 : 여행정보
---------------------------------------------------------------------------------*/
.travel .panel:first-child {margin-top:0;}
.travel .panel .best {position:relative;margin-top:5px;padding-top:5px;}
.travel .panel + .bnr_type5.t3 {margin-top:-23px;}

/*--------------------------------------------------------------------------------
	# 서브메인 : 여행
---------------------------------------------------------------------------------*/
/* 해외패키지 : 베스트여행후기 */
.tour .panel2.best {padding:31px 0 35px;}
.panel2.best .tit_type {position:absolute;top:60px;bottom:0;left:0;margin:0 !important}
.panel2.best .tit_type:after {content:'';display:block;position:absolute;left:-10px;bottom:27px;width:300px;height:225px;background:url("../img/main_sub/bg_set1.png") no-repeat -150px 0;}
.panel2.best .tit_type b {display:block;}
.panel2.best .tit_type p {font-size:14px;line-height:1.4;}
.panel2.best header.tit_type:after {left:14px;height:260px;background-position:-440px 0;}
.panel2.best .list_card2 {padding-left:279px;width:1116px;box-sizing:border-box;}
.panel2.best .list_card2 > li {width:263px;}
.panel2.best .list_card2 > li:before {border-color:#fff;}
.panel2.best .list_card2 > li .area1 {left:0; right:0;}

/* 해외패키지 : 혜택 */
.tour .panel2.benefit {padding-top:42px;height:269px;box-sizing:border-box;}
.tour .panel2.benefit .tit_type {margin-bottom:14px;}
.tour .panel2.benefit .bnr_type4 {padding:0 14px;box-sizing:border-box;}
.tour .panel2.benefit > section {width:540px;}
.tour .panel2.benefit > section {float:left;}
.tour .panel2.benefit > section + section {float:right;}
.tour .panel2.best + .panel2.benefit {margin-top:-26px;}

/* 해외패키지 : 테마 */
.tour [class*="panel"] .product_card7.inner {width:1116px;margin-top:-8px;margin-bottom:-8px;}
.tour [class*="panel"].thema2 .product_card7 header {background-position:-356px 0;}
.tour [class*="panel"].thema2 .product_card7 header .tit {color:#2096ce;}
.tour [class*="panel"].thema2 .product_card7 header:after {top:122px;left:210px;width:109px;height:106px;background-position:-356px -248px;}
.tour [class*="panel"].thema2 .product_card7 header > .tit + p + p:before {background:#ffd800;}
.tour [class*="panel"].thema2 .product_card7 header:hover > .tit,
.tour [class*="panel"].thema2 .product_card7 header:hover > P:nth-of-type(2) {color:#020219;}
.tour [class*="panel"].hit .product_card7 header {background-position:-712px 0;}
.tour [class*="panel"].hit .product_card7 header:not(:hover) .tit {color:#ff464d;}
.tour [class*="panel"].hit .product_card7 header:after {top:22px;left:250px;width:62px;height:82px;background-position:-712px -248px;}
.tour [class*="panel"].hit .product_card7 header > .tit + p + p:before {background:#5e5ed7;}

/*--------------------------------------------------------------------------------
	# 서브메인 : 호텔/숙박
---------------------------------------------------------------------------------*/
/* 해외호텔 : 베스트호텔 */
.hotel .panel.best {position:relative;padding-left:186px;box-sizing:border-box;}
.hotel .panel.best .tit_type {position:absolute;top:27px;left:-1px;width:110px;}
.hotel .panel.best .product_type5 {margin-top:-8px;}

/*--------------------------------------------------------------------------------
	# 서브메인 : 이벤트/기획전
---------------------------------------------------------------------------------*/
.content.event .tit_type:first-child {margin-top:0;}
.content.event .lnb + .container {padding-top:45px; padding-bottom:0;}
.content.event .slide1.bnr_event4 {width:541px; height:218px;}

.content.event section {position:relative;}
.content.event section + section, .event section .box + .box {margin-top:30px;}
.content.event section:after {content:''; display:block; clear:both;}
.content.event section .box, .event section > .area {position:relative;}
.content.event section > .area {float:left;}
.content.event section > .area:first-child {width:356px;}
.content.event section > .area:last-child {width:542px;}
.content.event section > .area + .area {padding-left:16px;}

/* data-update 2020-05-06 : 해외항공 고객센터 */
.panel.cs.t1 .area1 {padding-bottom:0;}
.panel.cs.t1 .btn_group {width:542px;}
.panel.cs.t1 .area1 h4.icon_com2:before {content:none;}