@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 마이페이지
############################## */

/*--------------------------------------------------------------------------------
	# 쿠폰
---------------------------------------------------------------------------------*/
/* 할인쿠폰받으러가기(배너) */
.bnr_coupon {position:relative;height:94px;margin-top:-14px;padding:29px 0 15px;background:url("../img/mypage/bg_mes1.png");background-size:100% auto;font-size:19px;color:#000;text-align:center;box-sizing:border-box;}
.bnr_coupon > span {display:block;font-size:13px;}
.bnr_coupon a {color:#000;}
.bnr_coupon a:before {content:'';position:absolute;left:0;top:14px;right:0;width:100%;height:calc(100% - 14px);z-index:1;}
.bnr_coupon a:after {content:'';display:inline-block;width:10px;height:10px;margin-left:-3px;border:solid #000;border-width:2px 2px 0 0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}

/*--------------------------------------------------------------------------------
	# 컨텐츠 : 부가서비스 - 환승라운지,호텔
---------------------------------------------------------------------------------*/
.cont_lounge .area {float:right;position:relative;min-height:80px;margin:-4px 0 20px;padding-bottom:28px;}
.cont_lounge .area > .btn_type {position:absolute;bottom:0;left:0;}
.cont_lounge .area:first-of-type {float:left;}
.cont_lounge .area .tit {position:relative;padding-left:8px;font-size:13px;}
.cont_lounge .area .tit:before {content:'';display:block;position:absolute;top:9px;left:0;width:3px;height:3px;border-radius:50%;background:#020219;}
.cont_lounge .area .txt_type1 {margin:7px 0 11px;font-size:13px;}
.cont_lounge .area .txt_type1:before, .cont_lounge .area .txt_type1 > li:before {top:10px;height:1px;}
.cont_lounge .box_area {clear:both;margin:20px 0 0;}

/*--------------------------------------------------------------------------------
	# 나의 문의내역
---------------------------------------------------------------------------------*/
.txt_type1 > li .txt_s {font-size:12px;}

/*--------------------------------------------------------------------------------
	# 투어캐시 : 미인증 회원용 페이지 (PC_MYP_1301.html)
---------------------------------------------------------------------------------*/
.tourcash .tc_self_check{position:relative; margin-top:26px; padding:80px 279px; text-align:left; border:1px solid #e5e5e5; border-radius:3px}
/*[class*="tourcash"].unCheckedTourcash .self_check h2{visibility:visible; position:absolute; left:50%; top:34px; width:auto; height:auto; font-size:18px; line-height:1.5; color:#393992; font-weight:700; transform:translateX(-50%); -webkit-transform:translateX(-50%)}*/
.tourcash .tc_self_check > h2{font-size:19px; font-weight:700}
.tourcash .tc_self_check > .txt{margin-top:13px; font-size:14px; line-height:20px; letter-spacing:-0.05em;}
.tourcash .tc_self_check > .txt ~ p{margin-top:0}
.tourcash .tc_self_check > .btn_join {position:relative; width:100%; height:68px; margin-top:17px; padding-left:20px; font-weight:700; font-size:16px; line-height:68px; color:#fff; text-align:left; letter-spacing:-0.05em; border-radius:3px; background-color:#24aae1; display:inline-block; box-sizing:border-box;}
.tourcash .tc_self_check > .btn_join:after {content:""; position:absolute; right:22px; top:50%; width:8px; height:8px; margin-top:-5px; border:solid #fff; border-width:0 2px 2px 0; transform:rotate(-45deg)}