@charset "utf-8";

@font-face{
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:400;
	src: url(../../font/NotoSansKR-Regular.woff2) format('woff2'),
		url(../../font/NotoSansKR-Regular.woff) format('woff'),
		url(../../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face{
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight:700;
	src: url(../../font/NotoSansKR-Bold.woff2) format('woff2'),
		url(../../font/NotoSansKR-Bold.woff) format('woff'),
		url(../../font/NotoSansKR-Bold.otf) format('opentype');
}

/* common */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0; 
	padding:0; 
	border:0; 
	font-size:100%;
	vertical-align:baseline; 
	background:transparent; 
}

html {height:100%; font-size:10px; line-height:1.5;}
body {overflow-y:scroll; /*min-width:1100px;*/ height:100%; font:12px/1.5 "Noto Sans KR", "Roboto", "Helvetica", "Dotum", "Arial"; color:#202019; /* word-break:break-all; word-wrap:break-word; -ms-word-break:break-all; -webkit-overflow-scrolling:touch; */ -webkit-text-size-adjust:none;}
table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; background:transparent;}
table {border-collapse:collapse; border-spacing:0;}
caption, legend {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
ul, ol {list-style-type:none;}
a {text-decoration:none; /* -webkit-tap-highlight-color:transparent; */color:inherit;}
i, em, address,cite {font-style:normal;}
img {border:0; vertical-align:top;}

input,
select,
textarea {margin:0; padding:0; font:normal 12px/1.5 "Noto Sans KR", "Roboto", "Helvetica", "Dotum", "Arial"; vertical-align:middle; border-radius:0; outline:none; /* -webkit-appearance:none; */}
input::-ms-clear {display:none;}

button {margin:0; padding:0; color:#666; border:0 none; background-color:transparent; font:normal 12px/1.5 "Noto Sans KR", "Roboto", "Helvetica", "Dotum", "Arial"; vertical-align:middle; outline:none; cursor:pointer;}
button::-moz-focus-inner {padding:0; border:0;} /* firefox 여백방지 */

strong, b {font-weight:700;}

/* 약속어 */
.hide {position:absolute; clip:rect(0 0 0 0); padding:0; width:1px; height:1px; margin:-1px; overflow:hidden;}
.txt_cut {text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.relative {position:relative;}
.absolute {position:absolute;}
.fixed {position:fixed;}

.align_left {text-align:left;}
.align_center {text-align:center;}
.align_right {text-align:right;}