@charset "utf-8";
@import url("layout.css");
@import url("common.css");
@import url("content.css");
@import url("tour.css");

/* ##############################
	# 온라인투어 리뉴얼 2019
	# 시그니처Tour 스타일
	# 레이아웃, 컨텐츠, 메인
	# 공통 스타일은 : 온라인투어 참고
	# 시그니처에만 사용 되는 클래스명에는 "signature"가 추가된다.
	# ex) 타이틀 = .tit_signature
############################## */

/* ##############################
	# 시그니처 : 레이아웃
############################## */
/*--------------------------------------------------------------------------------
	# HEADER
---------------------------------------------------------------------------------*/
.signature_header {overflow:hidden;position:fixed;top:0;left:0;right:0;z-index:150;}
.signature_header > .inner {position:relative;width:1100px;margin:0 auto;}
/* .signature_header .data_pay > header > h2 {overflow:hidden; text-overflow:ellipsis; display:-webkit-box; white-space:normal; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word; line-height:24px; max-height:48px; padding:0; margin:11px 20px 12px;} */

/* signature_header : 로고 */
.signature_header .logo {position:absolute;left:0;top:48px;}
.signature_header .logo a {overflow:hidden;display:block;width:0;height:45px;padding-left:168px;background:url("../img/signature/icon_set1.png") no-repeat;}

/* signature_header : 테이블 */
/* .signature_header .data_summary .area2 .tbl_type1 th,
.signature_header .data_summary .area2 .tbl_type1 td {padding-top:0; padding-bottom:0;} */

/* signature_header : 유틸 */
.signature_header .util {position:relative;font-size:12px;color:rgba(255, 255, 255, 0.7);text-align:right;letter-spacing:-0.6px;}
.signature_header .util:after {content:'';display:block;position:absolute;left:-100%;right:-100%;bottom:0;height:1px;background:rgba(245, 245, 245, 0.25);}
.signature_header .util li {display:inline-block;height:35px;line-height:35px;}
.signature_header .util li + li:before {content:'';display:inline-block;width:1px;height:11px;margin:-2px 24px 0 22px;background:rgba(255, 255, 255, 0.2);vertical-align:middle;}
.signature_header .util li:first-child {font-size:13px;color:#fff;}
.signature_header .util li:first-child a > span {overflow:hidden;display:inline-block;width:0;height:18px;margin:-2px 3px 0 0;padding-left:75px;background:url("../img/signature/icon_set1.png") no-repeat -200px 0;vertical-align:middle;}
.signature_header .util li:first-child a:after {content:'';display:inline-block;width:5px;height:7px;margin:-1px 0 0 7px;background:url("../img/signature/icon_set1.png") no-repeat -280px 0;vertical-align:middle;}

/* signature_header : GNB */
.signature_header .gnb {padding:18px 0 14px;text-align:right;font-size:0;}
.signature_header .gnb .category {display:inline-block;z-index:0;}
.signature_header .gnb .category:before {content:'';display:block;position:absolute;left:-100%;right:-100%;top:0;height:106px;background:#202019;z-index:-1;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;pointer-events:none;}
.signature_header .gnb .category:hover:before {height:100%;}
.signature_header .gnb .category > li {display:inline-block;width:98px;text-align:center;vertical-align:top;box-sizing:border-box;}
.signature_header .gnb .category > li:nth-child(2) {width:134px;}
.signature_header .gnb .category > li > a {display:inline-block;height:36px;padding:0 10px;border-bottom:2px solid transparent;font-size:16px;line-height:35px;color:#fff;letter-spacing:-0.5px;}
.signature_header .gnb .category > li > ul {overflow:hidden;height:0;padding:0 10px;transition:all 0.5s;}
.signature_header .gnb .category > li > ul > li > a {opacity:0;overflow:hidden;display:block;padding:5px 0 4px;font-size:14px;color:rgba(255, 255, 255, 0.8);letter-spacing:-0.7px;text-overflow:ellipsis;white-space:nowrap;transition:opacity 0.5s;}
.signature_header .gnb .category > li > ul > li > a:hover,
.signature_header .gnb .category > li > ul > li.on > a {color:#c89f4e;}
.signature_header .gnb .category.on > li.on > a,
.signature_header .gnb .category:hover > li:hover > a {border-color:#fff;color:#fff !important;font-weight:700;letter-spacing:-0.7px;}
.signature_header .gnb .category.on > li:not(.on) > a,
.signature_header .gnb .category:hover > li:not(:hover) > a {color:#c89f4e;}
.signature_header .gnb .category:hover > li > ul {height:100%;margin:19px 0 7px;}
.signature_header .gnb .category:hover > li > ul > li > a {opacity:1;}

/* signature_header : 메인 변경 */
.main_signature .signature_header .gnb .category:not(:hover):before,
.sub_signature .signature_header .gnb .category:not(:hover):before {opacity:0;transition:all 0.5s;}
.main_signature .signature_header .gnb .category:hover:before,
.sub_signature .signature_header .gnb .category:hover:before {opacity:0.7;background:#000;}
.main_signature .signature_header.sticky .gnb .category:not(:hover):before,
.sub_signature .signature_header.sticky .gnb .category:not(:hover):before {opacity:1;}
.main_signature .signature_header.sticky .gnb .category:hover:before,
.sub_signature .signature_header.sticky .gnb .category:hover:before {opacity:1;background:#202019;}

/*--------------------------------------------------------------------------------
	# FOOTER
---------------------------------------------------------------------------------*/
.signature_footer {position:absolute;left:0;right:0;bottom:0;padding:20px 0;color:#d2d3d4;background:#5b646e;}
.signature_footer > .inner {width:1084px;margin:0 auto;}

/* Footer : 약관 */
.signature_footer .terms li {display:inline-block;vertical-align:middle;}
.signature_footer .terms li + li:before {content:'';display:inline-block;width:1px;height:12px;margin:-3px 20px 0 17px;background:#d2d3d4;vertical-align:middle;}
.signature_footer .terms li a {display:inline-block;font-size:13px;}
.signature_footer .terms li a > b {color:#fff;}

/* Footer : 정보 */
.signature_footer .olt {margin-top:15px;font-size:11px;line-height:1.7;color:#babdc0;}
.signature_footer .olt dt {display:inline-block;}
.signature_footer .olt dt + dd {display:inline-block;}
.signature_footer .olt ul li {display:inline-block;vertical-align:middle;}
.signature_footer .olt ul li + li:before,
.signature_footer .olt address span + span:before {content:'';display:inline-block;width:1px;height:10px;margin:-2px 15px 0 11px;background:#d2d3d4;vertical-align:middle;}
.signature_footer .olt address + ul {margin-top:18px;}
.signature_footer .olt small {display:block;margin-bottom:7px;}


/* ##############################
	# 시그니처 : 컨텐츠
############################## */
/* 아이콘 : 시그니처플래그 */
.icon_txt2.icon_signature {background-color:#202019;border-color:#202019;color:#fff;}

/* 버튼 :색상 */
[class*="btn_black"] {border:1px solid #202019;background-color:#202019;color:#fff;text-align:center;letter-spacing:-0.04em;vertical-align:middle;box-sizing:border-box;transition:border-color 0.3s ease, background-color 0.3s ease;-webkit-transition:border-color 0.3s ease, background-color 0.3s ease;}
[class*="btn_black"]:not(:disabled):not(.disabled):hover {border-color:#000; background-color:#000;}

/* 페이징 : 기본 */
.signature_paging {margin-top:40px; text-align:center; font-size:0;}
.signature_paging a:not(.btn_img2), .signature_paging strong {display:inline-block; margin-left:-1px; width:40px; height:40px; border:1px solid #202019; vertical-align:middle; font-size:16px; line-height:38px; box-sizing:border-box;}
.signature_paging a:not(.btn_img2):hover,
.signature_paging strong {background:#202019; color:#fff;}
.signature_paging .btn_img2.arr2, .signature_paging .btn_img2.arr1 {width:40px; height:40px; border:1px solid #202019; border-radius:0 !important;}
.signature_paging .btn_img2.arr1 {margin-left:-1px;}
.signature_paging .btn_img2.arr2:not(:disabled):not(.disabled):hover, .signature_paging .btn_img2.arr1:not(:disabled):not(.disabled):hover {border-color:inherit;background:#202019;}
.signature_paging [class*="arr"]:after {width:20px; height:20px; margin:-10px -10px; background:url("../img/signature/icon_set1.png");}
.signature_paging .arr1:after {background-position:-30px -70px;}
.signature_paging .btn_img2.arr1:not(:disabled):not(.disabled):hover:after {background-position:-90px -70px;}
.signature_paging .arr2:after {background-position:0 -70px;}
.signature_paging .btn_img2.arr2:not(:disabled):not(.disabled):hover:after {background-position:-60px -70px;}

/* 탭 */
.tab_signature {display:block; text-align:center;} 
.tab_signature li {vertical-align:middle;display:inline-block;}
.tab_signature li a {padding:0 12px;font-size:17px;line-height:1.8;border-radius:30px;vertical-align:middle;display:inline-block;transition:all 0.2s ease;-webkit-transition:all 0.2s ease;}
.tab_signature li.on a {color:#fff;background-color:#c89f4e;}
.tab_signature[data-tab*="utabview"] {display:block;text-align:center;}

/* 상품 :이미지영역(공통) */
[class*="product_signature"] .area1:not(.slide2) {overflow:hidden;position:relative;border-radius:10px;background-color:#f2f3f4;}
[class*="product_signature"] .area1:not(.slide2):before {content:''; display:block; opacity:0.6; position:absolute; top:50%; left:50%; margin:-40px -60px; width:120px; height:80px; background:url("../img/common/icon_set3.png") no-repeat 0 -240px;}
[class*="product_signature"] .area1:not(.slide2) img {position:absolute; top:0; left:0; /*top:50%; left:50%; min-width:100%; min-height:100%; transform:translate(-50%, -50%); */ object-fit: cover; width:100%; height:100%;}

/* 상품 :지역별 베스트셀러(메인) */
.product_signature {width:calc(100% + 28px) !important;margin:20px -14px 0;font-size:0;}
.product_signature > li {overflow:hidden;display:inline-block;position:relative;width:calc(33.334% - 28px);margin:0 14px;vertical-align:top;}
.product_signature > li > a {display:block;position:absolute;}
.product_signature .area1 {display:block;width:100%;height:200px;}
.product_signature .area1 > img {z-index:2;}
.product_signature .area2 {position:relative;padding:20px 10px 0;font-size:14px;box-sizing:border-box;}
.product_signature .area2 cite {overflow:hidden;display:block;height:33px;font-size:22px;line-height:33px;text-overflow:ellipsis;white-space:nowrap;}
.product_signature .area2 em {overflow:hidden;display:block;display:-webkit-box;height:38px;margin-top:11px;-webkit-box-orient:vertical;-webkit-line-clamp:2;line-height:1.4;text-overflow:ellipsis;}
.product_signature .area2 time {display:inline-block;margin-top:23px;padding-left:16px;color:#7c838b;}
.product_signature .area2 .txt_data {float:left;margin-top:22px;}
.product_signature .area2 .txt_data strong {font-family:'Noto Sans KR';font-size:22px;color:#c89f4e;vertical-align:baseline;}
.product_signature .area2 .txt_data span {font-size:16px;color:#c89f4e;}
.product_signature .area2 + a {overflow:hidden;top:0;left:0;z-index:2;padding-left:100%;width:0;height:100%;white-space:nowrap;}
.product_signature > li:hover {cursor:pointer;}
/* IE9 */
@media screen and (min-width:0\0) {
	.product_signature > li {width:calc((100% / 3) - 28px);}
}

/* 상품1 :테마가 있는 시그니처여행(메인) */
.product_signature1 {width:calc(100% + 20px) !important;margin:20px -10px 0;font-size:0;color:#fff;}
.product_signature1 > li {overflow:hidden;display:inline-block;position:relative;width:calc(25% - 20px);height:450px;margin:0 10px;border-radius:10px;vertical-align:top;}
.product_signature1 > li > a {display:block;position:absolute;}
.product_signature1 .area1 {position:absolute !important;top:0;left:0;bottom:0;right:0;border-radius:10px;}
.product_signature1 .area1:after {content:'';position:absolute;top:0;left:0;bottom:0;right:0;border-radius:15px;opacity:0.6;background:linear-gradient(to top, #000, transparent);}
.product_signature1 .area2 {position:absolute;left:0;bottom:63px;right:0;padding:0 20px;font-size:13px;box-sizing:border-box;}
.product_signature1 .area2 > cite {overflow:hidden;display:block;display:-webkit-box;height:52px;margin-top:6px;-webkit-box-orient:vertical;-webkit-line-clamp:2;font-size:20px;line-height:1.3;text-overflow:ellipsis;}
.product_signature1 .area2 > .txt_data {display:block;margin-top:23px;text-align:left;}
.product_signature1 .area2 > .txt_data strong {font-family:'Noto Sans KR';font-size:22px;color:#c89f4e;vertical-align:baseline;}
.product_signature1 .area2 > .txt_data span {font-size:16px;color:#c89f4e;}
.product_signature1 .area2 + a {overflow:hidden;top:0;left:0;z-index:2;padding-left:100%;width:0;height:100%;white-space:nowrap;}
.product_signature1 > li:hover {cursor:pointer;}

/* 상품2 :목록/상세 */
.product_signature2 {font-size:0;}
.product_signature2:after {content:'';  display:block;  clear:both;}
.product_signature2 > li {overflow:hidden;display:block;position:relative;width:100%;margin:0 0 40px 0;padding-bottom:40px;border-bottom:1px solid #cdd0d3;}
.product_signature2 > li > a {display:block;position:absolute;}
.product_signature2 > li:last-child {margin:0;}
.product_signature2 .area1 {float:left;display:block;width:420px;height:250px;border-radius:10px;}
.product_signature2 .area1 > img {z-index:2;}
.product_signature2 .area2 {float:right;width:calc(100% - 470px);margin-left:50px;font-size:14px;box-sizing:border-box;}
.product_signature2 .area2 > span > i {color:#adb1b6;}
.product_signature2 .area2 > span > i + i:before {content:'';display:inline-block;margin:0 6px -1px;width:1px;height:12px;background:#adb1b6;}
.product_signature2 .area2 > p {font-size:13px;color:#a5a5a5;}
.product_signature2 .area2 > cite {overflow:hidden;display:block;margin-top:5px;font-size:24px;line-height:1.3;font-weight:700;text-overflow:ellipsis;white-space:nowrap;}
.product_signature2 .area2 > p + cite {margin-top:20px;}
.product_signature2 .area2 > .txt_signature {margin-top:15px;}
.product_signature2 .area2 > em {overflow:hidden;display:block;display:-webkit-box;margin-top:18px;-webkit-box-orient:vertical;-webkit-line-clamp:2;line-height:1.5;text-overflow:ellipsis;}
.product_signature2 .area2 > em + span {display:inline-block;color:#a5a5a5;}
.product_signature2 .area2 > time {display:inline-block;margin-top:38px;}
.product_signature2 .area2 > span + time {margin-top:30px;padding-left:5px;}
.product_signature2 .area2 > .txt_data {display:block;margin-top:9px;text-align:left;}
.product_signature2 .area2 > .txt_data strong {font-family:'Noto Sans KR';font-size:35px;color:#c89f4e;vertical-align:baseline;}
.product_signature2 .area2 > .txt_data span {font-size:20px;color:#c89f4e;}
.product_signature2 .area2 + a {bottom:40px;right:16px;font-weight:400;z-index:2;}
.product_signature2 .area1.slide2 {width:580px;height:450px;line-height:450px;text-align:center;}
.product_signature2 .area1.slide2 + .area2 {width:calc(100% - 595px);min-height:448px;margin-left:0;padding:10px 15px 20px;border:1px solid #707070;border-width:1px 0 1px 0;box-sizing:border-box;}
.product_signature2 .area1.slide2 + .area2 > cite {display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;font-size:30px;white-space:normal;}

.product_signature2.t1 > li {display:inline-block;width:calc(100% - 20px);margin:0 20px 0 0;padding-bottom:0;border-bottom:0;vertical-align:top;}
.product_signature2.t1 .area1 {float:left;float:right;width:630px;height:380px;border-radius:15px;}
.product_signature2.t1 .area2 {width:calc(100% - 670px);margin:0 40px 0 0;padding-top:10px;}
.product_signature2.t1 .area2 > i {display:inline-block;position:relative;margin-left:5px;padding:1px 15px;border-radius:10px 0 10px 0;background:#202019;font-size:15px;font-weight:700;color:#fff;}
.product_signature2.t1 .area2 > i:before,
.product_signature2.t1 .area2 > i:after {content:'';display:block;position:absolute;width:0;height:0;}
.product_signature2.t1 .area2 > i:before {bottom:-3px;left:-4px;border:5px solid transparent;border-bottom:20px solid #202019;transform: skewY(-25deg) rotate(-5deg);}
.product_signature2.t1 .area2 > i:after {top:0;right:-3px;border:3px solid transparent;border-top:17px solid #202019;}
.product_signature2.t1 .area2 > cite {display:-webkit-box;margin-top:11px;-webkit-box-orient:vertical;-webkit-line-clamp:2;font-size:30px;white-space:normal;}
.product_signature2.t1 .area2 > .txt_signature {margin-top:10px;}
.product_signature2.t1 .area2 + a {overflow:hidden;top:0;left:0;bottom:auto;right:auto;padding-left:100%;width:0;height:100%;white-space:nowrap;}
.product_signature2.t1 > li:hover {cursor:pointer;}

/* 텍스트유형 */
.txt_signature {color:#7c838b;}
.txt_signature > li {position:relative;padding-left:14px;}
.txt_signature > li + li {margin-top:3px;}
.txt_signature > li:before {content:''; display:block; position:absolute; top:9px; left:0;width:4px;height:4px;border-radius:50%;background:#7c838b;}

/*--------------------------------------------------------------------------------
	# Content : 목록
---------------------------------------------------------------------------------*/
.sub_signature .content {min-height:718px;padding:170px 0 50px 0;background-repeat:no-repeat;background-position:50% 0;box-sizing:border-box;}
.sub_signature .content:before {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:718px;background:rgba(0, 0, 0, 0.5);}
.sub_signature .panel {z-index:1;margin-top:0;padding-top:35px;}
.sub_signature .panel:before {content:'';display:block;position:absolute;top:0;bottom:0;left:-200%;right:-200%;z-index:-1;background:#fff;}
.sub_signature .content[data-update="up20200421"] {height:auto; background-size:cover; padding-bottom:0; overflow:hidden;}
.sub_signature .content[data-update="up20200421"]:before {height:100%;}
.sub_signature .content[data-update="up20200421"] + .panel {padding-top:70px; padding-bottom:35px; margin-bottom:0;}

/* 타이틀 */
.tit_signature1 {position:relative;margin-bottom:60px;font-size:46px;color:#fff;text-align:center;font-weight:400;letter-spacing:-1px;}
.tit_signature1 > * {font-weight:400;}
.tit_signature1 .sub {font-size:13px;line-height:1.5;}
.tit_signature1 .sub > em + em:before {content:'';display:inline-block;margin:0 6px -1px;width:1px;height:12px;background:#adb1b6;}

/* 슬라이드 :추천상품 */
.slide1_signature {overflow:hidden;position:relative;width:1100px;margin:0 auto -1px;padding:20px 20px 0 40px;border-radius:20px 20px 0 0;background:#fff;box-sizing:border-box;}
.slide1_signature .slide_area {overflow:hidden;}
.slide1_signature .box > .list {display:-webkit-box;display:-ms-flexbox;display:flex;}
.slide1_signature .box > .list:not(:last-child) .area2 {padding-bottom:74px;}
.slide1_signature .box > .list > li {position:relative;-ms-flex-shrink:0 !important;flex-shrink:0 !important;flex-basis:auto !important;width:1040px;}
.slide1_signature .box > button {overflow:hidden;position:absolute;bottom:1px;width:40px;height:40px;border:1px solid #202019;border-radius:0 !important;background:#fff;opacity:1;line-height:999px;z-index:3;}
.slide1_signature .box > button:after {content:'';position:absolute;top:50%;left:50%;width:20px;height:20px;margin:-10px -10px;background:url("../img/signature/icon_set1.png");}
.slide1_signature .box > button:not(.disabled):hover {background:#202019;}
.slide1_signature .box > button.disabled {opacity:0.5 !important;pointer-events:all;}
.slide1_signature .box > .btn_prev {left:40px;}
.slide1_signature .box > .btn_next {left:79px;}
.slide1_signature .box > .btn_prev:after {background-position:0 -70px;}
.slide1_signature .box > .btn_next:after {background-position:-30px -70px;}
.slide1_signature .box > .btn_prev:not(.disabled):hover:after {background-position:-60px -70px;}
.slide1_signature .box > .btn_next:not(.disabled):hover:after {background-position:-90px -70px;}

/* IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	.slide1_signature .list:after {clear:both;content:'';display:block;}
	.slide1_signature .list > li {position:relative;float:left;}
}

/* 상품목록 */
.slide1_signature + .panel {margin-top:70px;}
.sub_main > signature_header + .panel {min-height:400px;padding:20px 20px 0;border-radius:20px 20px 0 0;background:#fff;box-sizing:border-box;}

/*--------------------------------------------------------------------------------
	# Content : 상품상세
---------------------------------------------------------------------------------*/
.content .container > .product_signature2 {position:relative;margin:0 auto 35px;width:1100px;padding:0 0 35px 0;}
.product_signature2:not(.t1):not(ul):before {content:'';position:absolute;left:-100%;bottom:0;right:-100%;height:1px;background-color:#dee0e2;}
.product_signature2 .area1.slide2:empty {position:relative;background-color:#f2f3f4;}
.product_signature2 .area1.slide2:empty:before {content:''; display:block; opacity:0.6; position:absolute; top:50%; left:50%; margin:-40px -60px; width:120px; height:80px; background:url("../img/common/icon_set3.png") no-repeat 0 -240px;}

.signature_inner {position:relative;}
.signature_inner:after {clear:both; content:''; display:block;}
.signature_inner .area1 {float:left; width:292px; margin-top:57px;}
.signature_inner .area2 {overflow:auto; float:right; margin-top:48px; width:788px; box-sizing:border-box;}
.signature_inner .area2:before {content:''; display:block; position:absolute; top:47px; right:0; width:788px; height:1px; background:#5b646e}
.signature_inner .area2 .choice_type2 {position:absolute; top:14px; right:0;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] {display:block; margin-top:-1px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] > thead,
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] > tbody > tr {display:table; table-layout:fixed; width:100%; border-collapse:collapse;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] > thead th {background:#202019;font-size:14px;color:#fff;font-weight:400;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] > thead th button {color:#fff;font-weight:400;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] td,
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] th {padding:7px 2px; font-size:13px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] td > [class*="btn_"] {display:inline-block !important; width:auto !important; min-width:0; padding-left:5px; padding-right:5px; font-size:13px; line-height:20px; font-weight:400;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] .txt_data span {font-size:12px; vertical-align:text-bottom;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] .txt_data strong {font-family:'Noto Sans KR'; font-size:16px; font-weight:400;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] time + time {margin-top:0;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] [data-air-logo] {padding-top:20px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] td.align_left {padding-left:12px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr:hover {position:relative;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr:hover > td {background:#fff;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr:hover > td:first-child:before {content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:-1px; border:2px solid #24aae1; pointer-events:none;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr > *:nth-child(1) {width:116px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr > *:nth-child(2) {width:auto;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr > *:nth-child(3) {width:130px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr > *:nth-child(4) {width:80px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr > *:nth-child(5) {padding-left:0; padding-right:0; width:100px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] tr > *:nth-child(6) {width:80px;}
/* 아이콘 :화살표 */
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] [class*="arr"]:after {background-image:url("../img/signature/icon_set1.png");}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] .arr7:after {width:9px; height:5px; background-position:0 -60px;}
.signature_inner .area2 .tbl_type2[data-table="tblcompare"] .arr8:after {width:9px; height:5px; background-position:0 -50px;}

/*--------------------------------------------------------------------------------
	# Content : 견적문의
---------------------------------------------------------------------------------*/
.tbl_signature [class*="inp_type"].right input {padding-left:26px;letter-spacing:0.05em;}
.tbl_signature .box_catpcha .group + .group {width:566px;}
.btn_black.ico9:before {width:19px; height:19px; margin:-2px 7px 0 0; background-position:-800px 0;}


/* ##############################
	# 시그니처Tour 메인
############################## */
.main_signature .content {padding:0 0 50px 0 !important;}
.main_signature .tit_signature {margin:0 0 10px;font-size:30px;text-align:center;font-weight:400;letter-spacing:-1px;}
.main_signature .panel {margin-top:70px;}
.main_signature .panel + .panel {margin-top:62px;}

/*--------------------------------------------------------------------------------
	# MAIN : 프로모션
---------------------------------------------------------------------------------*/
.slide_signature {position:relative;}
.slide_signature .list {width:100% !important;display:-webkit-box; display:-ms-flexbox; display:flex;}
/*
.slide_signature .list > li {overflow:hidden;position:relative;width:1920px; -ms-flex-shrink:0 !important; flex-shrink:0 !important;flex-basis:auto !important;min-height:768px;height:calc(100vh);background-repeat:no-repeat;background-position:50%;background-size:cover;text-align:center;}
*/
.slide_signature .list > li {overflow:hidden;width:100%;min-height:768px;height:calc(100vh);background-repeat:no-repeat;background-position:50%;background-size:cover;text-align:center;}
.slide_signature .list > li:not(.on) {display:none;}
.slide_signature .list > li.active {position:absolute; left:0; top:0;}
.slide_signature .list > li:before {content:'';opacity:0.99;display:block;position:absolute;top:0;left:0;right:0;bottom:0;z-index:2;background:rgba(0,0,0,0.3);}
.slide_signature .list > li:after {content:'';display:inline-block;margin-right:-8px;padding:106px 0 0;width:1px;height:calc(100% - 126px);vertical-align:middle;}
.slide_signature .list > li > video {position: absolute;left:50%;bottom:0;z-index:1;min-width:100%;min-height:100%;transform:translate(-50%, 0);}

.slide_signature .indicator2 {counter-reset:num;position:absolute;bottom:35px;left:50%;z-index:10;margin:0 -550px;display:table;table-layout:fixed;width:1100px;height:113px;}
.slide_signature .indicator2 > li {position:relative;display:table-cell;vertical-align:top;}
.slide_signature .indicator2 > li > button {padding:15px 0 0 37px;width:100%;text-align:left;font-size:18px;color:#fff;line-height:20px;box-sizing:border-box;}
.slide_signature .indicator2 > li > button > i {display:block;margin:5px 0;position:relative;color:#c89f4e;font-size:13px;}
.slide_signature .indicator2 > li > button > i:before {content:'0' counter(num); counter-increment:num;position:absolute;top:0;left:-25px;width:25px;}
.slide_signature .indicator2 > li:before {content:'';opacity:0.4;display:block;height:4px;background:#fff;}
.slide_signature .indicator2 > li.on:before {opacity:1;}
.slide_signature .box [class^='btn_'] {opacity:0;position:absolute;left:0;top:0;z-index:-1;}

/* 메인 : 프로모션 : 컨텐츠 */
.slide_signature .data {display:inline-block;position:relative;z-index:3;margin-right:-4px;margin-top:30px;padding:106px 0 207px;width:1100px;text-align:left;vertical-align:middle;transition:all 0.6s;}
.slide_signature .data i {opacity:0;display:inline-block;position:relative;margin-left:6px;padding:1px 14px;background:#c89f4e;border-radius:9px 0 9px 0;font-size:15px;font-weight:700;color:#fff;}
.slide_signature .data i:before,
.slide_signature .data i:after {content:'';display:block;position:absolute;width:0;height:0;}
.slide_signature .data i:before {bottom:-2px;left:-5px;border:6px solid transparent;border-bottom:20px solid #c89f4e;transform: skewY(-25deg) rotate(-4deg);}
.slide_signature .data i:after {top:0;right:-3px;border:3px solid transparent;border-top:17px solid #c89f4e;}
.slide_signature .data cite {opacity:0;display:block;margin:9px 0;font-size:46px;line-height:1.31;color:#fff;letter-spacing:-0.07em;}
.slide_signature .data span {opacity:0;display:block;margin:13px 0 0;font-size:15px;color:#fff;letter-spacing:-0.05em;}
.slide_signature .data a {opacity:0;display:inline-block;margin:27px 0 0 1px;padding:0 18px;font-size:14px;border:1px solid #fff;border-radius:3px;color:#fff;line-height:33px;}

/* 메인 : 프로모션 : 컨텐츠 : 모션 */
.slide_signature .list > li.on .data {margin-top:0;}
.slide_signature .list > li.on .data i,
.slide_signature .list > li.on .data cite,
.slide_signature .list > li.on .data span,
.slide_signature .list > li.on .data a {animation:anSignature 1s;animation-fill-mode: forwards;}
.slide_signature .list > li.on .data cite {animation-delay: 0.3s;}
.slide_signature .list > li.on .data span {animation-delay: 0.4s;}
.slide_signature .list > li.on .data a {animation-delay: 0.6s;}

@keyframes anSignature {
	0% {opacity:0;}
	100% {opacity:1;}
}

/*--------------------------------------------------------------------------------
	# MAIN : 혜택안내
---------------------------------------------------------------------------------*/
.info_signature {overflow:hidden; position:fixed; top:300px; right:0; z-index:10; padding-bottom:16px; width:164px; /* height:360px; */ box-shadow: 0 3px 6px rgba(0,0,0,0.09);border-radius:10px 0 0 10px;transition:width 0.5s;}
.info_signature:before {content:'';opacity:0.9;display:block;position:absolute;top:0;bottom:0;right:0;left:0;background:#C89F4E;}
.info_signature h2 {position:relative;padding-left:100%;width:0;height:74px;white-space:nowrap;background:#102130;}
.info_signature h2:before {content:'';display:block;position:absolute;top:17px;left:25px;width:115px;height:24px;background:url('../img/signature/icon_set1.png') no-repeat -321px -1px;}
.info_signature h2 span {position:absolute;top:42px;left:22px;font-size:10px;color:#fff;opacity:0.6;transform:scale(0.9);font-weight:400;letter-spacing:-0.05em;}
.info_signature ul[data-tabbtn] {width:206px;margin:10px 0 10px 14px;}
.info_signature ul[data-tabbtn] a {display:block;position:relative;padding:11px 0 11px 44px;font-size:11px;color:#202019;}
.info_signature ul[data-tabbtn] a:before {content:'';display:block;position:absolute;top:10px;left:0;width:36px;height:36px;border-radius:50%;background:#202019 url('../img/signature/icon_set1.png') no-repeat;}
.info_signature ul[data-tabbtn] a strong {display:block;font-size:12px;}
.info_signature ul[data-tabbtn] li.on a:after {content:'';display:block;position:absolute;top:50%;right:19px;margin:-12px 0;width:24px;height:24px;background:url('../img/signature/icon_set1.png') no-repeat -121px -81px;}
.info_signature section[data-tabbtn] {display:none;position:absolute;top:94px;left:220px;width:680px;height:386px;}
.info_signature section[data-tabbtn] > div:empty {background:#112233;height:100%;width:100%;text-align:center;}
.info_signature section[data-tabbtn] > div:empty:before {content:'내용 미수급 디자인 필요';color:#fff;font-size:34px;line-height:370px;}
.info_signature .btn {display:block; position:relative; margin:10px auto 0; width:86px; height:24px; border:1px solid #202019; border-radius:3px; font-size:10px; color:#020219; line-height:22px;}

/* 메인 : 혜택안내 : 아이콘 */
.info_signature ul[data-tabbtn] .ico1 a:before {background-position:-1px -121px;}
.info_signature ul[data-tabbtn] .ico2 a:before {background-position:-41px -121px;}
.info_signature ul[data-tabbtn] .ico3 a:before {background-position:-81px -121px;}
.info_signature ul[data-tabbtn] .ico4 a:before {background-position:-121px -121px;}

/* 메인 : 혜택안내 : 클릭이벤트 */
.info_signature .btn.open {overflow:hidden;position:absolute;top:0;right:0;padding-left:74px;width:0;height:74px;border:0;white-space:nowrap;}
.info_signature .btn.open:before,
.info_signature .btn.open:after {content:'';display:block;position:absolute;top:50%;left:50%;margin:-26px -1px;width:2px;height:32px;background:#fff;transform:rotate(45deg)}
.info_signature .btn.open:after {transform:rotate(-45deg)}
.info_signature.open {width:950px;height:500px;}
.info_signature.open h2:before {top:25px;}
.info_signature.open h2 span {top:29px;left:146px;}
.info_signature.open section[data-tabbtn] {display:block;}

/* 메인 : 혜택안내 : 자세히보기 레이어 */
.layer_signature_detail {position:fixed; right:0; margin-top:300px; padding:0; width:664px; background:#112233; border-radius:10px 0 0 10px; box-shadow:none;}
.layer_signature_detail h1 {position:relative; padding:0 0 0 100%; width:0; height:74px; border-bottom:0; white-space:nowrap;}
.layer_signature_detail h1:before {display:block; position:absolute; left:24px; top:25px; width:115px; height:24px; background:url('../img/signature/icon_set1.png') no-repeat -321px -1px; content:'';}
.layer_signature_detail h1 span {position:absolute; left:146px; top:29px; color:#fff; font-size:10px; letter-spacing:-0.0225em; opacity:0.6;}
.layer_signature_detail .ly_con {padding-top:0; border:20px solid #C89F4E; border-right:0; border-radius:0 0 0 10px;}
.layer_signature_detail .ly_con .iframe {overflow:hidden; position:relative; padding-bottom:56.25%; width:100%; height:0;}
.layer_signature_detail .ly_con .iframe iframe {position:absolute; left:0; top:0; bottom:0; width:100%; height:100%;}
.layer_signature_detail .ly_footer {margin:0; padding:0; border-top:0;}
.layer_signature_detail button[data-fn="lyClose"]:not([class*="btn_"]) {padding-left:24px; height:24px; background-position:-760px -240px;}
.layer_signature_detail footer > button[data-fn="lyClose"]:not([class*="btn_"]) {right:23px; top:25px;}
.layer_signature_detail.on {z-index:100;}

/* 메인 : 혜택안내 : 모니터해상도 높이 768이하일 경우 */
@media screen and (max-height: 768px) {
	.info_signature {position:absolute;}
}

/*--------------------------------------------------------------------------------
	# MAIN : 고객센터
---------------------------------------------------------------------------------*/
.cs_signature {position:relative;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;}
.cs_signature [class*="area"] {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;align-items:center;position:relative;-ms-flex:1;flex:1;border:2px solid #c89f4e;border-radius:10px;}
.cs_signature [class*="area"]:before {content:'';display:inline-block;width:74px;height:calc(100% + 2px);margin:-1px 20px 0 -1px;border-radius:6px 0 0 6px;background:#c89f4e;}
.cs_signature [class*="area"]:after {content:'';position:absolute;left:15px;top:50%;width:44px;height:43px;margin-top:-21px;background:url("../img/signature/icon_set1.png") no-repeat;}
.cs_signature [class*="area"] .tit,
.cs_signature [class*="area"] .cont {padding:13px 0;box-sizing:border-box;}
.cs_signature [class*="area"] .tit {width:90px;font-size:16px;line-height:1.3;}
.cs_signature [class*="area"] .cont {width:352px;padding:13px 20px;line-height:1.45;color:#7c838b;}

/* 메인 : 고객센터 :전용상담 */
.cs_signature .area1 {margin-right:10px;}
.cs_signature .area1:after {background-position:0 -160px;}
.cs_signature .area1 .cont {font-size:11px;}
.cs_signature .area1 .cont > dt, .cs_signature .area1 .cont > dd {line-height:20px;vertical-align:middle;}
.cs_signature .area1 .cont > dt {float:left;min-width:72px;}
.cs_signature .area1 .cont > dt:first-child + dd {font-size:20px;color:#c89f4e;}

/* 메인 : 고객센터 :견적문의 */
.cs_signature .area2 {margin-left:10px;}
.cs_signature .area2:after {left:14px;background-position:-50px -160px;}
.cs_signature .area2 .cont {padding-right:70px;}
.cs_signature .area2 .cont > a {display:block;position:absolute;right:13px;top:50%;width:36px;height:36;margin-top:-18px;border-radius:50%;background:#1b222a;font-size:15px;line-height:36px;color:#cda351;text-align:center;font-weight:700;}

/* IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	.cs_signature [class*="area"]:before {position:absolute;left:0;top:0;bottom:0;}
	.cs_signature [class*="area"] .tit,
	.cs_signature [class*="area"] .cont {display:table-cell;vertical-align:middle;}
	.cs_signature [class*="area"] .tit {width:184px;padding-left:94px;}
	.cs_signature .area1 {float:left;width:calc(50% - 14px);}
	.cs_signature .area2 {float:right;width:calc(50% - 14px);}
}


/* ##############################
	# 온라인투어 스타일 재정의
############################## */
/*--------------------------------------------------------------------------------
	# Layout.css
---------------------------------------------------------------------------------*/
.wrap {padding-bottom:190px;box-sizing:border-box;}
.content {padding:146px 0 50px 0;}
.breadcrumb {position:fixed;top:106px;left:0;right:0;z-index:19;}
.breadcrumb + .container {padding-top:40px;}
.content .container.fixed [data-sticky] {top:106px;}
.content .container.fixed [data-sticky-sub] {top:154px}

/*--------------------------------------------------------------------------------
	# 숫자 웹폰트 변경
---------------------------------------------------------------------------------*/
.txt_data strong, strong.txt_data,
.txt_data4::after,
.txt_data4 em,
[class*='calendar'] table td label em,
.calendar_type2.t2 .calendar_date > strong {font-family:'Noto Sans KR';}

/*--------------------------------------------------------------------------------
	# 행사상세 > 탭 테이블
---------------------------------------------------------------------------------*/
[class*="tbl_type"] > tbody > tr:first-child > th {width:149px;}