@charset "utf-8"; 
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 테이블 스타일
############################## */
/*--------------------------------------------------------------------------------
	# 테이블 :공통
---------------------------------------------------------------------------------*/
[class*="tbl_type"] {position:relative; table-layout:fixed; width:100%;}
[class*="tbl_type"] th, [class*="tbl_type"] td {padding:7px 10px;height:49px;border-top:1px solid #dee0e2;font-size:14px;line-height:1.4;text-align:center;box-sizing:border-box;word-break:break-all;letter-spacing:-0.05em;}
[class*="tbl_type"] > tbody > tr:first-child > td, [class*="tbl_type"] > tbody > tr:first-child > th {border-top-color:#adb1b6;}

/* 테이블 : 정렬 */
[class*="tbl_type"] tr.align_left > th, [class*="tbl_type"] tr.align_left > td,
[class*="tbl_type"] tbody.align_left > tr > th, [class*="tbl_type"] tbody.align_left > tr > td {text-align:left;}
[class*="tbl_type"] th.align_left, [class*="tbl_type"] td.align_left {text-align:left !important;}
[class*="tbl_type"] tfoot.align_right > tr > th, [class*="tbl_type"] tfoot.align_right > tr > td,
[class*="tbl_type"] tbody.align_right > tr > th, [class*="tbl_type"] tbody.align_right > tr > td,
[class*="tbl_type"] tr.align_right > th, [class*="tbl_type"] tr.align_right > td,
[class*="tbl_type"] th.align_right, [class*="tbl_type"] td.align_right {text-align:right;}
[class*="tbl_type"] tr.align_center > th, [class*="tbl_type"] tr.align_center > td {text-align:center;}
[class*="tbl_type"] th.align_center, [class*="tbl_type"] td.align_center {text-align:center !important;}

/* 테이블 : HEADER */
[class*="tbl_type"] > thead th {background:#eff2f6;}
[class*="tbl_type"] > thead > tr:not(:only-child) th {height:34px;}
[class*="tbl_type"] > thead > tr:first-child > th {border-top:0;}
[class*="tbl_type"] th span:not([class]) {display:inline-block;font-weight:400;}
[class*="tbl_type"] th i.txt_type2 {margin-right:-8px;}
[class*="tbl_type"] > thead th button.arr7, [class*="tbl_type"] > thead th button.arr8 {position:relative; padding-right:15px; margin-right:-9px; font-weight:700; font-size:14px; color:#020219;}
[class*="tbl_type"] > thead th button.arr7:after, [class*="tbl_type"] > thead th button.arr8:after {position:absolute; top:50%; right:0;}
[class*="tbl_type"] > thead th button.arr7 > span, [class*="tbl_type"] > thead th button.arr8 > span {display:block; font-weight:400;}

/* 테이블 : INPUT | BUTTON */
[class*="tbl_type"] [class*="inp_"],
[class*="tbl_type"] [class*="select_"],
[class*="tbl_type"] [class*="btn_"],
[class*="tbl_type"] [class*="txt"],
[class*="tbl_type"] [class*="text_"] {margin-left:2px;margin-right:2px;}
[class*="tbl_type"] [class*="choice_"] {margin:2px 4px;}
[class*="tbl_type"] div[class*="inp_"],
[class*="tbl_type"] div[class*="select_"],
[class*="tbl_type"] div[class*="btn_"],
[class*="tbl_type"] [class*="text_"] {width:calc(100% - 4px);}
[class*="tbl_type"] span[class*="inp_"],
[class*="tbl_type"] div[class*="inp_area"] {width:316px;}

/* 테이블 : TXT */
.tbl_type1 .tbl_tit {overflow:hidden; display:block; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; max-height:2.8em; text-align:left;}
[class*="tbl_type"] [class*="txt_"]:last-child {margin-bottom:0;}
[class*="tbl_type"] .txt {display:inline-block;vertical-align:middle;font-size:13px;}
[class*="tbl_type"] .txt_info {vertical-align:bottom;color:#5b646e;}
[class*="tbl_type"] .txt_info li:first-child:before {content:'(';margin-right:4px;}
[class*="tbl_type"] .txt_info li:last-child:after {content:')';margin-left:4px;}
[class*="tbl_type"] div[class^="txt_c"] {margin:5px 0;}
[class*="tbl_type"] div[class^="txt_c"] > strong {font-size:15px;}

/* 테이블 : BG */
.tbl_type1 .tbl_bg1 {background:#f4fbfd !important;}
.tbl_type1 .tbl_bg2 {background:#fffbe5 !important;}

/* 테이블 : TOOLTIP */
[class*="tbl_type"] th [data-tooltip*="info"] strong, [class*="tbl_type"] th [data-tooltip="info"] em {padding-right:20px;color:#020219; font-weight:700; vertical-align:top;}
[class*="tbl_type"] th [data-tooltip="info"] strong:not(.txt_c):after, [class*="tbl_type"] th [data-tooltip="info"] em:not(.txt_c):after {background-position:-120px -340px;}
[class*="tbl_type"] th [data-tooltip="info3"] strong:after {background-position:-120px -460px;}
[class*="tbl_type"] thead th:last-child [data-tooltip]:hover > .tooltip_type,
[class*="tbl_type"] tbody td:last-child [data-tooltip]:hover > .tooltip_type {left:auto;right:0;}

/* 테이블 : ROW */
[class*="tbl_type"] [class*="tbl_row"] {margin-top:7px;margin-bottom:7px;box-sizing:border-box;}
[class*="tbl_type"] [class*="tbl_row"]:first-child {margin-top:0;}
[class*="tbl_type"] [class*="tbl_row"]:last-child {margin-bottom:0;}
[class*="tbl_type"] [class*="tbl_row"] + [class*="tbl_row"] {margin-top:1px;}
[class*="tbl_type"] .tbl_row2 {margin-top:8px;margin-left:-10px;margin-right:-10px;padding:8px 10px 0;border-top:1px solid #dee0e2;}

/* 테이블 : LOGO */
[class*="tbl_type"] [data-air-logo] {display:block; padding-left:30px; height:auto; background-size:auto 20px; background-position:0 50%; line-height:1.4;}
[class*="tbl_type"] [data-air-logo] + [data-air-logo] {margin-top:7px;}
[class*="tbl_type"] .tbl_logo, [class*="tbl_type"] .tbl_logo td {text-align:left;}
[class*="tbl_type"] .tbl_logo [data-tooltip] {display:block; position:relative; z-index:4; padding-left:23px;}
[class*="tbl_type"] .tbl_logo .choice_type1 + [data-tooltip] {padding-left:55px}
[class*="tbl_type"] .tbl_logo > .icon_txt2:first-child {margin-left:55px}
[class*="tbl_type"] th.tbl_logo [data-air-logo] {padding:40px 0 0;background-position:50% 0;background-size:auto 39px;text-align:center}

/* 테이블 : 합계 */
[class*="tbl_type"] tfoot.txt_data:before {display:none;}
[class*="tbl_type"] tfoot.txt_data td {text-align:right;height:75px;font-size:0;}
[class*="tbl_type"] tfoot.txt_data:not(.t2) td {background:#fff;}
[class*="tbl_type"] tfoot.txt_data.t2 td {padding:16px 30px 17px;background:#f4fbfd;}

/* 테이블 : 평점 */
[class*="tbl_type"] .icon_com3 em {font-weight:400; font-size:14px; color:#020219;}

/* 테이블 : 아코디언 */
[class*="tbl_type"][data-accordion] {overflow:visible;}
[class*="tbl_type"][data-accordion] .btn_toggle {position:relative; width:35px; height:40px;}
[class*="tbl_type"][data-accordion] tr.area1 {display:table-row; cursor:pointer;}
[class*="tbl_type"][data-accordion] tr.area1 td {padding-top:14px;padding-bottom:14px;}
[class*="tbl_type"][data-accordion] tr.area1 td strong {overflow:hidden; display:inline-block;max-width:calc(100% - 70px);font-weight:400;text-overflow:ellipsis; white-space:nowrap;vertical-align:middle;}
/*[class*="tbl_type"][data-accordion] tr.area1 td strong { display:block; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; max-height:36px; }*/
[class*="tbl_type"][data-accordion] tr.area1 td:last-child {text-align:left; padding:0 9px 0 0;}
[class*="tbl_type"][data-accordion] tr.area2 > td {padding:0;border-top-width:0;height:0;}
[class*="tbl_type"][data-accordion] tr.area2 > td > .cont {overflow:hidden;height:0;}
[class*="tbl_type"][data-accordion] tr.area1 > td:first-child, [class*="tbl_type"][data-accordion] tr th:first-child {padding-left:24px;}
[class*="tbl_type"][data-accordion] tr.area1 td strong ~ [class*="icon_"] {margin-left:5px;}
[class*="tbl_type"][data-accordion] tr.area1.open td {height:auto;}
[class*="tbl_type"][data-accordion] tr.area1.open td strong {display:inline-block; white-space:normal; max-height:100%; font-weight:700;}
[class*="tbl_type"][data-accordion] .open + .area2 {display:table-row;}
[class*="tbl_type"][data-accordion] .open + .area2 td {height:auto; overflow:visible;border-top-width:1px; border-bottom:1px solid #adb1b6; background:#fafafa; font-size:14px; text-align:left; line-height:1.5;}
[class*="tbl_type"][data-accordion] .open + .area2 td img {width:100% !important;}
[class*="tbl_type"][data-accordion] .open + .area2 .cont {overflow:auto; height:auto; padding:24px; max-height:514px; line-height:1.7;}

/* 테이블 : 간격 */
[class*="tbl_type"].panel:after {display:none;}
[class*="tbl_type"] + [class*="choice_type"] {margin-top:10px;}
[class*="tbl_type"] + [class*="tbl_type"] {margin-top:20px;}
.txt_data_wrap + [class*="tbl_type"] {margin-top:10px;}
.txt_type1 + [class*="tbl_type"] {margin-top:16px;}
.tit_type + fieldset > [class*="tbl_type"]:nth-child(2) {margin-top:4px;}
.form_type + [class*="tbl_type"] {margin-top:20px;}
.mes_type2 + [class*="tbl_type"] {margin-top:-1px;}

/* 테이블 : IE */
@media screen and (min-width:0\0) {
	[class*="tbl_type"][data-accordion] .open + .area2 .cont .btn_wrap1:last-child {padding-bottom:24px;}
}
/* 테이블 : IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	[class*="tbl_type"] div[class*="inp_area"] {margin:-8px 0 -8px -6px;width:calc(316px + 16px );}
}

/*--------------------------------------------------------------------------------
	# 테이블 :유형1
---------------------------------------------------------------------------------*/
.tbl_type1:before, .tbl_type1:after {content:""; display:block; position:absolute; top:0; left:0; right:0; height:1px; /*z-index:2;*/ background:#5b646e;}
.tbl_type1:after {top:auto; bottom:0;background:#adb1b6;}
/*.tbl_type1 tbody > tr:last-child > th,
.tbl_type1 tbody > tr:last-child > td {padding-bottom:8px;}*/
.tbl_type1 tfoot tr:last-child > th {background:#fafafa;}
.tbl_type1 tfoot td > strong {font-size:16px;}

/* 테이블 : 가로형 */
.tbl_type1 tbody th {width:149px; background:#eff2f6;}
.tbl_type1 tbody td {text-align:left;}
.tbl_type1 tbody td.editor li {padding-left:10px; position:relative;}
.tbl_type1 tbody td.editor li:before {content:''; display:block; position:absolute; top:9px; left:0; width:4px; height:2px; border-radius:50%; background:#020219;}
.tbl_type1 tbody td .question {font-size:13px; padding-bottom:5px; margin-top:10px; display:block;}
.tbl_type1 tbody td .answer {font-size:13px; padding-bottom:5px; display:block;}
.tbl_type1 tbody td .question:before {content:'Q.'; font-weight:700; color:#24aae1; display:inline-block; margin-right:5px;}
.tbl_type1 tbody td .answer:before {content:'A.'; font-weight:700; color:#5b646e; display:inline-block; margin-right:5px;}
.tbl_type1 tbody td textarea + .question {margin-top:15px;}

.tbl_type1 tbody + tbody th[scope="col"] {text-align:left;}
.tbl_type1 tbody + tbody th[scope="col"] > b {display:inline-block;margin-right:10px;width:139px;text-align:center;}
.tbl_type1 /*tbody + */tbody > tr > th[scope="rowgroup"] {border-right:1px solid #dee0e2;background:#eff2f6;}

/* 테이블 : 세로형 */
.tbl_type1 thead th, .tbl_type1 thead ~ tbody th, .tbl_type1 thead ~ tbody td, .tbl_type1 thead ~ tfoot th, .tbl_type1 thead ~ tfoot td {border:1px solid #dee0e2;text-align:center;}
.tbl_type1 thead tr:last-child th,.tbl_type1 thead tr th[scope="col"],.tbl_type1 thead ~ tbody tr:last-child th,.tbl_type1 thead ~ tbody tr:last-child td,.tbl_type1 thead ~ tbody tr th[rowspan],.tbl_type1 thead ~ tbody tr td[rowspan] {border-bottom-width:0;}
.tbl_type1 thead ~ tbody th {background:none;}
.tbl_type1 th:first-child, .tbl_type1 td:first-child {border-left:0;}
.tbl_type1 th:last-child, .tbl_type1 td:last-child {border-right:0;}

/* 테이블 : 휴대폰인증 */
.tbl_type1 .tbl_cert .btn_type2 {width:116px;}
.tbl_type1 .tbl_cert b.txt_c2 {margin-left:10px; font-size:13px;}

/* 테이블 : 인원선택 */
.tbl_type1 td.form_count,
.tbl_type1 td.form_count:last-child {padding:9px 10px 11px;}

/* 테이블 : 비자선택 */
.tbl_type1.choice_type4 td {height:61px;}
.tbl_type1.choice_type4 tbody > tr:last-child td {height:62px;}
.tbl_type1.choice_type4 tbody > tr > td:first-child > span {display:block;font-size:12px;}
.tbl_type1.choice_type4 label {min-width:0;margin:-15px -12px; border:0; width:calc(100% + 24px); text-align:left;}
.tbl_type1.choice_type4 label:before {height:60px;}

/* 테이블 : 주소 */
.tbl_type1 .tbl_addr {margin-top:7px;}
.tbl_type1 .tbl_addr .txt {width:40px;}
.tbl_type1 .tbl_addr span.inp_type1 {width:127px;}
.tbl_type1 .tbl_addr div.inp_type1 {display:block;margin:8px 0 0 2px;width:calc(100% - 4px);}
.tbl_type1 .tbl_addr .txt ~ div.inp_type1 {margin-left:49px;width:calc(100% - 52px);}
.tbl_type1 .tbl_addr > strong:first-child {display:block;padding:5px 0;}

/* 테이블 : 타입 */
.tbl_type1 .tbl_t1 {display:inline-block;vertical-align:middle;margin-top:0;margin-bottom:0;}
.tbl_type1 .tbl_t2 {padding:0 12px}
.tbl_type1 .tbl_t3 {margin:0;width:100%;min-width:0;}
.tbl_type1 .tbl_t3.arr1 {position:relative;text-align:left;}
.tbl_type1 .tbl_t3.arr1:after {position:absolute;top:50%;right:10px;margin:-5px 0;}
.tbl_type1 .tbl_t4 {position:relative;text-align:left;}
.tbl_type1 .tbl_t4 > * {display:inline-block;margin-right:5px;vertical-align:top;}
.tbl_type1 .tbl_t4 > * > strong {display:block;}
.tbl_type1 .tbl_t4 > time {color:#5b646e;}
.tbl_type1 .tbl_t4 > .sub {position:absolute;top:50%;right:0;margin:-12px 0;}
.tbl_type1 td.tbl_t4 > .sub {top:10px;right:10px;margin:0;}
.tbl_type1 .tbl_t5 {margin:-7px -10px;text-align:left;}
.tbl_type1 .tbl_t5 > li {padding:7px 10px;margin:0;box-sizing:border-box;}
.tbl_type1 .tbl_t5 > li:not(.inp_area), .tbl_type1 .tbl_t5 > [class*="choice_type"] {display:block;}
.tbl_type1 .tbl_t5 > * + * {border-top:1px solid #dee0e2;}
.tbl_type1 .tbl_t5 > [class*="choice_type"] {padding:14px 10px 14px 35px;margin:0;}
.tbl_type1 .tbl_t5 > [class*="choice_type"] em:before {left:10px;}
.tbl_type1 .tbl_t5 > [class*="choice_type"] em:after {left:14px;}
.tbl_type1 th.tbl_t5 > [class*="choice_type"] {padding:0 0 0 35px;}
.tbl_type1 th.tbl_t5 > [class*="choice_type"] em {font-weight:400;}
.tbl_type1 .tbl_t6 {font-size:13px; line-height:1.4; color:#8693a0;}
.tbl_type1 .tbl_t7 {white-space:pre-line;}
.tbl_type1 .tbl_t8 {padding-top:13px; padding-bottom:13px; color:#020219;}
.tbl_type1 .tbl_t8 .txt_info {margin:0 0 4px;color:initial;font-weight:700;}
.tbl_type1 .inp_area > .select_type1 {width:380px;}
.tbl_type1 .th_rline {border-right:1px solid #dee0e2; position:relative;}
.tbl_type1 .th_rline:before {content:''; width:820px; height:1px; background-color:#adb1b6; position:absolute; top:-1px; left:0; right:0;}

/* 테이블 : H 36px */
.tbl_type1.t1 th, .tbl_type1.t1 td {height:37px;}

/* 테이블 : THEAD 가로형 */
.tbl_type1.t2 thead th:not([scope="row"]) {background:#fff;font-weight:400;}
.tbl_type1.t2 thead ~ tbody th {background:#eff2f6;}
.tbl_type1.t2 tbody > tr:first-child > th,
.tbl_type1.t2 tbody > tr:first-child > td {border-top-color:#dee0e2;}
.tbl_type1.t2 th[scope="row"] {border-right:0;text-align:center;}
.tbl_type1.t2 th[scope="row"] + th,
.tbl_type1.t2 th[scope="row"] + td {border-left:0;}

 /* 테이블 : IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	[class*="tbl_type"] {border-top:1px solid #5b646e; border-bottom:1px solid #adb1b6;}
	[class*="tbl_type"]:before, [class*="tbl_type"]:after {display:none;}
	.tbl_type1 .tbl_t5 > li > .txt3 {width:50% !important;white-space:normal;text-align:left;line-height:1.5;}
}

/*--------------------------------------------------------------------------------
	# 테이블 :유형2
---------------------------------------------------------------------------------*/
.tbl_type2 {border-top:1px solid #5b646e; border-bottom:1px solid #adb1b6;}
.form_search1 + .tbl_type2 {margin-top:20px;}
.tbl_type2 .filter .form_filter {position:absolute; top:100%; max-height:398px; margin-left:-10px; text-align:left; border:2px solid #24aae1; z-index:10;}
.tbl_type2 .filter th.on {color:#fff; background-color:#24aae1;}
.tbl_type2 .filter th:not(.on) .form_filter {display:none;}
.tbl_type2 .filter th:nth-child(1) .form_filter {width:194px;}
.tbl_type2 .filter th > a:after {content:""; width:9px; height:5px; margin-right:-9px; margin-left:5px; background:url("../img/common/icon_set2.png") no-repeat -280px -140px; display:inline-block;}
.tbl_type2 .filter th.on > a:after {background-position: -180px -120px;}
.tbl_type2 tbody .txt_data strong {font-weight:700;}
.tbl_type2 td {padding-top:14px;padding-bottom:14px;}


/* 테이블 : 링크 */
.tbl_type2 a[class^="link"] {overflow:hidden; float:left; max-width:calc(100% - 30px); color:#020219; text-align:left; line-height:1.5em;text-overflow:ellipsis;}
.tbl_type2 a[class^="link"]:hover {color:#2096ce; text-decoration:underline;text-underline-position:under;}
.tbl_type2 a[class^="link"] + .icon_com1 {float:left; margin:2px 0 0 5px;}
.tbl_type2 a.link1 {white-space:nowrap;}
.tbl_type2 a.link2 {display:-webkit-inline-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;max-height:3.0em;}

/* 테이블 : 타입 */
.tbl_type2 .tbl_t1 th, .tbl_type2 .tbl_t1 td {background:#fafafa; font-weight:700;}
.tbl_type2 .tbl_t1 th {color:#ff464d;}
.tbl_type2 .tbl_t1 + tbody tr:first-child th,
.tbl_type2 .tbl_t1 + tbody tr:first-child td {border-top-color:#dee0e2 !important;}

/* 테이블 : 조회중 */
.tbl_type2 tbody:nth-last-child(2) .mes_data_ing {padding:40px 10px 35px !important;}
.tbl_type2 tbody:nth-last-child(2) .mes_data_ing:after {top:74px;}

/* 테이블 : TR(:EVEN) */
.tbl_type2.t1 tbody tr:nth-child(even) > * {border-top:0; background:#fafafa; color:#5b646e; text-align:left;}
.tbl_type2.t1 tbody tr:nth-child(even) > th {text-align:center;}
.tbl_type2.t1 tbody tr:nth-child(even) > td > span {display:inline-block;width:85%;vertical-align:top;}
.tbl_type2.t1 tbody tr > td.align_left {color:#5b646e;}
.tbl_type2.t1 a.link {display:block; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; max-height:3em; white-space:normal;}

/* 테이블 : 객실예약 */
.tbl_type2 tr.info {display:none;}
/*.tbl_type2 tr.info td {position:relative;margin-bottom:-1px;padding:23px;font-size:12px !important;border:2px solid #5b646e;background-color:#fff;} */
.tbl_type2 tr.info td {position:relative;padding:23px;border:2px solid #5b646e;}
.tbl_type2 tr.info fieldset {text-align:left;}
.tbl_type2 tr.info fieldset > [class*="area"] {position:relative;float:left;box-sizing:border-box;}
.tbl_type2 tr.info fieldset > [class*="area"] > strong {display:inline-block;margin-bottom:8px;font-size:14px;color:#24aae1;}
.tbl_type2 tr.info fieldset > [class*="area"] .inp_area > strong {width:40px;}
.tbl_type2 tr.info fieldset > .area1 ~ [class*="area"] {padding-left:17px;}
.tbl_type2 tr.info fieldset > .area1 {width:25%; min-height:276px;}
.tbl_type2 tr.info fieldset > .area1 .inp_area:not(:last-child) {margin-bottom:14px !important;}
.tbl_type2 tr.info fieldset > .area1 .txt_type1.t2 {position:absolute; left:0; bottom:-5px; width:100%;}
.tbl_type2 tr.info fieldset > .area2 {position:relative;padding-left:39px !important;width:45%;}
.tbl_type2 tr.info fieldset > .area2:before {content:'';position:absolute;left:17px;top:0;bottom:0;width:1px;height:100%;background:#dee0e2;}
.tbl_type2 tr.info fieldset > .area2 .form_count.t1 {overflow:auto;height:200px;margin-top:15px;font-size:16px;}
.tbl_type2 tr.info fieldset > .area2 p.mes_data_none {height:200px;margin-top:15px;padding:85px 0 0 !important;color:#80808b;border:0;border-radius:0;box-sizing:border-box;}
.tbl_type2 tr.info fieldset > .area2 p.mes_data_none:before {display:none;}
.tbl_type2 tr.info fieldset > .area3 {width:30%;padding-bottom:21px;}
.tbl_type2 tr.info fieldset > .area3 .txt_data {margin:0;padding:20px 20px 80px;border:1px solid #7fc8e6;}
.tbl_type2 tr.info fieldset > .area3 .txt_data dt:not(.total) {font-size:13px;line-height:28px;font-weight:400;}
.tbl_type2 tr.info fieldset > .area3 .txt_data dd {line-height:28px;vertical-align:top;}
.tbl_type2 tr.info fieldset > .area3 .txt_data dd > strong {width:auto;font-size:20px;font-weight:700;}
.tbl_type2 tr.info fieldset > .area3 .txt_data dd > strong + span {display:inline-block;margin:0 0 2px 0;font-size:15px;}
.tbl_type2 tr.info fieldset > .area3 .txt_data dt.total,
.tbl_type2 tr.info fieldset > .area3 .txt_data dt.total + dd {margin-top:10px;padding-top:16px;border-top:1px dashed #dee0e2;}
.tbl_type2 tr.info fieldset > .area3 .txt_data dt.total + dd > strong {font-size:28px;}
.tbl_type2 tr.info fieldset > .area3 .btn_wrap1 {width:calc(100% - 42px);margin:-69px auto 0;}
.tbl_type2 tr.info fieldset > .area3 .btn_wrap1 [class*="btn_"] {width:100%;}
.tbl_type2 tr.info fieldset > [class*="area"] [data-tooltip] {float:right;margin-right:4px;}
.tbl_type2 tr.info td > button {position:absolute;right:-50px;top:-2px;width:0;height:50px;padding-left:50px;background-color:#5b646e;overflow:hidden;}
.tbl_type2 tr.info td > button:before {content:"";position:absolute;left:50%;top:50%; width:17px;height:16px;margin:-8px 0 0 -8px;background:url("../img/common/icon_set1.png") no-repeat -400px -240px;display:inline-block;}
.tbl_type2 tr.info:hover td {background:#fff !important;}
.tbl_type2 .on > td {border-bottom:2px solid #5b646e;}
.tbl_type2 .on + tr.info {display:table-row;z-index:1;}

@media screen and (min-width:0\0) and (min-resolution:.001dpcm) { /* IE9 */
	.tbl_type2 tr.info fieldset > [class*="area"] [class*="inp_area"] > [class*="select_type"] {width:100%;}
	.tbl_type2 tr.info fieldset > [class*="area"] [class*="inp_area"] > .normal {min-width:110px;}
	.tbl_type2 tr.info fieldset > .area1 .inp_area:not(:last-child) {margin-bottom:0 !important;}
}

/*--------------------------------------------------------------------------------
	# 테이블 :유형3
---------------------------------------------------------------------------------*/
.tbl_type3 {width:100%; table-layout:fixed;}
.tbl_type3 tbody th {padding:18px 12px 18px 0 !important; text-align:left !important; letter-spacing:-0.03em !important; border-top:0 !important; vertical-align:top !important;}
.tbl_type3 tbody td {padding:5px 0 !important; border-top:0 !important; text-align:left !important;}
.tbl_type3 tbody td > [class*="select_type"],
.tbl_type3 tbody td > [class*="inp_type"] {width:100%;}
.tbl_type3 tbody th .btn_txt.icm2 {margin-left:-20px; font-size:14px; color:#020219;}
.tbl_type3 tbody th .btn_txt.icm3 {margin-right:-20px; font-size:14px; color:#020219;}
.tbl_type3 td > [class*="inp_area"] {width:calc(100% - 121px);}
.tbl_type3 td > [class*="inp_area"].w1 {width:100%;}
.tbl_type3 td [class*="inp_area"] + [class*="btn_type"] {min-width:113px; margin-left:4px; padding:0 5px;}
.tbl_type3 td .btn_type4 {font-size:14px}
.tbl_type3 [class*="inp_"], .tbl_type3 [class*="select_"], .tbl_type3 [class*="btn_"], .tbl_type3 [class*="txt"], .tbl_type3 [class*="text_"] {margin-left:0;margin-right:0;}

/*--------------------------------------------------------------------------------
	# 테이블 :유형4
---------------------------------------------------------------------------------*/
.tbl_type4 {border-bottom:1px solid #adb1b6; z-index:1;}
.tbl_type4 thead th {padding:0 !important; height:38px !important; border-top:0 !important; background:#5b646e; color:#fff;}
.tbl_type4 tbody th,
.tbl_type4 tbody td {padding:5px 10px !important;}
.tbl_type4 tbody th {padding-left:20px !important; text-align:left !important;}
.tbl_type4 tbody tr:first-child th,
.tbl_type4 tbody tr:first-child td {border-top:0;}
.tbl_type4 td:last-child > .btn_small {width:60px;}
.tbl_type4 td > time {font-size:16px; font-weight:700;}
.tbl_type4 td > time > span {display:inline-block; position:relative; margin-left:5px; margin:-4px -22px 0 5px; min-width:15px; height:15px; background:#fff; border:1px solid #24aae1; border-radius:2px; font-size:10px; line-height:15px; font-family:'Nanum Gothic'; color:#2096ce; vertical-align:middle; letter-spacing:-0.08em; text-align:center;}
.tbl_type4 td > time > span:before {content:''; display:block; position:absolute; top:50%; left:-3px; margin:-2px 0; width:3px; height:3px; background:#fff; border-left:1px solid #24aae1; border-top:1px solid #24aae1; transform:rotate(-45deg)}
.tbl_type4 td > i {vertical-align:middle;}
.tbl_type4 td > .icon_txt2 {border-color:#24aae1;}
.tbl_type4 td > .icon_txt2.c7 {background-color:#24aae1; color:#fff;}
/* 말줄임필요시
.tbl_type4 td > em {overflow:hidden; display:inline-block; position:relative; padding-right:35px; max-width:60%; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;}
.tbl_type4 td > em > i {position:absolute; top:0; right:0;} */
.tbl_type4 [data-air-logo] {font-size:14px !important;}
/*.tbl_type4 td .tooltip_type {width:250px;}*/
.tbl_type4 label[class*="choice_type"] input:checked {opacity:1; -webkit-appearance:none; appearance:none; z-index:-1; left:-25px; top:-16px; width:1048px; height:51px; border:0; background:#e9f6fc}
.tbl_type4 label[class*="choice_type"] input:checked::-ms-check {display:none;}
.tbl_type4 label[class*="choice_type"] + [data-tooltip] {margin:0 -40px 0 0;}
.tbl_type4 th label[class*="choice_type"]:nth-last-child(2) {max-width:65%;}
.tbl_type4 th label[class*="choice_type"]:nth-last-child(2) > em {overflow:hidden; height:20px; max-width:100%; text-overflow:ellipsis; white-space:nowrap;}

@media screen and (min-width:0\0) and (min-resolution:.001dpcm) { /* IE9 */
	.tbl_type4 label[class*="choice_type"] input:checked {opacity:0;}
}

/*--------------------------------------------------------------------------------
	# 테이블그룹형 :총예상요금활용
---------------------------------------------------------------------------------*/
.tbl_group {overflow:hidden; display:table; table-layout:fixed; width:100%; border-top:1px solid #5b646e; border-bottom:1px solid #adb1b6;}
.tbl_group > [class*="area"] {display:table-cell;}
.tbl_group > .area1 > .txt_type1 {padding:0 14px;}
.tbl_group > .area2 {padding:11px 20px 15px; width:200px; border-left:1px solid #dee0e2; vertical-align:middle;}
.tbl_group .txt_data {padding:0;}
.tbl_group .txt_data > dt {display:block; font-size:16px;}
.tbl_group .txt_data > dd {margin:0;}
.tbl_group .txt_data strong {font-size:32px !important;}
.tbl_group .txt_data strong + span {font-size:18px !important;}
.tbl_group .tbl_type1 {margin-top:-1px;}
.tbl_group .tbl_type1 td {text-align:right;}
.tbl_group .tbl_type1 td:last-child {font-weight:700;}
.tbl_group .tbl_type1 tbody th strong {color:#2096ce;}
.tbl_group .tbl_type1 tbody tr + tr th,
.tbl_group .tbl_type1 tbody tr + tr td {border-top:0;}
.tbl_group .btn_type4 {margin-top:16px; width:100%;}

/* ##############################
	# 테이블 컨텐츠
	# table[data-table="네임"]
############################## */
/*--------------------------------------------------------------------------------
	# 테이블 :할인쿠폰
---------------------------------------------------------------------------------*/
table[data-table="saleprice"] .txt {font-size:14px;}
table[data-table="saleprice"] .txt + .btn_type2 {margin-left:14px;}
table[data-table="saleprice"] .inp_type1 {width:180px !important;}
table[data-table="saleprice"] .btn_txt {margin-left:10px;}
table[data-table="saleprice"] .btn_small2 {position:absolute; right:12px; z-index:22; margin:0 !important;}
table[data-table="saleprice"] td {position:relative; padding-bottom:7px;}
table[data-table="saleprice"] .choice_type2 {position:absolute; top:15px; left:229px;}
/* [M 2020-01-15] 유의사항 세로 가운데 정렬 되기 때문에 삭제
table[data-table="saleprice"] tr:first-child .btn_small2 {top:27px;}
table[data-table="saleprice"] tr:last-child .btn_small2 {bottom:27px;}
*/
table[data-table="saleprice"] .choice_type1 em {font-weight:700;}
table[data-table="saleprice"] .tbl_row + .txt_info {margin-left:0;}
table[data-table="saleprice"] .txt_info {margin-left:8px;}
table[data-table="saleprice"] .txt_info.txt_couponInfo{font-size:14px; vertical-align:middle}
table[data-table="saleprice"] .txt_info.txt_couponInfo strong{font-family:'Spoca Han Sans'}
table[data-table="saleprice"] .txt_info li:first-child:before {margin-right:0;}
table[data-table="saleprice"] .txt_info li:last-child:after {margin-left:0;}
table[data-table="saleprice"] .select_type1 {margin-left:10px; width:210px;}
table[data-table="saleprice"] .txt_indent {margin-left:23px;}

/*--------------------------------------------------------------------------------
	# 테이블 :사용가능쿠폰
---------------------------------------------------------------------------------*/
table[data-table="tblcoupon"] td.align_left > strong {max-height:44px;display:inline-block;overflow:hidden;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;text-overflow:ellipsis;font-size:16px;}
table[data-table="tblcoupon"] td.align_left > .txt_type1 dt {visibility:hidden;overflow:hidden;position:absolute;left:-1px !important;top:-1px;width:1px;height:1px;opacity:0;z-index:-1;}
table[data-table="tblcoupon"] td.align_left > .txt_type1{font-size:13px; line-height:1.6; color:#5b646e;}
table[data-table="tblcoupon"] td.align_left > .txt_type1 li:before{background:#5b646e;}
table[data-table="tblcoupon"] td.align_left:first-child > *{margin-left:14px;}
table[data-table="tblcoupon"] td.align_left:first-child > .txt_type1{margin-top:2px;}
table[data-table="tblcoupon"] td.align_left > label[class*="choice_type"] em{font-size:16px; font-weight:700; line-height:23px;}
table[data-table="tblcoupon"] td time {font-size:13px;}
table[data-table="tblcoupon"] td time:nth-child(odd):before {display:none;}

/*--------------------------------------------------------------------------------
	# 테이블 :객실요청사항
---------------------------------------------------------------------------------*/
table[data-table="roomrequest"], 
table[data-table="roomrequest"] tbody {display:block;}
table[data-table="roomrequest"]:before {display:none;}
table[data-table="roomrequest"] tbody > tr {display:table; table-layout:fixed; width:100%;}
table[data-table="roomrequest"] tbody > tr > th,
table[data-table="roomrequest"] tbody > tr > td {border-top-color:#5b646e;}
table[data-table="roomrequest"] tbody > tr:first-child:nth-last-child(2) > th,
table[data-table="roomrequest"] tbody > tr:first-child:nth-last-child(2) > td {border-top-color:#ffc7c9 !important; border-bottom:1px solid #ffc7c9;}
table[data-table="roomrequest"] tbody > tr:first-child:nth-last-child(2) > th {background-color:#ffeced;}
table[data-table="roomrequest"] tbody > tr + tr {margin-top:8px;}
table[data-table="roomrequest"] tbody > tr > th {width:149px;}
table[data-table="roomrequest"] .choice_type2 {margin-left:2px;margin-right:2px;}
table[data-table="roomrequest"] .w2 {width:188px !important;box-sizing:border-box;}

/*--------------------------------------------------------------------------------
	# 테이블 :여행자, 탑승자 정보
---------------------------------------------------------------------------------*/
table[data-table="info"] tbody tr + tr td, 
table[data-table="info"] tbody tr + tr th {border-top:0;}
table[data-table="info"] tbody th {text-align:center !important;}
table[data-table="info"] th:first-child:nth-last-child(2) {background:#eff2f6;}
table[data-table="info"] tr:nth-child(2n+1) th[scope="rowgroup"],
table[data-table="info"] tr:nth-child(2n+1) th[scope="rowgroup"] ~ td,
table[data-table="info"] th:first-child:nth-last-child(2), table[data-table="info"] td[colspan] {border-top:1px solid #dee0e2;}
table[data-table="info"] tr th[scope="rowgroup"] {background:none;}
/*--------------------------------------------------------------------------------
	# 테이블 :호텔총요금
---------------------------------------------------------------------------------*/
table[data-table="hotelprice"] thead ~ tbody th {text-align:left; font-weight:400; line-height:1.5;}
table[data-table="hotelprice"] tbody th > a {display:block; color:#020219; font-weight:700; text-decoration:underline;}
table[data-table="hotelprice"] tbody th > a:hover {color:#2096ce;} 
/*--------------------------------------------------------------------------------
	# 테이블 :카드정보입력
---------------------------------------------------------------------------------*/
table[data-table="cardnum"] [class*="inp_area"] > .txt {min-width:24px; text-align:center;}
table[data-table="cardnum"] [class*="inp_area"] > .txt + [class*="inp_type"] {margin-left:4px !important;}
/*--------------------------------------------------------------------------------
	# 테이블 :취소/환불규정
---------------------------------------------------------------------------------*/
table[data-table="tblcancel"] .tbl_logo {text-align:center;}
table[data-table="tblcancel"] .tbl_logo [data-air-logo] {padding-left:0; padding-top:40px; background-position:50% 0; background-size:auto 34px;}
/*--------------------------------------------------------------------------------
	# 테이블 :상세정보
---------------------------------------------------------------------------------*/
table[data-table="tbllocalinfo"] tr:nth-child(1) > td > .select_type1 {width:300px;}
table[data-table="tbllocalinfo"] tr:nth-child(2) > td time {overflow:hidden; margin-right:6px;}
table[data-table="tbllocalinfo"] tr:nth-child(2) > td time b {float:left; margin-right:5px;}
table[data-table="tbllocalinfo"] tr:nth-child(3) > td {padding:0;}
table[data-table="tbllocalinfo"] tr:nth-child(4) > td span + span:before {content:''; display:inline-block; margin:0 11px 0 7px; width:1px; height:13px; background:#d5d7d9; vertical-align:middle;}
table[data-table="tbllocalinfo"] tr:nth-child(5) > td a {display:block; position:relative; padding-left:8px; color:#2096ce; text-decoration:underline;}
table[data-table="tbllocalinfo"] tr:nth-child(5) > td a:before {content:''; display:block; position:absolute; top:7px; left:0; width:3px; height:3px; border-radius:50%; background:#2096ce;}
/*--------------------------------------------------------------------------------
	# 테이블 :출발일비교
---------------------------------------------------------------------------------*/
table[data-table="tblcompare"] tbody tr:hover th, table[data-table="tblcompare"] tbody tr:hover td:not([class*="mes_data"]) {background:#eef8fd;}
table[data-table="tblcompare"] tr > *:first-child {padding-left:15px;}
table[data-table="tblcompare"] a.link {font-weight:700; font-size:15px;}
table[data-table="tblcompare"] time {display:block;}
table[data-table="tblcompare"] time + time {margin-top:4px;}
table[data-table="tblcompare"] time + time:before {display:none;}
table[data-table="tblcompare"] td {padding-top:16px;padding-bottom:16px;}
table[data-table="tblcompare"] td.align_left {font-weight:700;font-size:15px;}
table[data-table="tblcompare"] td.align_bot {vertical-align:bottom;}
table[data-table="tblcompare"] .btn_type3 {min-width:0;width:100px;}
table[data-table="tblcompare"] .txt_data s {margin-right:0;}
table[data-table="tblcompare"] .txt_data strong {font-size:22px;}
table[data-table="tblcompare"] [data-air-logo] {padding:23px 0 0 0; background-position:50% 2px; background-size:auto 15px;}
table[data-table="tblcompare"] [class*="ict"]:before {display:block; position:relative; margin:0 auto 3px;}
table[data-table="tblcompare"] [data-flag] {display:block;padding:3px 0 4px;background:none;border:0;color:#24aae1;font-size:12px;text-align:left;}
table[data-table="tblcompare"] [data-flag="22"] {color:#f64690;} /* 이벤트 */
table[data-table="tblcompare"] [data-flag="63"] {color:#24aae1;} /* 마감임박 */
table[data-table="tblcompare"] [data-flag="64"] {color:#c94b11;} /* 땡처리 */
table[data-table="tblcompare"] [data-flag="65"] {color:#5e5ed7;} /* 출발확정 */
table[data-table="tblcompare"] [data-flag="66"] {color:#ff464d;} /* 단1회 */
table[data-table="tblcompare"] [data-flag="67"] {color:#9b7a66;} /* KATA우수여행 */
/*--------------------------------------------------------------------------------
	# 테이블 :영수증
---------------------------------------------------------------------------------*/
table[data-table="tblreceipt"] th {text-align:left;}
table[data-table="tblreceipt"] th > span {font-size:12px;color:#7c838b;}
table[data-table="tblreceipt"] > tfoot > tr:last-child > th {height:49px;padding:14px 10px 14px;border-top:1px solid #dee0e2;background:#eff2f6;font-size:14px;line-height:1.4;text-align:left;box-sizing:border-box;letter-spacing:-0.07em}
table[data-table="tblreceipt"] > tfoot > tr:last-child > td {background:#fff;text-align:left;}

/*--------------------------------------------------------------------------------
	# 테이블 :호텔
---------------------------------------------------------------------------------*/
table[data-product="hotel"] tbody tr:hover th, [data-product="hotel"] tbody tr:hover td:not([class*="mes_data"]) {background:#eef8fd;}
table[data-product="hotel"] .btn_type3 {min-width:100px;}
table[data-product="hotel"] .btn_type3.ico17 {padding:0; width:172px; text-align:center;}
table[data-product="hotel"] tbody th .tit {margin-bottom:12px;}
table[data-product="hotel"] tbody th .tit > i:not(.icon_txt2), [data-product="hotel"] tbody th .tit > span {color:#7c838b;}
table[data-product="hotel"] tbody th .tit > span {display:inline-block; font-size:13px;}
table[data-product="hotel"] tbody th > .txt_c3 {font-size:12px; vertical-align:middle;}
table[data-product="hotel"] tbody th > [data-tooltip="info"] > em {font-size:13px;padding-right:0;vertical-align:baseline;}
table[data-product="hotel"] tbody th > [data-tooltip="info"] .tooltip_type {width:200px;}
table[data-product="hotel"] tbody th > [data-tooltip] + .txt_c3:before {content:''; display:inline-block; margin:0 9px 0 4px; width:1px; height:12px; background:#adb1b6; vertical-align:middle;}
table[data-product="hotel"] thead th span:not([data-tooltip]) {display:block;}
table[data-product="hotel"] tbody th .icon_txt2 {margin-left:2px; min-width:12px; padding:0 7px; line-height:16px; height:18px; border-radius:2px; box-sizing:border-box;}
table[data-product="hotel"] tbody th .icon_txt2:not(.t1) {padding:0 4px; background-color:transparent; line-height:16px;}
table[data-product="hotel"] tbody th {padding-right:0; text-align:left; font-size:17px; font-weight:400;}
table[data-product="hotel"] .txt_data {display:block; margin-right:20px;}
table[data-product="hotel"] .txt_data .icon_com2.ico4 {margin-top:-3px;}
table[data-product="hotel"] .txt_data strong {display:inline-block; width:calc(100% - 23px); font-size:22px;}

/*--------------------------------------------------------------------------------
	# 테이블 :여행안전정보
---------------------------------------------------------------------------------*/
table[data-table="tblwarning"] thead > tr > th {color:#020219}
table[data-table="tblwarning"] thead ~ tbody > tr > td {text-align:left; color:#020219}
table[data-table="tblwarning"] tbody > tr > th {position:relative;padding-left:32px;}
table[data-table="tblwarning"] tbody > tr > th:before {display:block;}
table[data-table="tblwarning"] tbody > tr > th:after {content:'';display:block;position:absolute;top:0;left:0;width:13px;height:100%;}
table[data-table="tblwarning"] tbody > tr > th.bg1 {color:#33449a;}
table[data-table="tblwarning"] tbody > tr > th.bg1:before {content:'남색경보'}
table[data-table="tblwarning"] tbody > tr > th.bg1:after {background-color:#33449a;}
table[data-table="tblwarning"] tbody > tr > th.bg2 {color:#ff9000;}
table[data-table="tblwarning"] tbody > tr > th.bg2:before {content:'황색경보'}
table[data-table="tblwarning"] tbody > tr > th.bg2:after {background-color:#ff9000;}
table[data-table="tblwarning"] tbody > tr > th.bg3 {color:#ff464d;}
table[data-table="tblwarning"] tbody > tr > th.bg3:before {content:'적색경보'}
table[data-table="tblwarning"] tbody > tr > th.bg3:after {background-color:#ff464d;}
table[data-table="tblwarning"] tbody > tr > th.bg4 {color: #000;}
table[data-table="tblwarning"] tbody > tr > th.bg4:before {content:'흑색경보'}
table[data-table="tblwarning"] tbody > tr > th.bg4:after {background-color:#000;}

/*--------------------------------------------------------------------------------
	# 테이블 :결제정보
---------------------------------------------------------------------------------*/
table[data-table="tblprice"] em, table[data-table="tblprice"] span {display:block;}
table[data-table="tblprice"] em {margin:4px 0;}
table[data-table="tblprice"] span {color:#5b646e;}
table[data-table="tblprice"] .icon_txt2 + .icon_txt2 {margin-left:3px;}
table[data-table="tblprice"] > tfoot > tr > td,
table[data-table="tblprice"] > thead ~ tbody > tr > td {text-align:right;}
table[data-table="tblprice"] > tfoot > tr > td, table[data-table="tblprice"] > tfoot > tr > th {background:#f4fbfd !important;}
table[data-table="tblprice"] > tfoot > tr > td[rowspan] {font-weight:700;}
/*table[data-table="tblprice2"] > tfoot > tr > td {background:#fff !important;}
table[data-table="tblprice2"] > tfoot > tr > td > strong {font-size:16px;}
table[data-table="tblprice2"] > tfoot > tr > th:first-child {background:#f4fbfd !important;}*/
table[data-table="tblprice3"] td {padding:11px 25px !important; height:146px; position:relative;}
table[data-table="tblprice3"] td:after {content:''; clear:both; display:block; height:49px;}
table[data-table="tblprice3"] td .sub {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:flex; flex-direction:row; flex-wrap:wrap; align-items:center; align-content:center; justify-content:center; position:absolute; left:0; bottom:0; padding:0 20px; width:100%; height:49px; background:#f7f7f8; font-size:12px; color:#8693a0; box-sizing:border-box;letter-spacing:-0.05em;}
table[data-table="tblprice3"] td dt {float:left; width:58%; text-align:left;}
table[data-table="tblprice3"] td dd {float:right;}
table[data-table="tblprice3"] td dt, table[data-table="tblprice3"] td dd {margin:4px 0;font-size:13px;}
table[data-table="tblprice3"] td dt.sub {justify-content:flex-start;}
table[data-table="tblprice3"] td dd.sub {left:auto; right:0; width:50%; text-align:right; justify-content:flex-end;}
table[data-table="tblprice3"] td dt.sub,
table[data-table="tblprice3"] td dd.sub {margin:0; color:#020219; font-size:13px;}
table[data-table="tblprice3"] td:last-child span.sub {color:#ff464d; font-size:13px; text-align:center;}
table[data-table="tblprice3"] td:last-child span.sub time {display:block}
table[data-table="tblprice3"] td:last-child span.sub time + time:before {display:none;}
table[data-table="tblprice3"] td .txt_data > strong {font-size:23px;}
table[data-table="tblprice3"] td .txt_data > em {color:#020219;}
table[data-table="tblprice3"] td:not(:first-child):before {content:""; display:block; position:absolute; left:-13px; top:38px; width:10px; height:10px; border:7px  solid #fff; box-shadow:0 0 0 1px #aeb2b7; border-radius:50%; background-repeat:no-repeat; background-color:#fff;}
table[data-table="tblprice3"] td:nth-child(2):before {background-image:none, linear-gradient(#020219, #020219), linear-gradient(#020219, #020219); background-size:10px 2px, 2px 10px; background-position:0 4px, 4px 0;}
table[data-table="tblprice3"] td:nth-child(3):before, table[data-table="tblprice3"] td:nth-child(4):before {background-image:none, linear-gradient(#020219,#020219), linear-gradient(#020219,#020219); background-size:10px 2px; background-position:0 4px;}
table[data-table="tblprice3"] td:nth-child(4):before {background-image:none, linear-gradient(#020219,#020219), linear-gradient(#020219,#020219); background-size:10px 2px; background-position:0 2px, 0 6px;}

/* 테이블 :결제정보 : IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	table[data-table="tblprice3"] td:not(:first-child):before {display:none;}
}

/*--------------------------------------------------------------------------------
	# 테이블 :항공스케줄
---------------------------------------------------------------------------------*/
table[data-table="tblschedule"] td:not(:only-child) {height:70px;}
table[data-table="tblschedule"] tbody > tr:last-child > td {height:71px;}
table[data-table="tblschedule"] .tbl_logo {padding-left:10px;padding-right:10px;text-align:center;}
table[data-table="tblschedule"] .tbl_logo > span {padding-left:25px;}
table[data-table="tblschedule"] .tbl_logo [data-air-logo] {display:inline-block; text-align:left; background-position:0 0;font-weight:400;}
table[data-table="tblschedule"] cite {margin-right:3px; color:#adb1b6;}
table[data-table="tblschedule"] td > strong {overflow:hidden; display:block; display:-webkit-box; -webkit-box-pack:center; max-height:40px; line-height:20px; text-align:center; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
table[data-table="tblschedule"] td > span, table[data-table="tblschedule"] td > time {display:block;}
table[data-table="tblschedule"] td > span {font-size:13px;}
table[data-table="tblschedule"] td > ul {margin:-7px 0; display:flex; display:-ms-flexbox; flex-direction:column; height:calc(100% + 14px);}
table[data-table="tblschedule"] td > ul > li {overflow:hidden; -ms-flex:1; flex:1; padding:5px; min-height:24px; border-top:1px solid #dee0e2; white-space:nowrap; text-overflow:ellipsis;}
table[data-table="tblschedule"] td > ul > li:before {content:''; display:inline-block; height:103%; vertical-align:middle;}
table[data-table="tblschedule"] td > ul > li:first-child {border-top:0;}
table[data-table="tblschedule"] thead th, table[data-table="tblschedule"] tbody td {padding-left:0; padding-right:0}
table[data-table="tblschedule"] tbody th, table[data-table="tblschedule"] tbody > tr:last-child:not(:first-child):not(.codeshare) > td {height:48px;background:#f4fbfd !important; text-align:center !important; font-weight:700;}
table[data-table="tblschedule"] tbody > tr:nth-child(2n):not(:last-child) > td {border-top:0;}
table[data-table="tblschedule"] tbody > tr:nth-child(2n -1):not(:last-child) > td {border-bottom:0;height:83px}
table[data-table="tblschedule"] tbody > tr:only-child > td {background:#fff !important;font-weight:400;}
table[data-table="tblschedule"] tr.codeshare td {border-top:0;}
table[data-table="tblschedule"] tr.codeshare [class*="area"] p {font-size:13px;}
table[data-table="tblschedule"] [class*="area"] {padding:13px 30px; border-top:1px dashed #dee0e2; text-align:left; font-size:13px;}
table[data-table="tblschedule"] [class*="area"] cite:before {content:''; display:inline-block; margin:-2px 4px 0 0; width:3px; height:3px; background:#adb1b6; border-radius:50%; vertical-align:middle;}
table[data-table="tblschedule"] [class*="area"]:first-child {margin-top:-7px;}
table[data-table="tblschedule"] [class*="area"]:last-child {margin-bottom:-7px;}
table[data-table="tblschedule"] .area1 {background:#f7f7f8;}
table[data-table="tblschedule"] .area1 > .area2,
table[data-table="tblschedule"] .area2 > .area2 {display:block; padding:0; margin:0; border-top:0;}

/* 테이블 :항공스케줄 : IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	table[data-table="tblschedule"] td > ul {height:auto;}
}

/*--------------------------------------------------------------------------------
	# 테이블 :항공목록
---------------------------------------------------------------------------------*/
table[data-table="tblflight"] tr:hover td:not([class*="mes_data_"]) {background-color:#eef8fd;}
table[data-table="tblflight"] td {padding-top:7px;padding-bottom:7px;}
table[data-table="tblflight"] .tbl_logo {text-align:center;}
table[data-table="tblflight"] .tbl_logo [data-air-logo] {display:inline-block;padding:10px 0 10px 39px;background-size:auto 28px;font-size:16px;}
table[data-table="tblflight"] .icon_txt2 {margin:0 4px 2px 0;vertical-align:text-bottom;}
table[data-table="tblflight"] .txt_data s {width:100%;}
table[data-table="tblflight"] .txt_data strong {font-size:22px;}
table[data-table="tblflight"] .txt_data3 {position:relative; font-size:14px; font-weight:400;}
table[data-table="tblflight"] .txt_data3 time {display:block;}
table[data-table="tblflight"] .txt_data3 time b {color:#2096ce;}
table[data-table="tblflight"] .txt_data3 em:before {position:absolute;top:17px;left:-25px;}
table[data-table="tblflight"] [data-tooltip="priceinfo"]:hover .tooltip_type {left:0;right:auto;width:180px}

/*--------------------------------------------------------------------------------
	# 테이블 > 회원혜택
---------------------------------------------------------------------------------*/
table[data-table="tblmembership"] thead > tr > th {border-bottom:1px solid #dee0e2; background-color:transparent;}
table[data-table="tblmembership"] thead > tr > th:before {content:''; width:80px; height:80px; background:url('../img/common/icon_set4.png') no-repeat; display:block; margin:5px auto 10px;}
table[data-table="tblmembership"] thead > tr > th[data-grade="f"]:before {background-position:0 0;}
table[data-table="tblmembership"] thead > tr > th[data-grade="b"]:before {background-position:-80px 0;}
table[data-table="tblmembership"] thead > tr > th[data-grade="s"]:before {background-position:-160px 0;}
table[data-table="tblmembership"] thead > tr > th[data-grade="g"]:before {background-position:-240px 0;}
table[data-table="tblmembership"] thead > tr > th[data-grade="p"]:before {background-position:-320px 0;}
table[data-table="tblmembership"] thead > tr > th + th {border-left:1px solid #dee0e2;}
table[data-table="tblmembership"] tbody > tr:first-child td {padding-top:18px;}
table[data-table="tblmembership"] tbody > tr > td {vertical-align:top;padding:0 10px 18px; border-top:0;}
table[data-table="tblmembership"] tbody > tr > td em {width:140px; margin:0 auto 15px; font-size:13px; color:#020219; display:block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

/* ##############################
	# 테이블 스크롤 컨텐츠
	# [data-table-scroll="테이블이름"]
	# tbody height/ td, th width 정의
############################## */
table[data-table-scroll] {display:block;}
table[data-table-scroll] > tbody {display:block !important; overflow:hidden !important; overflow-y:auto !important; border-top:1px solid #adb1b6}
table[data-table-scroll] > thead, table[data-table-scroll] > tbody > tr {display:table; table-layout:fixed; width:100%; border-collapse:collapse;}
table[data-table-scroll] > tbody > tr + tr {margin-top:-1px;}
table[data-table-scroll] > thead {position:relative;/*width:calc(100% - 17px);*/}
/*table[data-table-scroll] > thead th:last-child:after {content:'';display:block;position:absolute;top:0;bottom:0;right:-17px;width:17px;height:100%;background:#eff2f6;}*/
table[data-table-scroll] > tbody > tr > th, table[data-table-scroll] > tbody > tr > td {display:table-cell !important;}
table[data-table-scroll] > tbody > tr:first-child > th, table[data-table-scroll] > tbody > tr:first-child > td {border-top:0 !important;}
table[data-table-scroll] tbody.mes_data_none {overflow:hidden;border-left:0;border-right:0;border-bottom:0;border-radius:0;}
table[data-table-scroll] tbody.mes_data_none td {font-size:17px;}
table.tbl_type1[data-table-scroll]:before {z-index:2;}
table.tbl_type4[data-table-scroll] > thead th:last-child:after {background:#5b646e;}

/* 테이블 스크롤 컨텐츠 : IE9 */
@media screen and (min-width:0\0) and (min-resolution:.001dpcm) {
	table[data-table-scroll] {display:table;}
	table[data-table-scroll] > tbody {display:table-row-group !important; height:auto !important;}
	table[data-table-scroll] > thead {display:table-header-group !important;}
	table[data-table-scroll] > tbody > tr {display:table-row !important;}
	table[data-table-scroll] > thead th:last-child:after,
	table[data-table-scroll] tbody.mes_data_none:before {display:none;}
} 

/*--------------------------------------------------------------------------------
	# 테이블 스크롤 :기본
---------------------------------------------------------------------------------*/
/* 세로테이블 : 내용 + 상태 + 처리일시 */
table[data-table-scroll="tbltype1"] tbody {max-height:245px;}
table[data-table-scroll="tbltype1"] tr > *:nth-child(2) {width:100px;}
table[data-table-scroll="tbltype1"] tr > *:nth-child(3) {width:150px;}

/* 가로테이블 : 149px */
table[data-table-scroll="tbltype2"]:before, table[data-table-scroll="tbltype2"]:after {display:none;}
table[data-table-scroll="tbltype2"] tbody {max-height:540px;border-bottom:1px solid #adb1b6}
table[data-table-scroll="tbltype2"] tbody th {width:149px;}

/* 가로테이블 : thead와 같이 스크롤 */
table[data-table-scroll="tbltype3"] {overflow:hidden; overflow-y:scroll;max-height:580px;border-top:1px solid #adb1b6;border-bottom:1px solid #adb1b6}
table[data-table-scroll="tbltype3"]:before, table[data-table-scroll="tbltype3"]:after {display:none;}
table[data-table-scroll="tbltype3"] thead {display:block; width:100% !important;}
table[data-table-scroll="tbltype3"] thead > tr {display:table;table-layout:fixed;width:100%;}
table[data-table-scroll="tbltype3"] thead > tr > th {display:table-cell;}
table[data-table-scroll="tbltype3"] tbody {overflow:visible !important;border-top-color:#dee0e2;}
table[data-table-scroll="tbltype3"] tbody th, table[data-table-scroll="tbltype3"] thead th[scope="row"] {width:149px;}

/*--------------------------------------------------------------------------------
	# 테이블 스크롤 :좌석가능한 항공 정보
---------------------------------------------------------------------------------*/
table[data-table-scroll="tableSeatInfo"] tbody {height:149px;}
table[data-table-scroll="tableSeatInfo"] tr > *:nth-child(1) {width:24%;}
table[data-table-scroll="tableSeatInfo"] tr > *:nth-child(2) {width:24%;}
table[data-table-scroll="tableSeatInfo"] tr > *:nth-child(3) {width:14%;}
table[data-table-scroll="tableSeatInfo"] tr > *:nth-child(4) {width:24%;}
table[data-table-scroll="tableSeatInfo"] tr > *:nth-child(5) {width:14%;}
table[data-table-scroll="tableSeatInfo"] tr > *:nth-child(6) {width:10%;}
/*--------------------------------------------------------------------------------
	# 테이블 스크롤 :상세보기
---------------------------------------------------------------------------------*/
table[data-table-scroll="tblviewdetial"] > tbody {max-height:344px;}
table[data-table-scroll="tblviewdetial"] > tbody > tr + tr {margin-top:0;}

/*--------------------------------------------------------------------------------
	# 테이블 스크롤 :국내항공
---------------------------------------------------------------------------------*/
/* 국내항공_검색결과_항공편선택 */
table[data-table-scroll="tblflightlist"] tbody {height:525px;}
table[data-table-scroll="tblflightlist"] tr > *:nth-child(1) {width:auto;}
table[data-table-scroll="tblflightlist"] tr > *:nth-child(2) {width:130px;}
table[data-table-scroll="tblflightlist"] tr > *:nth-child(3) {width:70px;}
table[data-table-scroll="tblflightlist"] tr > *:nth-child(4) {width:94px;}
table[data-table-scroll="tblflightlist"] tr > *:nth-child(5) {width:45px;}
table[data-table-scroll="tblflightlist"] tr > th:nth-child(5) {text-align:left;}

/* 국내항공_서브메인_제주할인항공 */
table[data-table-scroll="tblflightlist2"] tbody {max-height:304px;}
table[data-table-scroll="tblflightlist2"] tr > *:nth-child(1) {width:6%;}
table[data-table-scroll="tblflightlist2"] tr > *:nth-child(2) {width:15%;}
table[data-table-scroll="tblflightlist2"] tr > *:nth-child(3) {width:15%;}
table[data-table-scroll="tblflightlist2"] tr > *:nth-child(4) {width:8%;}
table[data-table-scroll="tblflightlist2"] tr > *:nth-child(5) {width:18%;}
table[data-table-scroll="tblflightlist2"] tr > *:nth-child(6) {width:auto;}
table[data-table-scroll="tblflightlist2"] tr > *:nth-child(7) {width:7%;}
table[data-table-scroll="tblflightlist2"] tr > *:nth-child(8) {width:12%;}
table[data-table-scroll="tblflightlist2"] tr:last-child [data-tooltip] .tooltip_type {top:auto;bottom:100%;margin-bottom:5px;}
table[data-table-scroll="tblflightlist2"] [data-tooltip] {position:relative}

/*--------------------------------------------------------------------------------
	# 테이블 스크롤 :마이페이지(예약/결제)
---------------------------------------------------------------------------------*/
table[data-table-scroll="tableInterestFree"] tbody {max-height:490px;}
table[data-table-scroll="tableInterestFree"] tr > *:nth-child(1) {width:22%;}
table[data-table-scroll="tableInterestFree"] tr > *:nth-child(2) {width:15%;}
table[data-table-scroll="tableInterestFree"] tr > *:nth-child(3) {width:auto;color:#5b646e;}
table[data-table-scroll="tableInterestFree"] tr > *:nth-child(4) {width:14%;}

/*--------------------------------------------------------------------------------
	# 테이블 스크롤 :할인쿠폰
---------------------------------------------------------------------------------*/
table[data-table-scroll="tblcoupon"] tbody {max-height:300px;}
table[data-table-scroll="tblcoupon"] tr > *:nth-child(1) {width:auto;}
table[data-table-scroll="tblcoupon"] tr > *:nth-child(2) {width:110px;}
table[data-table-scroll="tblcoupon"] tr > *:nth-child(3) {width:210px;}

/* ##############################
	# 테이블 OBMS에서 입력되는 컨텐츠
############################## */
/*--------------------------------------------------------------------------------
	# 마이페이지(예약/결제) 호텔 1:1 예약상담 상세
---------------------------------------------------------------------------------*/
.common_gray2 {position:relative; width:100%;}
.common_gray2:before,
.common_gray2:after {content:""; display:block; position:absolute; top:0; left:0; right:0; height:1px;background:#5b646e;}
.common_gray2:after {top:auto; bottom:0; background:#adb1b6;}
.common_gray2 th, .common_gray2 td {padding:7px 10px;height:37px;border-top:1px solid #dee0e2;font-size:14px;line-height:1.4;text-align:center;box-sizing:border-box;word-break:break-all;letter-spacing:-0.05em;}
.common_gray2 > thead th {background:#eff2f6;}
.common_gray2 > tbody > tr:first-child > td {border-top:1px solid #adb1b6 !important;}
.common_gray2 thead th,
.common_gray2 thead ~ tbody td {border:1px solid #dee0e2; text-align:center;}
.common_gray2 th:first-child, 
.common_gray2 td:first-child {border-left:0;}
.common_gray2 th:last-child, 
.common_gray2 td:last-child {border-right:0;}
.common_gray2 > thead tr th {border-bottom-width:0;}
.common_gray2 > tbody td:first-child {font-weight:700;}

/*--------------------------------------------------------------------------------
	# 현지투어 상세보기
---------------------------------------------------------------------------------*/
[data-table="detailinfo"] tbody td > img {width:100%; height:auto; object-fit:cover;}

/*--------------------------------------------------------------------------------
	# 마이페이지(예약확인/결제) > 예약/결제 > 해외호텔
---------------------------------------------------------------------------------*/
.content.hotel [class*="tbl_type"] td {text-align:left;}