@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 약관 및 정책
############################## */
/*--------------------------------------------------------------------------------
	# 상단영역
---------------------------------------------------------------------------------*/
.mes_type4.img1{height:180px; background:url("../img/terms/bg_mes.png") no-repeat; padding:34px 30px 0;color:#fff;}
.mes_type4 > h1{font-size:28px;}
.mes_type4 > p{font-size:15px; line-height:1.47;}
.mes_type4 > p:before{content:""; display:block; width:32px; height:2px; background-color:#fff; margin:13px 0 15px;}
.mes_type4 + .tab_type{margin-top:30px;}

/*--------------------------------------------------------------------------------
	# 컨텐츠영역
---------------------------------------------------------------------------------*/
ul[data-tab="utabinfo"] li a:before{min-height:46px;}
ul[data-tab="utabinfo"] li a > span{font-size:14px; line-height:1.2; margin:5px 0;}

[data-tab="utabinfo"].tab_type + .terms_type, .terms_type > .txt_type1.t3 + [class*="tit"]{margin-top:25px;}
.terms_type > [class^="tit"]{font-size:19px;margin-top:60px;}
.terms_type > [class^="tit_s"] {font-size:16px;margin:36px 0 10px;}
.terms_type:not(dl) > *:not([class]) {font-size:14px; line-height:23px; margin:0;}
.terms_type > .tit_type h1, .terms_type > h1.tit_type{font-size:23px; color:#020219;}
.terms_type > .tit_type h1 + p{font-size:14px !important; color:#020219; margin-top:21px !important;}
.terms_type > .tit_type p + .sub {bottom:auto; top:-1px;}
.terms_type > .tit_type .sub{bottom:-3px;}
.terms_type > .tit_type .sub > .select_type1{width:170px; margin-right:6px;}
.terms_type > .tit_type + table {margin-top:15px;}
.terms_type > .tit_type + .panel{margin-top:30px;}
.terms_type > .txt_type1.box_area {background:#f0f5fb; height:auto; column-count:2 !important; column-fill:balance; border:0; border-radius:3px; color:#020219; white-space:unset; padding:20px 25px; margin-top:26px;}
.terms_type > .txt_type1.box_area > li + li {margin:10px 0 0;}
.terms_type > table + .panel{margin-top:35px;}
.terms_type table td > .btn_txt{display:inline !important; font-weight:bold;}
.terms_type > dl:only-of-type > dt{margin-top:21px;}
.terms_type > dl:only-of-type > *:not(dt){margin-top:22px;}
.terms_type > dl:only-of-type + p.txt_type2{color:#2096ce !important; margin-top:23px;}

.panel > [data-tab="utabinfo_sub"] {margin:-5px 0 35px;}
.panel > [data-tab="utabinfo_sub"] > iframe + .btn_wrap1 .sub {top:-16px; font-size:14px; color:#5b646e;}
.panel > [data-tab="utabinfo_sub"] > iframe + .btn_wrap1 .sub + .btn_type4 {margin:32px 0 0;}
.box_area[data-tab="utabinfo_sub"]{background-color:transparent; border:1px solid #24aae1; border-top:0; padding:30px 20px; margin-top:-35px;}
.box_area[data-tab="utabinfo_sub"] > table{color:#020219;}

/*--------------------------------------------------------------------------------
	# 팝업 (해외 랜드사 전체보기)
---------------------------------------------------------------------------------*/
article[class*="pop_"]:not([class*="pop_print"]){padding:30px 15px;}
.pop_cont dl{font-size:14px;}

.terms_type > [class^="tit_s"] ~ ul li{margin-bottom:10px}
.terms_type > [class^="tit_s"] ~ ul li:last-child{margin-bottom:0}
