@charset "utf-8";
/* ##############################
	# 온라인투어 리뉴얼 2019
	# 여행정보
############################## */

div[data-tab*="utabdeclar"] {margin-top:10px;}
/*--------------------------------------------------------------------------------
	# 출입국/검역/세관 신고서 : 이미지
---------------------------------------------------------------------------------*/
.visual_sample {position:relative;padding:30px 30px 51px;height:auto;background:#ebedef;text-align:center;}
.visual_sample h1, .visual_sample h2, .visual_sample h3, .visual_sample h4, .visual_sample h5, .visual_sample h6 {overflow:hidden;position:absolute;padding-left:1px;width:0;height:0;white-space:nowrap;}
.visual_sample > p {overflow:hidden;position:absolute;left:50%;bottom:30px;padding-top:16px;margin:0 -135px;width:270px;height:0;}
.visual_sample > p:before {content:'';display:block;position:absolute;left:0;top:0;width:70px;height:16px;background:url("../img/common/icon_set3.png") no-repeat -640px 0;}
.visual_sample > p:after{content:'에서 제공해 드리는 샘플 이미지입니다.';position:absolute;left:70px;top:-1px;font-size:12px;color:#7c838b;font-weight:700;}
.visual_sample:before {content:'';display:inline-block;background-repeat:no-repeat;background-position:0 0;}
.visual_sample.t1:before {background-position:100% 0;}
.visual_sample.img4 {display:none;}
.visual_sample + .visual_sample {margin-top:30px;}

/* 동남아 : 대만 */
.visual_sample[data-name="asia1"].img1:before {width:456px;height:720px;background-image:url('../img/travel/visual_sample_asia1.png');}
.visual_sample[data-name="asia1"].img2 {display:none;}
/* 동남아 : 말레이시아 */
.visual_sample[data-name="asia2"].img1:before {width:700px;height:540px;background-image:url('../img/travel/visual_sample_asia2_1.png');}
.visual_sample[data-name="asia2"].img2:before {width:700px;height:540px;background-image:url('../img/travel/visual_sample_asia2_2.png');}
.visual_sample[data-name="asia2"].img3:before, .visual_sample[data-name="asia2"].img5:before {width:700px;height:541px;background-image:url('../img/travel/visual_sample_asia2_3.png');}
/* 동남아 : 베트남 */
.visual_sample[data-name="asia3"].img1:before {width:700px;height:540px;background-image:url('../img/travel/visual_sample_asia3_2.png');}
.visual_sample[data-name="asia3"].img2:before {width:364px;height:530px;background-image:url('../img/travel/visual_sample_asia3_1.png');}
.visual_sample[data-name="asia3"].img5:before {width:450px;height:644px;background-image:url('../img/travel/visual_sample_asia3_3.png');}
/* 동남아 : 싱가포르 */
.visual_sample[data-name="asia4"].img1:before {width:700px;height:448px;background-image:url('../img/travel/visual_sample_asia4_1.png');}
.visual_sample[data-name="asia4"].img2:before {width:380px;height:448px;background-image:url('../img/travel/visual_sample_asia4_2.png');}
/* 동남아 : 인도네시아 */
.visual_sample[data-name="asia5"].img1:before {width:700px;height:550px;background-image:url('../img/travel/visual_sample_asia5_1.png');}
.visual_sample[data-name="asia5"].img2:before {width:345px;height:500px;background-image:url('../img/travel/visual_sample_asia5_2.png');}
/* 동남아 : 캄보디아 */
.visual_sample[data-name="asia6"].img5:before {width:450px;height:866px;background-image:url('../img/travel/visual_sample_asia6_1.png');}
.visual_sample[data-name="asia6"].img6:before {width:450px;height:864px;background-image:url('../img/travel/visual_sample_asia6_2.png');}
/* 동남아 : 태국 */
.visual_sample[data-name="asia7"].img1:before {width:700px;height:634px;background-image:url('../img/travel/visual_sample_asia7_1.png');}
.visual_sample[data-name="asia7"].img2:before {width:700px;height:311px;background-image:url('../img/travel/visual_sample_asia7_2.png');}
/* 동남아 : 필리핀 */
.visual_sample[data-name="asia8"].img1:before {width:700px;height:495px;background-image:url('../img/travel/visual_sample_asia8_1.png');}
.visual_sample[data-name="asia8"].img2:before {width:450px;height:662px;background-image:url('../img/travel/visual_sample_asia8_2.png');}
.visual_sample[data-name="asia8"].img3:before {width:450px;height:687px;background-image:url('../img/travel/visual_sample_asia8_3.png');}
.visual_sample[data-name="asia8"].img5:before {width:500px;height:1159px;background-image:url('../img/travel/visual_sample_asia8_4.png');}
/* 동남아 : 네팔 */
.visual_sample[data-name="asia9"].img1:before {width:450px;height:574px;background-image:url('../img/travel/visual_sample_asia9_1.png');}
.visual_sample[data-name="asia9"].img2:before {width:450px;height:574px;background-image:url('../img/travel/visual_sample_asia9_2.png');}
/* 동남아 : 미얀마 */
.visual_sample[data-name="asia10"].img1:before {width:700px;height:599px;background-image:url('../img/travel/visual_sample_asia10_1.png');}
.visual_sample[data-name="asia10"].img2 {display:none;}
.visual_sample[data-name="asia10"].img3:before {width:450px;height:630px;background-image:url('../img/travel/visual_sample_asia10_2.png');}
.visual_sample[data-name="asia10"].img5:before {width:500px;height:916px;background-image:url('../img/travel/visual_sample_asia10_3.png');}
/* 동남아 : 라오스 */
.visual_sample[data-name="asia11"].img1:before {width:450px;height:679px;background-image:url('../img/travel/visual_sample_asia11_1.png');}
.visual_sample[data-name="asia11"].img2:before {width:450px;height:679px;background-image:url('../img/travel/visual_sample_asia11_2.png');}
/* 일본 : 일본 */
.visual_sample[data-name="japan1"].img1:before {width:428px;height:410px;background-image:url('../img/travel/visual_sample_japan1_1.png');}
.visual_sample[data-name="japan1"].img2:before {width:700px;height:410px;background-image:url('../img/travel/visual_sample_japan1_2.png');}
/* 중국 : 중국 */
.visual_sample[data-name="china1"].img1:before {width:700px;height:403px;background-image:url('../img/travel/visual_sample_china1_1.png');}
.visual_sample[data-name="china1"].img2:before {width:472px;height:403px;background-image:url('../img/travel/visual_sample_china1_2.png');}
.visual_sample[data-name="china1"].img3:before {width:450px;height:637px;background-image:url('../img/travel/visual_sample_china1_3.png');}
/* 중국 : 홍콩 */
.visual_sample[data-name="china2"].img1:before {width:450px;height:653px;background-image:url('../img/travel/visual_sample_china2_1.png');}
.visual_sample[data-name="china2"].img2 {display:none;}
.visual_sample[data-name="china2"].img3:before {width:450px;height:575px;background-image:url('../img/travel/visual_sample_china2_2.png');}
/* 남태평양 : 괌사이판 */
.visual_sample[data-name="pacific1"].img1:before {width:450px;height:1159px;background-image:url('../img/travel/visual_sample_pacific1_1.png');}
.visual_sample[data-name="pacific1"].img2:before {width:450px;height:1158px;background-image:url('../img/travel/visual_sample_pacific1_2.png');}
.visual_sample[data-name="pacific1"].img3:before {width:450px;height:902px;background-image:url('../img/travel/visual_sample_pacific1_3.png');}
.visual_sample[data-name="pacific1"].img4 {display:block;}
.visual_sample[data-name="pacific1"].img4:before {width:500px;height:1288px;background-image:url('../img/travel/visual_sample_pacific1_4.png');}
.visual_sample[data-name="pacific1"].img5:before {width:450px;height:902px;background-image:url('../img/travel/visual_sample_pacific1_5.png');}
/* 남태평양 : 호주 */
.visual_sample[data-name="pacific2"].img1:before {width:700px;height:615px;background-image:url('../img/travel/visual_sample_pacific2_1.png');}
.visual_sample[data-name="pacific2"].img2:before {width:700px;height:620px;background-image:url('../img/travel/visual_sample_pacific2_2.png');}
/* 남태평양 : 피지 */
.visual_sample[data-name="pacific3"].img1:before {width:450px;height:1494px;background-image:url('../img/travel/visual_sample_pacific3_1.png');}
.visual_sample[data-name="pacific3"].img2 {display:none;}
.visual_sample[data-name="pacific3"].img3:before {width:450px;height:534px;background-image:url('../img/travel/visual_sample_pacific3_2.png');}
.visual_sample[data-name="pacific3"].img5:before {width:450px;height:417px;background-image:url('../img/travel/visual_sample_pacific3_3.png');}
/* 남태평양 : 뉴질랜드 */
.visual_sample[data-name="pacific4"].img1:before {width:700px;height:342px;background-image:url('../img/travel/visual_sample_pacific4_1.png');}
.visual_sample[data-name="pacific4"].img2:before {width:700px;height:315px;background-image:url('../img/travel/visual_sample_pacific4_2.png');}
.visual_sample[data-name="pacific4"].img3:before {width:700px;height:342px;background-image:url('../img/travel/visual_sample_pacific4_3.png');}
.visual_sample[data-name="pacific4"].img5:before {width:700px;height:345px;background-image:url('../img/travel/visual_sample_pacific4_4.png');}
/* 유럽 : 영국 */
.visual_sample[data-name="europe1"].img1:before {width:450px;height:674px;background-image:url('../img/travel/visual_sample_europe1.png');}
.visual_sample[data-name*="europe"].img2 {display:none;}
/* 유럽 : 러시아 */
.visual_sample[data-name="europe2"].img1:before {width:450px;height:692px;background-image:url('../img/travel/visual_sample_europe2.png');}
/* 유럽 : 짐바브웨 */
.visual_sample[data-name="europe3"].img1:before {width:600px;height:900px;background-image:url('../img/travel/visual_sample_europe3.png');}
/* 유럽 : 탄자니아 */
.visual_sample[data-name="europe4"].img1:before {width:500px;height:692px;background-image:url('../img/travel/visual_sample_europe4.png');}
/* 유럽 : 케냐 */
.visual_sample[data-name="europe5"].img1:before {width:700px;height:544px;background-image:url('../img/travel/visual_sample_europe5.png');}
/* 유럽 : 남아공 */
.visual_sample[data-name="europe6"].img1:before {width:450px;height:908px;background-image:url('../img/travel/visual_sample_europe6.png');}
/* 미주 : 미국 */
.visual_sample[data-name="america1"].img1:before {width:450px;height:1159px;background-image:url('../img/travel/visual_sample_america1_1.png');}
.visual_sample[data-name="america1"].img2:before {width:450px;height:1158px;background-image:url('../img/travel/visual_sample_america1_2.png');}
.visual_sample[data-name="america1"].img3:before {width:450px;height:902px;background-image:url('../img/travel/visual_sample_america1_3.png');}
.visual_sample[data-name="america1"].img4 {display:block;}
.visual_sample[data-name="america1"].img4:before {width:450px;height:1126px;background-image:url('../img/travel/visual_sample_america1_4.png');}
.visual_sample[data-name="america1"].img5:before {width:450px;height:902px;background-image:url('../img/travel/visual_sample_america1_5.png');}
/* 미주 : 캐나다 */
.visual_sample[data-name="america2"].img1:before {width:500px;height:981px;background-image:url('../img/travel/visual_sample_america2_1.png');}
.visual_sample[data-name="america2"].img2 {display:none;}
.visual_sample[data-name="america2"].img5:before {width:500px;height:981px;background-image:url('../img/travel/visual_sample_america2_2.png');}
/* 미주 : 인도 */
.visual_sample[data-name="america3"].img1:before {width:450px;height:1026px;background-image:url('../img/travel/visual_sample_america3_1.png');}
.visual_sample[data-name="america3"].img2:before {width:450px;height:867px;background-image:url('../img/travel/visual_sample_america3_2.png');}

/*--------------------------------------------------------------------------------
	# 공항 이용안내 
---------------------------------------------------------------------------------*/
/* 장소 이미지 */
.visual_airport {margin-bottom:20px;padding-top:562px;}
.visual_airport .tit {position:absolute;top:0;left:0;right:0;height:54px;background:#7c838b;line-height:54px;font-size:19px;color:#fff;text-align:center;letter-spacing:-0.05em;}
.visual_airport .btn_small2 {position:absolute;top:15px;right:11px;color:#fff;background:none;}
.visual_airport .btn_small2:after {background-position:0 0;}
.visual_airport .btn_small2:not(:hover) {border-color:#fff;}
.visual_airport:after {content:'';display:block;position:absolute;top:55px;bottom:0;left:0;right:0; background-image:url('../img/travel/visual_airport.png'); background-repeat:no-repeat; background-size:100% auto; border:1px solid #cdd0d3; border-top:0;}
[data-update="up20200603"] .visual_airport.img1:after {background-image:url('../img/travel/pcmap_counter_N.jpg');}
[data-update="up20200603"] .visual_airport.img2:after {background-image:url('../img/travel/pcmap_counter_H.jpg');}
[data-update="up20200603"] .visual_airport.img3:after {background-image:url('../img/travel/pcmap_counter_kimpo.jpg');}
[data-update="up20200603"] .visual_airport.img4:after {background-image:url('../img/travel/pcmap_counter_A.jpg');}

/* 미팅장소 찾아가는법 */
.step_type.img_airport1 {background:url('../img/travel/visual_airport_step1.png') no-repeat 5px 0;}
.step_type.img_airport2 {background:url('../img/travel/visual_airport_step2.png') no-repeat 5px 0;}
.step_type.img_airport3 {background:url('../img/travel/visual_airport_step3.png') no-repeat 5px 0;}
.step_type.img_airport4 {background:url('../img/travel/visual_airport_step4.png') no-repeat 5px 0;}
.tab_type5 {margin:-10px 0 15px;}
.tab_type5 li a {padding:12px 48px;}
.tab_type5 + [data-tab="utabinfo"] {margin-top:25px;}

/*--------------------------------------------------------------------------------
	# 베스트 여행후기
---------------------------------------------------------------------------------*/
.data_view > .area1 > p {width:80%;}
.data_view > .area1 > p > strong {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.data_view > .area1 dl.box1 {width:20%;}